/*
 * МойСклад JSON API
 * API для манипуляции с сущностями и создания отчетов в онлайн-сервисе МойСклад.  ## Аутентификация  МойСклад поддерживает аутентификацию по протоколу Basic Auth и с использованием токена доступа: - Basic Auth: заголовок `Authorization` со значением пары `логин:пароль`, закодированным в Base64 - Bearer Token: заголовок `Authorization` со значением `Bearer <Access-Token>`  ## Ограничения  - Не более 45 запросов за 3 секундный период от аккаунта - Не более 5 параллельных запросов от одного пользователя   - Не более 20 параллельных запросов от аккаунта - Не более 20 Мб данных в одном запросе - Максимум 1000 элементов в массиве - Обязательное использование сжатия gzip 
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package ru.moysklad.remap_1_2.api;

import com.fasterxml.jackson.core.type.TypeReference;

import ru.moysklad.remap_1_2.ApiException;
import ru.moysklad.remap_1_2.ApiClient;
import ru.moysklad.remap_1_2.BaseApi;
import ru.moysklad.remap_1_2.Configuration;
import ru.moysklad.remap_1_2.Pair;

import ru.moysklad.remap_1_2.model.AttributeMetaInfo;
import ru.moysklad.remap_1_2.model.AttributeMetaInfoList;
import ru.moysklad.remap_1_2.model.Consignment;
import ru.moysklad.remap_1_2.model.ConsignmentList;
import ru.moysklad.remap_1_2.model.CreateConsignmentsBatch200ResponseInner;
import ru.moysklad.remap_1_2.model.DeleteContractsBatch200ResponseInner;
import ru.moysklad.remap_1_2.model.ErrorOrArray;
import ru.moysklad.remap_1_2.model.Metadata;
import java.util.UUID;


import java.util.ArrayList;
import java.util.Collections;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.StringJoiner;

@javax.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", date = "2026-06-18T09:20:10.487321760Z[GMT]", comments = "Generator version: 7.14.0")

public class ConsignmentsApi extends BaseApi {

  public ConsignmentsApi() {
    super(Configuration.getDefaultApiClient());
  }

  public ConsignmentsApi(ApiClient apiClient) {
    super(apiClient);
  }

  /**
   * Создать партию
   * Создание новой партии
   * @param consignment  (required)
   * @param expand Замена ссылок объектами с помощью expand (optional)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @return Consignment
   * @throws ApiException if fails to make API call
   */
  public Consignment createConsignment(@javax.annotation.Nonnull Consignment consignment, @javax.annotation.Nullable String expand, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType) throws ApiException {
    return this.createConsignment(consignment, expand, accept, acceptEncoding, contentType, Collections.emptyMap());
  }

  /**
   * Создать партию
   * Создание новой партии
   
   * @param consignment  (required)
   
   
   
   
   
   * @param options request options such as pagination, filters, expands, fields, sorting and additional headers
   * @return Consignment
   * @throws ApiException if fails to make API call
   */
  public Consignment createConsignment(@javax.annotation.Nonnull Consignment consignment, RequestOptions options) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.emptyIfNull(options);
    return this.createConsignment(consignment, (String) effectiveOptions.get("expand"), null, null, null, effectiveOptions.getAdditionalHeaders());
  }


  /**
   * Создать партию
   * Создание новой партии
   * @param consignment  (required)
   * @param expand Замена ссылок объектами с помощью expand (optional)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @param additionalHeaders additionalHeaders for this call
   * @return Consignment
   * @throws ApiException if fails to make API call
   */
  public Consignment createConsignment(@javax.annotation.Nonnull Consignment consignment, @javax.annotation.Nullable String expand, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = consignment;
    
    // verify the required parameter 'consignment' is set
    if (consignment == null) {
      throw new ApiException(400, "Missing the required parameter 'consignment' when calling createConsignment");
    }
    
    // create path and map variables
    String localVarPath = "/entity/consignment";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("expand", expand));
    if (accept != null)
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
if (acceptEncoding != null)
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));
if (contentType != null)
      localVarHeaderParams.put("Content-Type", apiClient.parameterToString(contentType));

    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<Consignment> localVarReturnType = new TypeReference<Consignment>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Создать доп. поле партии
   * Создание нового доп. поля для партий
   * @param attributeMetaInfo  (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @return AttributeMetaInfo
   * @throws ApiException if fails to make API call
   */
  public AttributeMetaInfo createConsignmentMetadataAttribute(@javax.annotation.Nonnull AttributeMetaInfo attributeMetaInfo, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType) throws ApiException {
    return this.createConsignmentMetadataAttribute(attributeMetaInfo, accept, acceptEncoding, contentType, Collections.emptyMap());
  }


  /**
   * Создать доп. поле партии
   * Создание нового доп. поля для партий
   * @param attributeMetaInfo  (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @param additionalHeaders additionalHeaders for this call
   * @return AttributeMetaInfo
   * @throws ApiException if fails to make API call
   */
  public AttributeMetaInfo createConsignmentMetadataAttribute(@javax.annotation.Nonnull AttributeMetaInfo attributeMetaInfo, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = attributeMetaInfo;
    
    // verify the required parameter 'attributeMetaInfo' is set
    if (attributeMetaInfo == null) {
      throw new ApiException(400, "Missing the required parameter 'attributeMetaInfo' when calling createConsignmentMetadataAttribute");
    }
    
    // create path and map variables
    String localVarPath = "/entity/consignment/metadata/attributes";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    if (accept != null)
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
if (acceptEncoding != null)
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));
if (contentType != null)
      localVarHeaderParams.put("Content-Type", apiClient.parameterToString(contentType));

    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<AttributeMetaInfo> localVarReturnType = new TypeReference<AttributeMetaInfo>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Создать или изменить партии
   * Создание или изменение нескольких партий.
   * @param consignment  (required)
   * @param expand Замена ссылок объектами с помощью expand (optional)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @return List&lt;CreateConsignmentsBatch200ResponseInner&gt;
   * @throws ApiException if fails to make API call
   */
  public List<CreateConsignmentsBatch200ResponseInner> createConsignmentsBatch(@javax.annotation.Nonnull List<Consignment> consignment, @javax.annotation.Nullable String expand, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType) throws ApiException {
    return this.createConsignmentsBatch(consignment, expand, accept, acceptEncoding, contentType, Collections.emptyMap());
  }

  /**
   * Создать или изменить партии
   * Создание или изменение нескольких партий.
   
   * @param consignment  (required)
   
   
   
   
   
   * @param options request options such as pagination, filters, expands, fields, sorting and additional headers
   * @return List&lt;CreateConsignmentsBatch200ResponseInner&gt;
   * @throws ApiException if fails to make API call
   */
  public List<CreateConsignmentsBatch200ResponseInner> createConsignmentsBatch(@javax.annotation.Nonnull List<Consignment> consignment, RequestOptions options) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.emptyIfNull(options);
    return this.createConsignmentsBatch(consignment, (String) effectiveOptions.get("expand"), null, null, null, effectiveOptions.getAdditionalHeaders());
  }


  /**
   * Создать или изменить партии
   * Создание или изменение нескольких партий.
   * @param consignment  (required)
   * @param expand Замена ссылок объектами с помощью expand (optional)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @param additionalHeaders additionalHeaders for this call
   * @return List&lt;CreateConsignmentsBatch200ResponseInner&gt;
   * @throws ApiException if fails to make API call
   */
  public List<CreateConsignmentsBatch200ResponseInner> createConsignmentsBatch(@javax.annotation.Nonnull List<Consignment> consignment, @javax.annotation.Nullable String expand, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = consignment;
    
    // verify the required parameter 'consignment' is set
    if (consignment == null) {
      throw new ApiException(400, "Missing the required parameter 'consignment' when calling createConsignmentsBatch");
    }
    
    // create path and map variables
    String localVarPath = "/entity/consignment/batch";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("expand", expand));
    if (accept != null)
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
if (acceptEncoding != null)
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));
if (contentType != null)
      localVarHeaderParams.put("Content-Type", apiClient.parameterToString(contentType));

    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<List<CreateConsignmentsBatch200ResponseInner>> localVarReturnType = new TypeReference<List<CreateConsignmentsBatch200ResponseInner>>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Удалить партию
   * Удаление Партии с указанным id
   * @param id ID сущности (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @throws ApiException if fails to make API call
   */
  public void deleteConsignment(@javax.annotation.Nonnull UUID id, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding) throws ApiException {
    this.deleteConsignment(id, accept, acceptEncoding, Collections.emptyMap());
  }


  /**
   * Удалить партию
   * Удаление Партии с указанным id
   * @param id ID сущности (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param additionalHeaders additionalHeaders for this call
   * @throws ApiException if fails to make API call
   */
  public void deleteConsignment(@javax.annotation.Nonnull UUID id, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling deleteConsignment");
    }
    
    // create path and map variables
    String localVarPath = "/entity/consignment/{id}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    if (accept != null)
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
if (acceptEncoding != null)
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));

    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    apiClient.invokeAPI(
        localVarPath,
        "DELETE",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        null
    );
  }

  /**
   * Удалить доп. поле партии
   * Удаление доп. поля
   * @param id ID сущности (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @throws ApiException if fails to make API call
   */
  public void deleteConsignmentMetadataAttribute(@javax.annotation.Nonnull UUID id, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding) throws ApiException {
    this.deleteConsignmentMetadataAttribute(id, accept, acceptEncoding, Collections.emptyMap());
  }


  /**
   * Удалить доп. поле партии
   * Удаление доп. поля
   * @param id ID сущности (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param additionalHeaders additionalHeaders for this call
   * @throws ApiException if fails to make API call
   */
  public void deleteConsignmentMetadataAttribute(@javax.annotation.Nonnull UUID id, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling deleteConsignmentMetadataAttribute");
    }
    
    // create path and map variables
    String localVarPath = "/entity/consignment/metadata/attributes/{id}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    if (accept != null)
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
if (acceptEncoding != null)
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));

    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    apiClient.invokeAPI(
        localVarPath,
        "DELETE",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        null
    );
  }

  /**
   * Удалить партии
   * Массовое удаление партий по их мета-объектам.
   * @param consignment  (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @return List&lt;DeleteContractsBatch200ResponseInner&gt;
   * @throws ApiException if fails to make API call
   */
  public List<DeleteContractsBatch200ResponseInner> deleteConsignmentsBatch(@javax.annotation.Nonnull List<Consignment> consignment, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType) throws ApiException {
    return this.deleteConsignmentsBatch(consignment, accept, acceptEncoding, contentType, Collections.emptyMap());
  }


  /**
   * Удалить партии
   * Массовое удаление партий по их мета-объектам.
   * @param consignment  (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @param additionalHeaders additionalHeaders for this call
   * @return List&lt;DeleteContractsBatch200ResponseInner&gt;
   * @throws ApiException if fails to make API call
   */
  public List<DeleteContractsBatch200ResponseInner> deleteConsignmentsBatch(@javax.annotation.Nonnull List<Consignment> consignment, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = consignment;
    
    // verify the required parameter 'consignment' is set
    if (consignment == null) {
      throw new ApiException(400, "Missing the required parameter 'consignment' when calling deleteConsignmentsBatch");
    }
    
    // create path and map variables
    String localVarPath = "/entity/consignment/delete";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    if (accept != null)
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
if (acceptEncoding != null)
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));
if (contentType != null)
      localVarHeaderParams.put("Content-Type", apiClient.parameterToString(contentType));

    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<List<DeleteContractsBatch200ResponseInner>> localVarReturnType = new TypeReference<List<DeleteContractsBatch200ResponseInner>>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Получить партию по ID
   * Запрос на получение Партии с указанным id
   * @param id ID сущности (required)
   * @param expand Замена ссылок объектами с помощью expand (optional)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @return Consignment
   * @throws ApiException if fails to make API call
   */
  public Consignment getConsignmentById(@javax.annotation.Nonnull UUID id, @javax.annotation.Nullable String expand, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding) throws ApiException {
    return this.getConsignmentById(id, expand, accept, acceptEncoding, Collections.emptyMap());
  }

  /**
   * Получить партию по ID
   * Запрос на получение Партии с указанным id
   
   * @param id ID сущности (required)
   
   
   
   
   * @param options request options such as pagination, filters, expands, fields, sorting and additional headers
   * @return Consignment
   * @throws ApiException if fails to make API call
   */
  public Consignment getConsignmentById(@javax.annotation.Nonnull UUID id, RequestOptions options) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.emptyIfNull(options);
    return this.getConsignmentById(id, (String) effectiveOptions.get("expand"), null, null, effectiveOptions.getAdditionalHeaders());
  }


  /**
   * Получить партию по ID
   * Запрос на получение Партии с указанным id
   * @param id ID сущности (required)
   * @param expand Замена ссылок объектами с помощью expand (optional)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param additionalHeaders additionalHeaders for this call
   * @return Consignment
   * @throws ApiException if fails to make API call
   */
  public Consignment getConsignmentById(@javax.annotation.Nonnull UUID id, @javax.annotation.Nullable String expand, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling getConsignmentById");
    }
    
    // create path and map variables
    String localVarPath = "/entity/consignment/{id}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("expand", expand));
    if (accept != null)
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
if (acceptEncoding != null)
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));

    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<Consignment> localVarReturnType = new TypeReference<Consignment>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Получить метаданные партий
   * Запрос на получение метаданных партий
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @return Metadata
   * @throws ApiException if fails to make API call
   */
  public Metadata getConsignmentMetadata(@javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding) throws ApiException {
    return this.getConsignmentMetadata(accept, acceptEncoding, Collections.emptyMap());
  }


  /**
   * Получить метаданные партий
   * Запрос на получение метаданных партий
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param additionalHeaders additionalHeaders for this call
   * @return Metadata
   * @throws ApiException if fails to make API call
   */
  public Metadata getConsignmentMetadata(@javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // create path and map variables
    String localVarPath = "/entity/consignment/metadata";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    if (accept != null)
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
if (acceptEncoding != null)
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));

    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<Metadata> localVarReturnType = new TypeReference<Metadata>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Получить доп. поле партии по ID
   * Запрос на получение отдельного доп. поля
   * @param id ID сущности (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @return AttributeMetaInfo
   * @throws ApiException if fails to make API call
   */
  public AttributeMetaInfo getConsignmentMetadataAttributeById(@javax.annotation.Nonnull UUID id, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding) throws ApiException {
    return this.getConsignmentMetadataAttributeById(id, accept, acceptEncoding, Collections.emptyMap());
  }


  /**
   * Получить доп. поле партии по ID
   * Запрос на получение отдельного доп. поля
   * @param id ID сущности (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param additionalHeaders additionalHeaders for this call
   * @return AttributeMetaInfo
   * @throws ApiException if fails to make API call
   */
  public AttributeMetaInfo getConsignmentMetadataAttributeById(@javax.annotation.Nonnull UUID id, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling getConsignmentMetadataAttributeById");
    }
    
    // create path and map variables
    String localVarPath = "/entity/consignment/metadata/attributes/{id}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    if (accept != null)
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
if (acceptEncoding != null)
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));

    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<AttributeMetaInfo> localVarReturnType = new TypeReference<AttributeMetaInfo>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Получить доп. поля партий
   * Запрос на получение всех доп. полей для партий
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @return AttributeMetaInfoList
   * @throws ApiException if fails to make API call
   */
  public AttributeMetaInfoList getConsignmentMetadataAttributes(@javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding) throws ApiException {
    return this.getConsignmentMetadataAttributes(accept, acceptEncoding, Collections.emptyMap());
  }


  /**
   * Получить доп. поля партий
   * Запрос на получение всех доп. полей для партий
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param additionalHeaders additionalHeaders for this call
   * @return AttributeMetaInfoList
   * @throws ApiException if fails to make API call
   */
  public AttributeMetaInfoList getConsignmentMetadataAttributes(@javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // create path and map variables
    String localVarPath = "/entity/consignment/metadata/attributes";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    if (accept != null)
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
if (acceptEncoding != null)
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));

    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<AttributeMetaInfoList> localVarReturnType = new TypeReference<AttributeMetaInfoList>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Получить список партий
   * Запрос всех партий на данной учетной записи
   * @param limit Максимальное количество элементов в выданном списке (максимум 1000) (optional, default to 1000)
   * @param offset Отступ в выданном списке (optional, default to 0)
   * @param search Контекстный поиск по строковым полям сущностей (optional)
   * @param filter Фильтрация выборки (optional)
   * @param expand Замена ссылок объектами с помощью expand (optional)
   * @param order Сортировка (optional)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @return ConsignmentList
   * @throws ApiException if fails to make API call
   */
  public ConsignmentList getConsignments(@javax.annotation.Nullable Integer limit, @javax.annotation.Nullable Integer offset, @javax.annotation.Nullable String search, @javax.annotation.Nullable String filter, @javax.annotation.Nullable String expand, @javax.annotation.Nullable String order, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding) throws ApiException {
    return this.getConsignments(limit, offset, search, filter, expand, order, accept, acceptEncoding, Collections.emptyMap());
  }

  /**
   * Получить список партий
   * Запрос всех партий на данной учетной записи
   
   
   
   
   
   
   
   
   * @param options request options such as pagination, filters, expands, fields, sorting and additional headers
   * @return ConsignmentList
   * @throws ApiException if fails to make API call
   */
  public ConsignmentList getConsignments(RequestOptions options) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.emptyIfNull(options);
    return this.getConsignments((Integer) effectiveOptions.get("limit"), (Integer) effectiveOptions.get("offset"), (String) effectiveOptions.get("search"), (String) effectiveOptions.get("filter"), (String) effectiveOptions.get("expand"), (String) effectiveOptions.get("order"), null, null, effectiveOptions.getAdditionalHeaders());
  }


  /**
   * Получить список партий
   * Запрос всех партий на данной учетной записи
   * @param limit Максимальное количество элементов в выданном списке (максимум 1000) (optional, default to 1000)
   * @param offset Отступ в выданном списке (optional, default to 0)
   * @param search Контекстный поиск по строковым полям сущностей (optional)
   * @param filter Фильтрация выборки (optional)
   * @param expand Замена ссылок объектами с помощью expand (optional)
   * @param order Сортировка (optional)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param additionalHeaders additionalHeaders for this call
   * @return ConsignmentList
   * @throws ApiException if fails to make API call
   */
  public ConsignmentList getConsignments(@javax.annotation.Nullable Integer limit, @javax.annotation.Nullable Integer offset, @javax.annotation.Nullable String search, @javax.annotation.Nullable String filter, @javax.annotation.Nullable String expand, @javax.annotation.Nullable String order, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // create path and map variables
    String localVarPath = "/entity/consignment";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
    localVarQueryParams.addAll(apiClient.parameterToPair("offset", offset));
    localVarQueryParams.addAll(apiClient.parameterToPair("search", search));
    localVarQueryParams.addAll(apiClient.parameterToPair("filter", filter));
    localVarQueryParams.addAll(apiClient.parameterToPair("expand", expand));
    localVarQueryParams.addAll(apiClient.parameterToPair("order", order));
    if (accept != null)
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
if (acceptEncoding != null)
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));

    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<ConsignmentList> localVarReturnType = new TypeReference<ConsignmentList>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Обновить партию
   * Обновление Партии с указанным id
   * @param id ID сущности (required)
   * @param consignment  (required)
   * @param expand Замена ссылок объектами с помощью expand (optional)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @return Consignment
   * @throws ApiException if fails to make API call
   */
  public Consignment updateConsignment(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull Consignment consignment, @javax.annotation.Nullable String expand, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType) throws ApiException {
    return this.updateConsignment(id, consignment, expand, accept, acceptEncoding, contentType, Collections.emptyMap());
  }

  /**
   * Обновить партию
   * Обновление Партии с указанным id
   
   * @param id ID сущности (required)
   
   
   * @param consignment  (required)
   
   
   
   
   
   * @param options request options such as pagination, filters, expands, fields, sorting and additional headers
   * @return Consignment
   * @throws ApiException if fails to make API call
   */
  public Consignment updateConsignment(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull Consignment consignment, RequestOptions options) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.emptyIfNull(options);
    return this.updateConsignment(id, consignment, (String) effectiveOptions.get("expand"), null, null, null, effectiveOptions.getAdditionalHeaders());
  }


  /**
   * Обновить партию
   * Обновление Партии с указанным id
   * @param id ID сущности (required)
   * @param consignment  (required)
   * @param expand Замена ссылок объектами с помощью expand (optional)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @param additionalHeaders additionalHeaders for this call
   * @return Consignment
   * @throws ApiException if fails to make API call
   */
  public Consignment updateConsignment(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull Consignment consignment, @javax.annotation.Nullable String expand, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = consignment;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling updateConsignment");
    }
    
    // verify the required parameter 'consignment' is set
    if (consignment == null) {
      throw new ApiException(400, "Missing the required parameter 'consignment' when calling updateConsignment");
    }
    
    // create path and map variables
    String localVarPath = "/entity/consignment/{id}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("expand", expand));
    if (accept != null)
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
if (acceptEncoding != null)
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));
if (contentType != null)
      localVarHeaderParams.put("Content-Type", apiClient.parameterToString(contentType));

    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<Consignment> localVarReturnType = new TypeReference<Consignment>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "PUT",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Обновить доп. поле партии
   * Обновление доп. поля для партий
   * @param id ID сущности (required)
   * @param attributeMetaInfo  (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @return AttributeMetaInfo
   * @throws ApiException if fails to make API call
   */
  public AttributeMetaInfo updateConsignmentMetadataAttribute(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull AttributeMetaInfo attributeMetaInfo, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType) throws ApiException {
    return this.updateConsignmentMetadataAttribute(id, attributeMetaInfo, accept, acceptEncoding, contentType, Collections.emptyMap());
  }


  /**
   * Обновить доп. поле партии
   * Обновление доп. поля для партий
   * @param id ID сущности (required)
   * @param attributeMetaInfo  (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @param additionalHeaders additionalHeaders for this call
   * @return AttributeMetaInfo
   * @throws ApiException if fails to make API call
   */
  public AttributeMetaInfo updateConsignmentMetadataAttribute(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull AttributeMetaInfo attributeMetaInfo, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = attributeMetaInfo;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling updateConsignmentMetadataAttribute");
    }
    
    // verify the required parameter 'attributeMetaInfo' is set
    if (attributeMetaInfo == null) {
      throw new ApiException(400, "Missing the required parameter 'attributeMetaInfo' when calling updateConsignmentMetadataAttribute");
    }
    
    // create path and map variables
    String localVarPath = "/entity/consignment/metadata/attributes/{id}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    if (accept != null)
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
if (acceptEncoding != null)
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));
if (contentType != null)
      localVarHeaderParams.put("Content-Type", apiClient.parameterToString(contentType));

    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<AttributeMetaInfo> localVarReturnType = new TypeReference<AttributeMetaInfo>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "PUT",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  @Override
  public <T> T invokeAPI(String url, String method, Object request, TypeReference<T> returnType, Map<String, String> additionalHeaders) throws ApiException {
    String localVarPath = url.replace(apiClient.getBaseURL(), "");
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarHeaderParams.putAll(additionalHeaders);

    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    return apiClient.invokeAPI(
      localVarPath,
        method,
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        request,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        returnType
    );
  }
}
