/*
 * МойСклад JSON API
 * API для манипуляции с сущностями и создания отчетов в онлайн-сервисе МойСклад.  ## Аутентификация  МойСклад поддерживает аутентификацию по протоколу Basic Auth и с использованием токена доступа: - Basic Auth: заголовок `Authorization` со значением пары `логин:пароль`, закодированным в Base64 - Bearer Token: заголовок `Authorization` со значением `Bearer <Access-Token>`  ## Ограничения  - Не более 45 запросов за 3 секундный период от аккаунта - Не более 5 параллельных запросов от одного пользователя   - Не более 20 параллельных запросов от аккаунта - Не более 20 Мб данных в одном запросе - Максимум 1000 элементов в массиве - Обязательное использование сжатия gzip 
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package ru.moysklad.remap_1_2.api;

import com.fasterxml.jackson.core.type.TypeReference;

import ru.moysklad.remap_1_2.ApiException;
import ru.moysklad.remap_1_2.ApiClient;
import ru.moysklad.remap_1_2.BaseApi;
import ru.moysklad.remap_1_2.Configuration;
import ru.moysklad.remap_1_2.Pair;

import ru.moysklad.remap_1_2.model.AttributeMetaInfo;
import ru.moysklad.remap_1_2.model.AttributeMetaInfoList;
import ru.moysklad.remap_1_2.model.BatchResponseEntity;
import ru.moysklad.remap_1_2.model.CreateCustomerOrderPositions200ResponseInner;
import ru.moysklad.remap_1_2.model.CustomerOrder;
import ru.moysklad.remap_1_2.model.CustomerOrderList;
import ru.moysklad.remap_1_2.model.CustomerOrderPosition;
import ru.moysklad.remap_1_2.model.CustomerOrderPositionList;
import ru.moysklad.remap_1_2.model.DeleteRowResult;
import ru.moysklad.remap_1_2.model.DocumentMetadata;
import ru.moysklad.remap_1_2.model.Errors;
import ru.moysklad.remap_1_2.model.EventNote;
import ru.moysklad.remap_1_2.model.EventNoteList;
import ru.moysklad.remap_1_2.model.ExportRequest;
import ru.moysklad.remap_1_2.model.Publication;
import ru.moysklad.remap_1_2.model.PublicationList;
import ru.moysklad.remap_1_2.model.State;
import ru.moysklad.remap_1_2.model.StateRowResult;
import java.util.UUID;


import java.util.ArrayList;
import java.util.Collections;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.StringJoiner;

@javax.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", date = "2026-09-01T11:48:09.280618073Z[GMT]", comments = "Generator version: 7.14.0")

public class CustomerOrdersApi extends BaseApi {

  public CustomerOrdersApi() {
    super(Configuration.getDefaultApiClient());
  }

  public CustomerOrdersApi(ApiClient apiClient) {
    super(apiClient);
  }

  /**
   * Создать CustomerOrders
   * 
   * @param customerOrder  (required)
   * @return CustomerOrder
   * @throws ApiException if fails to make API call
   */
  public CustomerOrder createCustomerOrder(@javax.annotation.Nonnull CustomerOrder customerOrder) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.empty();
    return this.createCustomerOrder(customerOrder, (String) effectiveOptions.get("expand"), null, null, null, effectiveOptions.getAdditionalHeaders());
  }


  /**
   * Создать CustomerOrders
   * 
   
   * @param customerOrder  (required)
   
   
   
   
   
   * @param options request options such as pagination, filters, expands, fields, sorting and additional headers
   * @return CustomerOrder
   * @throws ApiException if fails to make API call
   */
  public CustomerOrder createCustomerOrder(@javax.annotation.Nonnull CustomerOrder customerOrder, RequestOptions options) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.emptyIfNull(options);
    return this.createCustomerOrder(customerOrder, (String) effectiveOptions.get("expand"), null, null, null, effectiveOptions.getAdditionalHeaders());
  }

  /**
   * Создать CustomerOrders
   * 
   * @param customerOrder  (required)
   * @param expand Замена ссылок объектами с помощью expand (optional)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @param additionalHeaders additionalHeaders for this call
   * @return CustomerOrder
   * @throws ApiException if fails to make API call
   */
  protected CustomerOrder createCustomerOrder(@javax.annotation.Nonnull CustomerOrder customerOrder, @javax.annotation.Nullable String expand, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = customerOrder;
    
    // verify the required parameter 'customerOrder' is set
    if (customerOrder == null) {
      throw new ApiException(400, "Missing the required parameter 'customerOrder' when calling createCustomerOrder");
    }
    
    // create path and map variables
    String localVarPath = "/entity/customerorder";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("expand", expand));
    if (accept != null) {
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
    }
if (acceptEncoding != null) {
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));
    }
if (contentType != null) {
      localVarHeaderParams.put("Content-Type", apiClient.parameterToString(contentType));
    }

    localVarHeaderParams.putAll(additionalHeaders);
        
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<CustomerOrder> localVarReturnType = new TypeReference<CustomerOrder>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Массовое создание и обновление CustomerOrders
   * 
   * @param customerOrder  (required)
   * @return List&lt;BatchResponseEntity&gt;
   * @throws ApiException if fails to make API call
   */
  public List<BatchResponseEntity> createCustomerOrderBatch(@javax.annotation.Nonnull List<CustomerOrder> customerOrder) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.empty();
    return this.createCustomerOrderBatch(customerOrder, (String) effectiveOptions.get("expand"), null, null, null, effectiveOptions.getAdditionalHeaders());
  }


  /**
   * Массовое создание и обновление CustomerOrders
   * 
   
   * @param customerOrder  (required)
   
   
   
   
   
   * @param options request options such as pagination, filters, expands, fields, sorting and additional headers
   * @return List&lt;BatchResponseEntity&gt;
   * @throws ApiException if fails to make API call
   */
  public List<BatchResponseEntity> createCustomerOrderBatch(@javax.annotation.Nonnull List<CustomerOrder> customerOrder, RequestOptions options) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.emptyIfNull(options);
    return this.createCustomerOrderBatch(customerOrder, (String) effectiveOptions.get("expand"), null, null, null, effectiveOptions.getAdditionalHeaders());
  }

  /**
   * Массовое создание и обновление CustomerOrders
   * 
   * @param customerOrder  (required)
   * @param expand Замена ссылок объектами с помощью expand (optional)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @param additionalHeaders additionalHeaders for this call
   * @return List&lt;BatchResponseEntity&gt;
   * @throws ApiException if fails to make API call
   */
  protected List<BatchResponseEntity> createCustomerOrderBatch(@javax.annotation.Nonnull List<CustomerOrder> customerOrder, @javax.annotation.Nullable String expand, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = customerOrder;
    
    // verify the required parameter 'customerOrder' is set
    if (customerOrder == null) {
      throw new ApiException(400, "Missing the required parameter 'customerOrder' when calling createCustomerOrderBatch");
    }
    
    // create path and map variables
    String localVarPath = "/entity/customerorder/batch";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("expand", expand));
    if (accept != null) {
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
    }
if (acceptEncoding != null) {
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));
    }
if (contentType != null) {
      localVarHeaderParams.put("Content-Type", apiClient.parameterToString(contentType));
    }

    localVarHeaderParams.putAll(additionalHeaders);
        
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<List<BatchResponseEntity>> localVarReturnType = new TypeReference<List<BatchResponseEntity>>() {};
    return apiClient.invokeAPIBatch(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Создать Доп. поле CustomerOrder
   * 
   * @param attributeMetaInfo  (required)
   * @return AttributeMetaInfo
   * @throws ApiException if fails to make API call
   */
  public AttributeMetaInfo createCustomerOrderMetadataAttribute(@javax.annotation.Nonnull AttributeMetaInfo attributeMetaInfo) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.empty();
    return this.createCustomerOrderMetadataAttribute(attributeMetaInfo, null, null, null, effectiveOptions.getAdditionalHeaders());
  }


  /**
   * Создать Доп. поле CustomerOrder
   * 
   
   * @param attributeMetaInfo  (required)
   
   
   
   
   * @param options request options such as pagination, filters, expands, fields, sorting and additional headers
   * @return AttributeMetaInfo
   * @throws ApiException if fails to make API call
   */
  public AttributeMetaInfo createCustomerOrderMetadataAttribute(@javax.annotation.Nonnull AttributeMetaInfo attributeMetaInfo, RequestOptions options) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.emptyIfNull(options);
    return this.createCustomerOrderMetadataAttribute(attributeMetaInfo, null, null, null, effectiveOptions.getAdditionalHeaders());
  }

  /**
   * Создать Доп. поле CustomerOrder
   * 
   * @param attributeMetaInfo  (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @param additionalHeaders additionalHeaders for this call
   * @return AttributeMetaInfo
   * @throws ApiException if fails to make API call
   */
  protected AttributeMetaInfo createCustomerOrderMetadataAttribute(@javax.annotation.Nonnull AttributeMetaInfo attributeMetaInfo, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = attributeMetaInfo;
    
    // verify the required parameter 'attributeMetaInfo' is set
    if (attributeMetaInfo == null) {
      throw new ApiException(400, "Missing the required parameter 'attributeMetaInfo' when calling createCustomerOrderMetadataAttribute");
    }
    
    // create path and map variables
    String localVarPath = "/entity/customerorder/metadata/attributes";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    if (accept != null) {
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
    }
if (acceptEncoding != null) {
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));
    }
if (contentType != null) {
      localVarHeaderParams.put("Content-Type", apiClient.parameterToString(contentType));
    }

    localVarHeaderParams.putAll(additionalHeaders);
        
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<AttributeMetaInfo> localVarReturnType = new TypeReference<AttributeMetaInfo>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Создать статус CustomerOrder
   * 
   * @param state  (required)
   * @return State
   * @throws ApiException if fails to make API call
   */
  public State createCustomerOrderMetadataState(@javax.annotation.Nonnull State state) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.empty();
    return this.createCustomerOrderMetadataState(state, null, null, null, effectiveOptions.getAdditionalHeaders());
  }


  /**
   * Создать статус CustomerOrder
   * 
   
   * @param state  (required)
   
   
   
   
   * @param options request options such as pagination, filters, expands, fields, sorting and additional headers
   * @return State
   * @throws ApiException if fails to make API call
   */
  public State createCustomerOrderMetadataState(@javax.annotation.Nonnull State state, RequestOptions options) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.emptyIfNull(options);
    return this.createCustomerOrderMetadataState(state, null, null, null, effectiveOptions.getAdditionalHeaders());
  }

  /**
   * Создать статус CustomerOrder
   * 
   * @param state  (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @param additionalHeaders additionalHeaders for this call
   * @return State
   * @throws ApiException if fails to make API call
   */
  protected State createCustomerOrderMetadataState(@javax.annotation.Nonnull State state, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = state;
    
    // verify the required parameter 'state' is set
    if (state == null) {
      throw new ApiException(400, "Missing the required parameter 'state' when calling createCustomerOrderMetadataState");
    }
    
    // create path and map variables
    String localVarPath = "/entity/customerorder/metadata/states";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    if (accept != null) {
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
    }
if (acceptEncoding != null) {
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));
    }
if (contentType != null) {
      localVarHeaderParams.put("Content-Type", apiClient.parameterToString(contentType));
    }

    localVarHeaderParams.putAll(additionalHeaders);
        
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<State> localVarReturnType = new TypeReference<State>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Массовое создание и обновление статусов CustomerOrder
   * 
   * @param state  (required)
   * @return List&lt;StateRowResult&gt;
   * @throws ApiException if fails to make API call
   */
  public List<StateRowResult> createCustomerOrderMetadataStatesBatch(@javax.annotation.Nonnull List<State> state) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.empty();
    return this.createCustomerOrderMetadataStatesBatch(state, null, null, null, effectiveOptions.getAdditionalHeaders());
  }


  /**
   * Массовое создание и обновление статусов CustomerOrder
   * 
   
   * @param state  (required)
   
   
   
   
   * @param options request options such as pagination, filters, expands, fields, sorting and additional headers
   * @return List&lt;StateRowResult&gt;
   * @throws ApiException if fails to make API call
   */
  public List<StateRowResult> createCustomerOrderMetadataStatesBatch(@javax.annotation.Nonnull List<State> state, RequestOptions options) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.emptyIfNull(options);
    return this.createCustomerOrderMetadataStatesBatch(state, null, null, null, effectiveOptions.getAdditionalHeaders());
  }

  /**
   * Массовое создание и обновление статусов CustomerOrder
   * 
   * @param state  (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @param additionalHeaders additionalHeaders for this call
   * @return List&lt;StateRowResult&gt;
   * @throws ApiException if fails to make API call
   */
  protected List<StateRowResult> createCustomerOrderMetadataStatesBatch(@javax.annotation.Nonnull List<State> state, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = state;
    
    // verify the required parameter 'state' is set
    if (state == null) {
      throw new ApiException(400, "Missing the required parameter 'state' when calling createCustomerOrderMetadataStatesBatch");
    }
    
    // create path and map variables
    String localVarPath = "/entity/customerorder/metadata/states/batch";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    if (accept != null) {
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
    }
if (acceptEncoding != null) {
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));
    }
if (contentType != null) {
      localVarHeaderParams.put("Content-Type", apiClient.parameterToString(contentType));
    }

    localVarHeaderParams.putAll(additionalHeaders);
        
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<List<StateRowResult>> localVarReturnType = new TypeReference<List<StateRowResult>>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Добавить Событие Заказа покупателя
   * Запрос на добавление одного События Заказа покупателя
   * @param id ID сущности (required)
   * @param eventNote  (required)
   * @return List&lt;EventNote&gt;
   * @throws ApiException if fails to make API call
   */
  public List<EventNote> createCustomerOrderNote(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull EventNote eventNote) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.empty();
    return this.createCustomerOrderNote(id, eventNote, null, null, null, effectiveOptions.getAdditionalHeaders());
  }


  /**
   * Добавить Событие Заказа покупателя
   * Запрос на добавление одного События Заказа покупателя
   
   * @param id ID сущности (required)
   
   
   * @param eventNote  (required)
   
   
   
   
   * @param options request options such as pagination, filters, expands, fields, sorting and additional headers
   * @return List&lt;EventNote&gt;
   * @throws ApiException if fails to make API call
   */
  public List<EventNote> createCustomerOrderNote(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull EventNote eventNote, RequestOptions options) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.emptyIfNull(options);
    return this.createCustomerOrderNote(id, eventNote, null, null, null, effectiveOptions.getAdditionalHeaders());
  }

  /**
   * Добавить Событие Заказа покупателя
   * Запрос на добавление одного События Заказа покупателя
   * @param id ID сущности (required)
   * @param eventNote  (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @param additionalHeaders additionalHeaders for this call
   * @return List&lt;EventNote&gt;
   * @throws ApiException if fails to make API call
   */
  protected List<EventNote> createCustomerOrderNote(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull EventNote eventNote, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = eventNote;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling createCustomerOrderNote");
    }
    
    // verify the required parameter 'eventNote' is set
    if (eventNote == null) {
      throw new ApiException(400, "Missing the required parameter 'eventNote' when calling createCustomerOrderNote");
    }
    
    // create path and map variables
    String localVarPath = "/entity/customerorder/{id}/notes"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    if (accept != null) {
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
    }
if (acceptEncoding != null) {
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));
    }
if (contentType != null) {
      localVarHeaderParams.put("Content-Type", apiClient.parameterToString(contentType));
    }

    localVarHeaderParams.putAll(additionalHeaders);
        
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<List<EventNote>> localVarReturnType = new TypeReference<List<EventNote>>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Создать и обновить позицию Заказа покупателя
   * 
   * @param id ID сущности (required)
   * @param customerOrderPosition  (required)
   * @return List&lt;CustomerOrderPosition&gt;
   * @throws ApiException if fails to make API call
   */
  public List<CustomerOrderPosition> createCustomerOrderPosition(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull CustomerOrderPosition customerOrderPosition) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.empty();
    return this.createCustomerOrderPosition(id, customerOrderPosition, (String) effectiveOptions.get("expand"), null, null, null, effectiveOptions.getAdditionalHeaders());
  }


  /**
   * Создать и обновить позицию Заказа покупателя
   * 
   
   * @param id ID сущности (required)
   
   
   * @param customerOrderPosition  (required)
   
   
   
   
   
   * @param options request options such as pagination, filters, expands, fields, sorting and additional headers
   * @return List&lt;CustomerOrderPosition&gt;
   * @throws ApiException if fails to make API call
   */
  public List<CustomerOrderPosition> createCustomerOrderPosition(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull CustomerOrderPosition customerOrderPosition, RequestOptions options) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.emptyIfNull(options);
    return this.createCustomerOrderPosition(id, customerOrderPosition, (String) effectiveOptions.get("expand"), null, null, null, effectiveOptions.getAdditionalHeaders());
  }

  /**
   * Создать и обновить позицию Заказа покупателя
   * 
   * @param id ID сущности (required)
   * @param customerOrderPosition  (required)
   * @param expand Замена ссылок объектами с помощью expand (optional)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @param additionalHeaders additionalHeaders for this call
   * @return List&lt;CustomerOrderPosition&gt;
   * @throws ApiException if fails to make API call
   */
  protected List<CustomerOrderPosition> createCustomerOrderPosition(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull CustomerOrderPosition customerOrderPosition, @javax.annotation.Nullable String expand, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = customerOrderPosition;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling createCustomerOrderPosition");
    }
    
    // verify the required parameter 'customerOrderPosition' is set
    if (customerOrderPosition == null) {
      throw new ApiException(400, "Missing the required parameter 'customerOrderPosition' when calling createCustomerOrderPosition");
    }
    
    // create path and map variables
    String localVarPath = "/entity/customerorder/{id}/positions"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("expand", expand));
    if (accept != null) {
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
    }
if (acceptEncoding != null) {
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));
    }
if (contentType != null) {
      localVarHeaderParams.put("Content-Type", apiClient.parameterToString(contentType));
    }

    localVarHeaderParams.putAll(additionalHeaders);
        
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<List<CustomerOrderPosition>> localVarReturnType = new TypeReference<List<CustomerOrderPosition>>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Массовое создание и обновление позиций Заказа покупателя
   * 
   * @param id ID сущности (required)
   * @param customerOrderPosition  (required)
   * @return List&lt;CreateCustomerOrderPositions200ResponseInner&gt;
   * @throws ApiException if fails to make API call
   */
  public List<CreateCustomerOrderPositions200ResponseInner> createCustomerOrderPositions(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull List<CustomerOrderPosition> customerOrderPosition) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.empty();
    return this.createCustomerOrderPositions(id, customerOrderPosition, (String) effectiveOptions.get("expand"), null, null, null, effectiveOptions.getAdditionalHeaders());
  }


  /**
   * Массовое создание и обновление позиций Заказа покупателя
   * 
   
   * @param id ID сущности (required)
   
   
   * @param customerOrderPosition  (required)
   
   
   
   
   
   * @param options request options such as pagination, filters, expands, fields, sorting and additional headers
   * @return List&lt;CreateCustomerOrderPositions200ResponseInner&gt;
   * @throws ApiException if fails to make API call
   */
  public List<CreateCustomerOrderPositions200ResponseInner> createCustomerOrderPositions(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull List<CustomerOrderPosition> customerOrderPosition, RequestOptions options) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.emptyIfNull(options);
    return this.createCustomerOrderPositions(id, customerOrderPosition, (String) effectiveOptions.get("expand"), null, null, null, effectiveOptions.getAdditionalHeaders());
  }

  /**
   * Массовое создание и обновление позиций Заказа покупателя
   * 
   * @param id ID сущности (required)
   * @param customerOrderPosition  (required)
   * @param expand Замена ссылок объектами с помощью expand (optional)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @param additionalHeaders additionalHeaders for this call
   * @return List&lt;CreateCustomerOrderPositions200ResponseInner&gt;
   * @throws ApiException if fails to make API call
   */
  protected List<CreateCustomerOrderPositions200ResponseInner> createCustomerOrderPositions(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull List<CustomerOrderPosition> customerOrderPosition, @javax.annotation.Nullable String expand, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = customerOrderPosition;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling createCustomerOrderPositions");
    }
    
    // verify the required parameter 'customerOrderPosition' is set
    if (customerOrderPosition == null) {
      throw new ApiException(400, "Missing the required parameter 'customerOrderPosition' when calling createCustomerOrderPositions");
    }
    
    // create path and map variables
    String localVarPath = "/entity/customerorder/{id}/positions/batch"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("expand", expand));
    if (accept != null) {
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
    }
if (acceptEncoding != null) {
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));
    }
if (contentType != null) {
      localVarHeaderParams.put("Content-Type", apiClient.parameterToString(contentType));
    }

    localVarHeaderParams.putAll(additionalHeaders);
        
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<List<CreateCustomerOrderPositions200ResponseInner>> localVarReturnType = new TypeReference<List<CreateCustomerOrderPositions200ResponseInner>>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Создать Публикацию Заказа покупателя
   * Запрос на публикацию Заказа покупателя.
   * @param id ID сущности (required)
   * @param publication  (required)
   * @return Publication
   * @throws ApiException if fails to make API call
   */
  public Publication createCustomerOrderPublication(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull Publication publication) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.empty();
    return this.createCustomerOrderPublication(id, publication, null, null, null, effectiveOptions.getAdditionalHeaders());
  }


  /**
   * Создать Публикацию Заказа покупателя
   * Запрос на публикацию Заказа покупателя.
   
   * @param id ID сущности (required)
   
   
   * @param publication  (required)
   
   
   
   
   * @param options request options such as pagination, filters, expands, fields, sorting and additional headers
   * @return Publication
   * @throws ApiException if fails to make API call
   */
  public Publication createCustomerOrderPublication(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull Publication publication, RequestOptions options) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.emptyIfNull(options);
    return this.createCustomerOrderPublication(id, publication, null, null, null, effectiveOptions.getAdditionalHeaders());
  }

  /**
   * Создать Публикацию Заказа покупателя
   * Запрос на публикацию Заказа покупателя.
   * @param id ID сущности (required)
   * @param publication  (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @param additionalHeaders additionalHeaders for this call
   * @return Publication
   * @throws ApiException if fails to make API call
   */
  protected Publication createCustomerOrderPublication(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull Publication publication, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = publication;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling createCustomerOrderPublication");
    }
    
    // verify the required parameter 'publication' is set
    if (publication == null) {
      throw new ApiException(400, "Missing the required parameter 'publication' when calling createCustomerOrderPublication");
    }
    
    // create path and map variables
    String localVarPath = "/entity/customerorder/{id}/publication"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    if (accept != null) {
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
    }
if (acceptEncoding != null) {
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));
    }
if (contentType != null) {
      localVarHeaderParams.put("Content-Type", apiClient.parameterToString(contentType));
    }

    localVarHeaderParams.putAll(additionalHeaders);
        
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<Publication> localVarReturnType = new TypeReference<Publication>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Удалить CustomerOrders
   * 
   * @param id ID сущности (required)
   * @throws ApiException if fails to make API call
   */
  public void deleteCustomerOrder(@javax.annotation.Nonnull UUID id) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.empty();
    this.deleteCustomerOrder(id, null, null, null, effectiveOptions.getAdditionalHeaders());
  }


  /**
   * Удалить CustomerOrders
   * 
   
   * @param id ID сущности (required)
   
   
   
   
   * @param options request options such as pagination, filters, expands, fields, sorting and additional headers
   * @throws ApiException if fails to make API call
   */
  public void deleteCustomerOrder(@javax.annotation.Nonnull UUID id, RequestOptions options) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.emptyIfNull(options);
    this.deleteCustomerOrder(id, null, null, null, effectiveOptions.getAdditionalHeaders());
  }

  /**
   * Удалить CustomerOrders
   * 
   * @param id ID сущности (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @param additionalHeaders additionalHeaders for this call
   * @throws ApiException if fails to make API call
   */
  protected void deleteCustomerOrder(@javax.annotation.Nonnull UUID id, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling deleteCustomerOrder");
    }
    
    // create path and map variables
    String localVarPath = "/entity/customerorder/{id}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    if (accept != null) {
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
    }
if (acceptEncoding != null) {
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));
    }
if (contentType != null) {
      localVarHeaderParams.put("Content-Type", apiClient.parameterToString(contentType));
    }

    localVarHeaderParams.putAll(additionalHeaders);
        
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    apiClient.invokeAPI(
        localVarPath,
        "DELETE",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        null
    );
  }

  /**
   * Массовое удаление CustomerOrders
   * 
   * @param customerOrder  (required)
   * @return List&lt;DeleteRowResult&gt;
   * @throws ApiException if fails to make API call
   */
  public List<DeleteRowResult> deleteCustomerOrderBatch(@javax.annotation.Nonnull List<CustomerOrder> customerOrder) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.empty();
    return this.deleteCustomerOrderBatch(customerOrder, null, null, null, effectiveOptions.getAdditionalHeaders());
  }


  /**
   * Массовое удаление CustomerOrders
   * 
   
   * @param customerOrder  (required)
   
   
   
   
   * @param options request options such as pagination, filters, expands, fields, sorting and additional headers
   * @return List&lt;DeleteRowResult&gt;
   * @throws ApiException if fails to make API call
   */
  public List<DeleteRowResult> deleteCustomerOrderBatch(@javax.annotation.Nonnull List<CustomerOrder> customerOrder, RequestOptions options) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.emptyIfNull(options);
    return this.deleteCustomerOrderBatch(customerOrder, null, null, null, effectiveOptions.getAdditionalHeaders());
  }

  /**
   * Массовое удаление CustomerOrders
   * 
   * @param customerOrder  (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @param additionalHeaders additionalHeaders for this call
   * @return List&lt;DeleteRowResult&gt;
   * @throws ApiException if fails to make API call
   */
  protected List<DeleteRowResult> deleteCustomerOrderBatch(@javax.annotation.Nonnull List<CustomerOrder> customerOrder, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = customerOrder;
    
    // verify the required parameter 'customerOrder' is set
    if (customerOrder == null) {
      throw new ApiException(400, "Missing the required parameter 'customerOrder' when calling deleteCustomerOrderBatch");
    }
    
    // create path and map variables
    String localVarPath = "/entity/customerorder/delete";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    if (accept != null) {
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
    }
if (acceptEncoding != null) {
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));
    }
if (contentType != null) {
      localVarHeaderParams.put("Content-Type", apiClient.parameterToString(contentType));
    }

    localVarHeaderParams.putAll(additionalHeaders);
        
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<List<DeleteRowResult>> localVarReturnType = new TypeReference<List<DeleteRowResult>>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Удалить отдельное доп. поле CustomerOrder
   * 
   * @param id ID сущности (required)
   * @throws ApiException if fails to make API call
   */
  public void deleteCustomerOrderMetadataAttributeById(@javax.annotation.Nonnull UUID id) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.empty();
    this.deleteCustomerOrderMetadataAttributeById(id, null, null, null, effectiveOptions.getAdditionalHeaders());
  }


  /**
   * Удалить отдельное доп. поле CustomerOrder
   * 
   
   * @param id ID сущности (required)
   
   
   
   
   * @param options request options such as pagination, filters, expands, fields, sorting and additional headers
   * @throws ApiException if fails to make API call
   */
  public void deleteCustomerOrderMetadataAttributeById(@javax.annotation.Nonnull UUID id, RequestOptions options) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.emptyIfNull(options);
    this.deleteCustomerOrderMetadataAttributeById(id, null, null, null, effectiveOptions.getAdditionalHeaders());
  }

  /**
   * Удалить отдельное доп. поле CustomerOrder
   * 
   * @param id ID сущности (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @param additionalHeaders additionalHeaders for this call
   * @throws ApiException if fails to make API call
   */
  protected void deleteCustomerOrderMetadataAttributeById(@javax.annotation.Nonnull UUID id, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling deleteCustomerOrderMetadataAttributeById");
    }
    
    // create path and map variables
    String localVarPath = "/entity/customerorder/metadata/attributes/{id}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    if (accept != null) {
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
    }
if (acceptEncoding != null) {
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));
    }
if (contentType != null) {
      localVarHeaderParams.put("Content-Type", apiClient.parameterToString(contentType));
    }

    localVarHeaderParams.putAll(additionalHeaders);
        
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    apiClient.invokeAPI(
        localVarPath,
        "DELETE",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        null
    );
  }

  /**
   * Удалить отдельный статус CustomerOrder
   * 
   * @param id ID сущности (required)
   * @throws ApiException if fails to make API call
   */
  public void deleteCustomerOrderMetadataStateById(@javax.annotation.Nonnull UUID id) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.empty();
    this.deleteCustomerOrderMetadataStateById(id, null, null, null, effectiveOptions.getAdditionalHeaders());
  }


  /**
   * Удалить отдельный статус CustomerOrder
   * 
   
   * @param id ID сущности (required)
   
   
   
   
   * @param options request options such as pagination, filters, expands, fields, sorting and additional headers
   * @throws ApiException if fails to make API call
   */
  public void deleteCustomerOrderMetadataStateById(@javax.annotation.Nonnull UUID id, RequestOptions options) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.emptyIfNull(options);
    this.deleteCustomerOrderMetadataStateById(id, null, null, null, effectiveOptions.getAdditionalHeaders());
  }

  /**
   * Удалить отдельный статус CustomerOrder
   * 
   * @param id ID сущности (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @param additionalHeaders additionalHeaders for this call
   * @throws ApiException if fails to make API call
   */
  protected void deleteCustomerOrderMetadataStateById(@javax.annotation.Nonnull UUID id, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling deleteCustomerOrderMetadataStateById");
    }
    
    // create path and map variables
    String localVarPath = "/entity/customerorder/metadata/states/{id}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    if (accept != null) {
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
    }
if (acceptEncoding != null) {
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));
    }
if (contentType != null) {
      localVarHeaderParams.put("Content-Type", apiClient.parameterToString(contentType));
    }

    localVarHeaderParams.putAll(additionalHeaders);
        
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    apiClient.invokeAPI(
        localVarPath,
        "DELETE",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        null
    );
  }

  /**
   * Удалить Событие Заказа покупателя
   * Запрос на удаление одного События Заказа покупателя
   * @param id ID сущности (required)
   * @param noteId ID События (required)
   * @throws ApiException if fails to make API call
   */
  public void deleteCustomerOrderNote(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull UUID noteId) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.empty();
    this.deleteCustomerOrderNote(id, noteId, null, null, effectiveOptions.getAdditionalHeaders());
  }


  /**
   * Удалить Событие Заказа покупателя
   * Запрос на удаление одного События Заказа покупателя
   
   * @param id ID сущности (required)
   
   
   * @param noteId ID События (required)
   
   
   
   * @param options request options such as pagination, filters, expands, fields, sorting and additional headers
   * @throws ApiException if fails to make API call
   */
  public void deleteCustomerOrderNote(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull UUID noteId, RequestOptions options) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.emptyIfNull(options);
    this.deleteCustomerOrderNote(id, noteId, null, null, effectiveOptions.getAdditionalHeaders());
  }

  /**
   * Удалить Событие Заказа покупателя
   * Запрос на удаление одного События Заказа покупателя
   * @param id ID сущности (required)
   * @param noteId ID События (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param additionalHeaders additionalHeaders for this call
   * @throws ApiException if fails to make API call
   */
  protected void deleteCustomerOrderNote(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull UUID noteId, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling deleteCustomerOrderNote");
    }
    
    // verify the required parameter 'noteId' is set
    if (noteId == null) {
      throw new ApiException(400, "Missing the required parameter 'noteId' when calling deleteCustomerOrderNote");
    }
    
    // create path and map variables
    String localVarPath = "/entity/customerorder/{id}/notes/{noteId}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)))
      .replaceAll("\\{" + "noteId" + "\\}", apiClient.escapeString(apiClient.parameterToString(noteId)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    if (accept != null) {
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
    }
if (acceptEncoding != null) {
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));
    }

    localVarHeaderParams.putAll(additionalHeaders);
        
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    apiClient.invokeAPI(
        localVarPath,
        "DELETE",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        null
    );
  }

  /**
   * Удалить позицию CustomerOrders
   * 
   * @param id ID сущности (required)
   * @param positionId ID позиции (required)
   * @throws ApiException if fails to make API call
   */
  public void deleteCustomerOrderPosition(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull UUID positionId) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.empty();
    this.deleteCustomerOrderPosition(id, positionId, (String) effectiveOptions.get("expand"), null, null, null, effectiveOptions.getAdditionalHeaders());
  }


  /**
   * Удалить позицию CustomerOrders
   * 
   
   * @param id ID сущности (required)
   
   
   * @param positionId ID позиции (required)
   
   
   
   
   
   * @param options request options such as pagination, filters, expands, fields, sorting and additional headers
   * @throws ApiException if fails to make API call
   */
  public void deleteCustomerOrderPosition(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull UUID positionId, RequestOptions options) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.emptyIfNull(options);
    this.deleteCustomerOrderPosition(id, positionId, (String) effectiveOptions.get("expand"), null, null, null, effectiveOptions.getAdditionalHeaders());
  }

  /**
   * Удалить позицию CustomerOrders
   * 
   * @param id ID сущности (required)
   * @param positionId ID позиции (required)
   * @param expand Замена ссылок объектами с помощью expand (optional)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @param additionalHeaders additionalHeaders for this call
   * @throws ApiException if fails to make API call
   */
  protected void deleteCustomerOrderPosition(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull UUID positionId, @javax.annotation.Nullable String expand, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling deleteCustomerOrderPosition");
    }
    
    // verify the required parameter 'positionId' is set
    if (positionId == null) {
      throw new ApiException(400, "Missing the required parameter 'positionId' when calling deleteCustomerOrderPosition");
    }
    
    // create path and map variables
    String localVarPath = "/entity/customerorder/{id}/positions/{positionId}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)))
      .replaceAll("\\{" + "positionId" + "\\}", apiClient.escapeString(apiClient.parameterToString(positionId)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("expand", expand));
    if (accept != null) {
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
    }
if (acceptEncoding != null) {
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));
    }
if (contentType != null) {
      localVarHeaderParams.put("Content-Type", apiClient.parameterToString(contentType));
    }

    localVarHeaderParams.putAll(additionalHeaders);
        
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    apiClient.invokeAPI(
        localVarPath,
        "DELETE",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        null
    );
  }

  /**
   * Массовое удаление позиций CustomerOrders
   * 
   * @param id ID сущности (required)
   * @param customerOrderPosition  (required)
   * @return List&lt;DeleteRowResult&gt;
   * @throws ApiException if fails to make API call
   */
  public List<DeleteRowResult> deleteCustomerOrderPositionsBatch(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull List<CustomerOrderPosition> customerOrderPosition) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.empty();
    return this.deleteCustomerOrderPositionsBatch(id, customerOrderPosition, null, null, null, effectiveOptions.getAdditionalHeaders());
  }


  /**
   * Массовое удаление позиций CustomerOrders
   * 
   
   * @param id ID сущности (required)
   
   
   * @param customerOrderPosition  (required)
   
   
   
   
   * @param options request options such as pagination, filters, expands, fields, sorting and additional headers
   * @return List&lt;DeleteRowResult&gt;
   * @throws ApiException if fails to make API call
   */
  public List<DeleteRowResult> deleteCustomerOrderPositionsBatch(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull List<CustomerOrderPosition> customerOrderPosition, RequestOptions options) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.emptyIfNull(options);
    return this.deleteCustomerOrderPositionsBatch(id, customerOrderPosition, null, null, null, effectiveOptions.getAdditionalHeaders());
  }

  /**
   * Массовое удаление позиций CustomerOrders
   * 
   * @param id ID сущности (required)
   * @param customerOrderPosition  (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @param additionalHeaders additionalHeaders for this call
   * @return List&lt;DeleteRowResult&gt;
   * @throws ApiException if fails to make API call
   */
  protected List<DeleteRowResult> deleteCustomerOrderPositionsBatch(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull List<CustomerOrderPosition> customerOrderPosition, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = customerOrderPosition;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling deleteCustomerOrderPositionsBatch");
    }
    
    // verify the required parameter 'customerOrderPosition' is set
    if (customerOrderPosition == null) {
      throw new ApiException(400, "Missing the required parameter 'customerOrderPosition' when calling deleteCustomerOrderPositionsBatch");
    }
    
    // create path and map variables
    String localVarPath = "/entity/customerorder/{id}/positions/delete"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    if (accept != null) {
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
    }
if (acceptEncoding != null) {
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));
    }
if (contentType != null) {
      localVarHeaderParams.put("Content-Type", apiClient.parameterToString(contentType));
    }

    localVarHeaderParams.putAll(additionalHeaders);
        
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<List<DeleteRowResult>> localVarReturnType = new TypeReference<List<DeleteRowResult>>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Удалить Публикацию Заказа покупателя
   * Запрос на удаление Публикации Заказа покупателя по идентификатору.
   * @param id ID сущности (required)
   * @param publicationId ID публикации (required)
   * @throws ApiException if fails to make API call
   */
  public void deleteCustomerOrderPublication(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull UUID publicationId) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.empty();
    this.deleteCustomerOrderPublication(id, publicationId, null, null, effectiveOptions.getAdditionalHeaders());
  }


  /**
   * Удалить Публикацию Заказа покупателя
   * Запрос на удаление Публикации Заказа покупателя по идентификатору.
   
   * @param id ID сущности (required)
   
   
   * @param publicationId ID публикации (required)
   
   
   
   * @param options request options such as pagination, filters, expands, fields, sorting and additional headers
   * @throws ApiException if fails to make API call
   */
  public void deleteCustomerOrderPublication(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull UUID publicationId, RequestOptions options) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.emptyIfNull(options);
    this.deleteCustomerOrderPublication(id, publicationId, null, null, effectiveOptions.getAdditionalHeaders());
  }

  /**
   * Удалить Публикацию Заказа покупателя
   * Запрос на удаление Публикации Заказа покупателя по идентификатору.
   * @param id ID сущности (required)
   * @param publicationId ID публикации (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param additionalHeaders additionalHeaders for this call
   * @throws ApiException if fails to make API call
   */
  protected void deleteCustomerOrderPublication(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull UUID publicationId, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling deleteCustomerOrderPublication");
    }
    
    // verify the required parameter 'publicationId' is set
    if (publicationId == null) {
      throw new ApiException(400, "Missing the required parameter 'publicationId' when calling deleteCustomerOrderPublication");
    }
    
    // create path and map variables
    String localVarPath = "/entity/customerorder/{id}/publication/{publicationId}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)))
      .replaceAll("\\{" + "publicationId" + "\\}", apiClient.escapeString(apiClient.parameterToString(publicationId)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    if (accept != null) {
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
    }
if (acceptEncoding != null) {
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));
    }

    localVarHeaderParams.putAll(additionalHeaders);
        
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    apiClient.invokeAPI(
        localVarPath,
        "DELETE",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        null
    );
  }

  /**
   * Запрос на печать Заказа покупателя
   * Запрос на формирование печатной формы для Заказа покупателя. При готовности сервер возвращает пустой ответ с кодом 303 и заголовком Location. 
   * @param id ID сущности (required)
   * @param exportRequest  (required)
   * @throws ApiException if fails to make API call
   */
  public void exportCustomerOrder(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull ExportRequest exportRequest) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.empty();
    this.exportCustomerOrder(id, exportRequest, null, null, null, effectiveOptions.getAdditionalHeaders());
  }


  /**
   * Запрос на печать Заказа покупателя
   * Запрос на формирование печатной формы для Заказа покупателя. При готовности сервер возвращает пустой ответ с кодом 303 и заголовком Location. 
   
   * @param id ID сущности (required)
   
   
   * @param exportRequest  (required)
   
   
   
   
   * @param options request options such as pagination, filters, expands, fields, sorting and additional headers
   * @throws ApiException if fails to make API call
   */
  public void exportCustomerOrder(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull ExportRequest exportRequest, RequestOptions options) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.emptyIfNull(options);
    this.exportCustomerOrder(id, exportRequest, null, null, null, effectiveOptions.getAdditionalHeaders());
  }

  /**
   * Запрос на печать Заказа покупателя
   * Запрос на формирование печатной формы для Заказа покупателя. При готовности сервер возвращает пустой ответ с кодом 303 и заголовком Location. 
   * @param id ID сущности (required)
   * @param exportRequest  (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @param additionalHeaders additionalHeaders for this call
   * @throws ApiException if fails to make API call
   */
  protected void exportCustomerOrder(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull ExportRequest exportRequest, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = exportRequest;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling exportCustomerOrder");
    }
    
    // verify the required parameter 'exportRequest' is set
    if (exportRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'exportRequest' when calling exportCustomerOrder");
    }
    
    // create path and map variables
    String localVarPath = "/entity/customerorder/{id}/export"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    if (accept != null) {
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
    }
if (acceptEncoding != null) {
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));
    }
if (contentType != null) {
      localVarHeaderParams.put("Content-Type", apiClient.parameterToString(contentType));
    }

    localVarHeaderParams.putAll(additionalHeaders);
        
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        null
    );
  }

  /**
   * Получить события аудита Заказа покупателя
   * Возвращает список событий аудита для Заказа покупателя по его ID. 
   * @param id ID сущности (required)
   * @return Map&lt;String, Object&gt;
   * @throws ApiException if fails to make API call
   */
  public Map<String, Object> getCustomerOrderAuditEvents(@javax.annotation.Nonnull UUID id) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.empty();
    return this.getCustomerOrderAuditEvents(id, (Integer) effectiveOptions.get("limit"), (Integer) effectiveOptions.get("offset"), null, null, effectiveOptions.getAdditionalHeaders());
  }


  /**
   * Получить события аудита Заказа покупателя
   * Возвращает список событий аудита для Заказа покупателя по его ID. 
   
   * @param id ID сущности (required)
   
   
   
   
   
   * @param options request options such as pagination, filters, expands, fields, sorting and additional headers
   * @return Map&lt;String, Object&gt;
   * @throws ApiException if fails to make API call
   */
  public Map<String, Object> getCustomerOrderAuditEvents(@javax.annotation.Nonnull UUID id, RequestOptions options) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.emptyIfNull(options);
    return this.getCustomerOrderAuditEvents(id, (Integer) effectiveOptions.get("limit"), (Integer) effectiveOptions.get("offset"), null, null, effectiveOptions.getAdditionalHeaders());
  }

  /**
   * Получить события аудита Заказа покупателя
   * Возвращает список событий аудита для Заказа покупателя по его ID. 
   * @param id ID сущности (required)
   * @param limit Максимальное количество элементов в выданном списке (максимум 1000) (optional, default to 1000)
   * @param offset Отступ в выданном списке (optional, default to 0)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param additionalHeaders additionalHeaders for this call
   * @return Map&lt;String, Object&gt;
   * @throws ApiException if fails to make API call
   */
  protected Map<String, Object> getCustomerOrderAuditEvents(@javax.annotation.Nonnull UUID id, @javax.annotation.Nullable Integer limit, @javax.annotation.Nullable Integer offset, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling getCustomerOrderAuditEvents");
    }
    
    // create path and map variables
    String localVarPath = "/entity/customerorder/{id}/audit"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
    localVarQueryParams.addAll(apiClient.parameterToPair("offset", offset));
    if (accept != null) {
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
    }
if (acceptEncoding != null) {
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));
    }

    localVarHeaderParams.putAll(additionalHeaders);
        
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<Map<String, Object>> localVarReturnType = new TypeReference<Map<String, Object>>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Получить CustomerOrders
   * 
   * @param id ID сущности (required)
   * @return CustomerOrder
   * @throws ApiException if fails to make API call
   */
  public CustomerOrder getCustomerOrderById(@javax.annotation.Nonnull UUID id) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.empty();
    return this.getCustomerOrderById(id, (String) effectiveOptions.get("expand"), (String) effectiveOptions.get("fields"), null, null, effectiveOptions.getAdditionalHeaders());
  }


  /**
   * Получить CustomerOrders
   * 
   
   * @param id ID сущности (required)
   
   
   
   
   
   * @param options request options such as pagination, filters, expands, fields, sorting and additional headers
   * @return CustomerOrder
   * @throws ApiException if fails to make API call
   */
  public CustomerOrder getCustomerOrderById(@javax.annotation.Nonnull UUID id, RequestOptions options) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.emptyIfNull(options);
    return this.getCustomerOrderById(id, (String) effectiveOptions.get("expand"), (String) effectiveOptions.get("fields"), null, null, effectiveOptions.getAdditionalHeaders());
  }

  /**
   * Получить CustomerOrders
   * 
   * @param id ID сущности (required)
   * @param expand Замена ссылок объектами с помощью expand (optional)
   * @param fields Включить в ответ скрытые поля, не выводимые по умолчанию. В одном запросе можно передать только одно значение. - &#x60;minimumStock&#x60; — неснижаемый остаток (товар, модификация) - &#x60;downloadPermanentHref&#x60; — постоянная ссылка на изображение (платный тариф) - &#x60;stock&#x60; — остатки и себестоимость в позициях документов - &#x60;declaration&#x60; — прослеживаемость импортных товаров в позициях документов  (optional)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param additionalHeaders additionalHeaders for this call
   * @return CustomerOrder
   * @throws ApiException if fails to make API call
   */
  protected CustomerOrder getCustomerOrderById(@javax.annotation.Nonnull UUID id, @javax.annotation.Nullable String expand, @javax.annotation.Nullable String fields, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling getCustomerOrderById");
    }
    
    // create path and map variables
    String localVarPath = "/entity/customerorder/{id}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("expand", expand));
    localVarQueryParams.addAll(apiClient.parameterToPair("fields", fields));
    if (accept != null) {
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
    }
if (acceptEncoding != null) {
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));
    }

    localVarHeaderParams.putAll(additionalHeaders);
        
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<CustomerOrder> localVarReturnType = new TypeReference<CustomerOrder>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Получить список CustomerOrders
   * 
   * @return CustomerOrderList
   * @throws ApiException if fails to make API call
   */
  public CustomerOrderList getCustomerOrderList() throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.empty();
    return this.getCustomerOrderList((Integer) effectiveOptions.get("limit"), (Integer) effectiveOptions.get("offset"), (String) effectiveOptions.get("search"), (String) effectiveOptions.get("expand"), (String) effectiveOptions.get("fields"), null, null, null, effectiveOptions.getAdditionalHeaders());
  }


  /**
   * Получить список CustomerOrders
   * 
   
   
   
   
   
   
   
   
   * @param options request options such as pagination, filters, expands, fields, sorting and additional headers
   * @return CustomerOrderList
   * @throws ApiException if fails to make API call
   */
  public CustomerOrderList getCustomerOrderList(RequestOptions options) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.emptyIfNull(options);
    return this.getCustomerOrderList((Integer) effectiveOptions.get("limit"), (Integer) effectiveOptions.get("offset"), (String) effectiveOptions.get("search"), (String) effectiveOptions.get("expand"), (String) effectiveOptions.get("fields"), null, null, null, effectiveOptions.getAdditionalHeaders());
  }

  /**
   * Получить список CustomerOrders
   * 
   * @param limit Максимальное количество элементов в выданном списке (максимум 1000) (optional, default to 1000)
   * @param offset Отступ в выданном списке (optional, default to 0)
   * @param search Контекстный поиск по строковым полям сущностей (optional)
   * @param expand Замена ссылок объектами с помощью expand (optional)
   * @param fields Включить в ответ скрытые поля, не выводимые по умолчанию. В одном запросе можно передать только одно значение. - &#x60;minimumStock&#x60; — неснижаемый остаток (товар, модификация) - &#x60;downloadPermanentHref&#x60; — постоянная ссылка на изображение (платный тариф) - &#x60;stock&#x60; — остатки и себестоимость в позициях документов - &#x60;declaration&#x60; — прослеживаемость импортных товаров в позициях документов  (optional)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @param additionalHeaders additionalHeaders for this call
   * @return CustomerOrderList
   * @throws ApiException if fails to make API call
   */
  protected CustomerOrderList getCustomerOrderList(@javax.annotation.Nullable Integer limit, @javax.annotation.Nullable Integer offset, @javax.annotation.Nullable String search, @javax.annotation.Nullable String expand, @javax.annotation.Nullable String fields, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // create path and map variables
    String localVarPath = "/entity/customerorder";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
    localVarQueryParams.addAll(apiClient.parameterToPair("offset", offset));
    localVarQueryParams.addAll(apiClient.parameterToPair("search", search));
    localVarQueryParams.addAll(apiClient.parameterToPair("expand", expand));
    localVarQueryParams.addAll(apiClient.parameterToPair("fields", fields));
    if (accept != null) {
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
    }
if (acceptEncoding != null) {
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));
    }
if (contentType != null) {
      localVarHeaderParams.put("Content-Type", apiClient.parameterToString(contentType));
    }

    localVarHeaderParams.putAll(additionalHeaders);
        
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<CustomerOrderList> localVarReturnType = new TypeReference<CustomerOrderList>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Метаданные CustomerOrders
   * 
   * @return DocumentMetadata
   * @throws ApiException if fails to make API call
   */
  public DocumentMetadata getCustomerOrderMetadata() throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.empty();
    return this.getCustomerOrderMetadata(null, null, null, effectiveOptions.getAdditionalHeaders());
  }


  /**
   * Метаданные CustomerOrders
   * 
   
   
   
   * @param options request options such as pagination, filters, expands, fields, sorting and additional headers
   * @return DocumentMetadata
   * @throws ApiException if fails to make API call
   */
  public DocumentMetadata getCustomerOrderMetadata(RequestOptions options) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.emptyIfNull(options);
    return this.getCustomerOrderMetadata(null, null, null, effectiveOptions.getAdditionalHeaders());
  }

  /**
   * Метаданные CustomerOrders
   * 
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @param additionalHeaders additionalHeaders for this call
   * @return DocumentMetadata
   * @throws ApiException if fails to make API call
   */
  protected DocumentMetadata getCustomerOrderMetadata(@javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // create path and map variables
    String localVarPath = "/entity/customerorder/metadata";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
[...]
