/*
 * МойСклад JSON API
 * API для манипуляции с сущностями и создания отчетов в онлайн-сервисе МойСклад.  ## Аутентификация  МойСклад поддерживает аутентификацию по протоколу Basic Auth и с использованием токена доступа: - Basic Auth: заголовок `Authorization` со значением пары `логин:пароль`, закодированным в Base64 - Bearer Token: заголовок `Authorization` со значением `Bearer <Access-Token>`  ## Ограничения  - Не более 45 запросов за 3 секундный период от аккаунта - Не более 5 параллельных запросов от одного пользователя   - Не более 20 параллельных запросов от аккаунта - Не более 20 Мб данных в одном запросе - Максимум 1000 элементов в массиве - Обязательное использование сжатия gzip 
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package ru.moysklad.remap_1_2.api;

import com.fasterxml.jackson.core.type.TypeReference;

import ru.moysklad.remap_1_2.ApiException;
import ru.moysklad.remap_1_2.ApiClient;
import ru.moysklad.remap_1_2.BaseApi;
import ru.moysklad.remap_1_2.Configuration;
import ru.moysklad.remap_1_2.Pair;

import ru.moysklad.remap_1_2.model.AttributeMetaInfo;
import ru.moysklad.remap_1_2.model.AttributeMetaInfoList;
import ru.moysklad.remap_1_2.model.CreateInvoiceOutBatch200ResponseInner;
import ru.moysklad.remap_1_2.model.CreateInvoiceOutPositionsBatch200ResponseInner;
import ru.moysklad.remap_1_2.model.DeleteContractsBatch200ResponseInner;
import ru.moysklad.remap_1_2.model.DocumentMetadata;
import ru.moysklad.remap_1_2.model.ErrorOrArray;
import ru.moysklad.remap_1_2.model.FileUpload;
import ru.moysklad.remap_1_2.model.GetProductFiles200Response;
import ru.moysklad.remap_1_2.model.InvoiceOut;
import ru.moysklad.remap_1_2.model.InvoiceOutList;
import ru.moysklad.remap_1_2.model.InvoiceOutPosition;
import ru.moysklad.remap_1_2.model.InvoiceOutPositionList;
import ru.moysklad.remap_1_2.model.ModelFile;
import ru.moysklad.remap_1_2.model.State;
import java.util.UUID;


import java.util.ArrayList;
import java.util.Collections;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.StringJoiner;

@javax.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", date = "2026-06-18T09:20:10.487321760Z[GMT]", comments = "Generator version: 7.14.0")

public class InvoiceOutsApi extends BaseApi {

  public InvoiceOutsApi() {
    super(Configuration.getDefaultApiClient());
  }

  public InvoiceOutsApi(ApiClient apiClient) {
    super(apiClient);
  }

  /**
   * Добавить файлы к Счету покупателю
   * Добавить новые Файлы к Счету покупателю. В одном запросе можно добавить максимум 10 Файлов. В поле &#x60;content&#x60; нужно указать файл, закодированный в Base64, в поле &#x60;filename&#x60; — имя файла с расширением. 
   * @param id ID сущности (required)
   * @param fileUpload  (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @return List&lt;ModelFile&gt;
   * @throws ApiException if fails to make API call
   */
  public List<ModelFile> addInvoiceOutFiles(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull List<FileUpload> fileUpload, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType) throws ApiException {
    return this.addInvoiceOutFiles(id, fileUpload, accept, acceptEncoding, contentType, Collections.emptyMap());
  }


  /**
   * Добавить файлы к Счету покупателю
   * Добавить новые Файлы к Счету покупателю. В одном запросе можно добавить максимум 10 Файлов. В поле &#x60;content&#x60; нужно указать файл, закодированный в Base64, в поле &#x60;filename&#x60; — имя файла с расширением. 
   * @param id ID сущности (required)
   * @param fileUpload  (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @param additionalHeaders additionalHeaders for this call
   * @return List&lt;ModelFile&gt;
   * @throws ApiException if fails to make API call
   */
  public List<ModelFile> addInvoiceOutFiles(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull List<FileUpload> fileUpload, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = fileUpload;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling addInvoiceOutFiles");
    }
    
    // verify the required parameter 'fileUpload' is set
    if (fileUpload == null) {
      throw new ApiException(400, "Missing the required parameter 'fileUpload' when calling addInvoiceOutFiles");
    }
    
    // create path and map variables
    String localVarPath = "/entity/invoiceout/{id}/files"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    if (accept != null)
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
if (acceptEncoding != null)
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));
if (contentType != null)
      localVarHeaderParams.put("Content-Type", apiClient.parameterToString(contentType));

    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<List<ModelFile>> localVarReturnType = new TypeReference<List<ModelFile>>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Создать Счет покупателю
   * 
   * @param invoiceOut  (required)
   * @param expand Замена ссылок объектами с помощью expand (optional)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @return InvoiceOut
   * @throws ApiException if fails to make API call
   */
  public InvoiceOut createInvoiceOut(@javax.annotation.Nonnull InvoiceOut invoiceOut, @javax.annotation.Nullable String expand, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType) throws ApiException {
    return this.createInvoiceOut(invoiceOut, expand, accept, acceptEncoding, contentType, Collections.emptyMap());
  }

  /**
   * Создать Счет покупателю
   * 
   
   * @param invoiceOut  (required)
   
   
   
   
   
   * @param options request options such as pagination, filters, expands, fields, sorting and additional headers
   * @return InvoiceOut
   * @throws ApiException if fails to make API call
   */
  public InvoiceOut createInvoiceOut(@javax.annotation.Nonnull InvoiceOut invoiceOut, RequestOptions options) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.emptyIfNull(options);
    return this.createInvoiceOut(invoiceOut, (String) effectiveOptions.get("expand"), null, null, null, effectiveOptions.getAdditionalHeaders());
  }


  /**
   * Создать Счет покупателю
   * 
   * @param invoiceOut  (required)
   * @param expand Замена ссылок объектами с помощью expand (optional)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @param additionalHeaders additionalHeaders for this call
   * @return InvoiceOut
   * @throws ApiException if fails to make API call
   */
  public InvoiceOut createInvoiceOut(@javax.annotation.Nonnull InvoiceOut invoiceOut, @javax.annotation.Nullable String expand, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = invoiceOut;
    
    // verify the required parameter 'invoiceOut' is set
    if (invoiceOut == null) {
      throw new ApiException(400, "Missing the required parameter 'invoiceOut' when calling createInvoiceOut");
    }
    
    // create path and map variables
    String localVarPath = "/entity/invoiceout";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("expand", expand));
    if (accept != null)
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
if (acceptEncoding != null)
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));
if (contentType != null)
      localVarHeaderParams.put("Content-Type", apiClient.parameterToString(contentType));

    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<InvoiceOut> localVarReturnType = new TypeReference<InvoiceOut>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Массовое создание и обновление Счетов покупателям
   * 
   * @param invoiceOut  (required)
   * @param expand Замена ссылок объектами с помощью expand (optional)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @return List&lt;CreateInvoiceOutBatch200ResponseInner&gt;
   * @throws ApiException if fails to make API call
   */
  public List<CreateInvoiceOutBatch200ResponseInner> createInvoiceOutBatch(@javax.annotation.Nonnull List<InvoiceOut> invoiceOut, @javax.annotation.Nullable String expand, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType) throws ApiException {
    return this.createInvoiceOutBatch(invoiceOut, expand, accept, acceptEncoding, contentType, Collections.emptyMap());
  }

  /**
   * Массовое создание и обновление Счетов покупателям
   * 
   
   * @param invoiceOut  (required)
   
   
   
   
   
   * @param options request options such as pagination, filters, expands, fields, sorting and additional headers
   * @return List&lt;CreateInvoiceOutBatch200ResponseInner&gt;
   * @throws ApiException if fails to make API call
   */
  public List<CreateInvoiceOutBatch200ResponseInner> createInvoiceOutBatch(@javax.annotation.Nonnull List<InvoiceOut> invoiceOut, RequestOptions options) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.emptyIfNull(options);
    return this.createInvoiceOutBatch(invoiceOut, (String) effectiveOptions.get("expand"), null, null, null, effectiveOptions.getAdditionalHeaders());
  }


  /**
   * Массовое создание и обновление Счетов покупателям
   * 
   * @param invoiceOut  (required)
   * @param expand Замена ссылок объектами с помощью expand (optional)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @param additionalHeaders additionalHeaders for this call
   * @return List&lt;CreateInvoiceOutBatch200ResponseInner&gt;
   * @throws ApiException if fails to make API call
   */
  public List<CreateInvoiceOutBatch200ResponseInner> createInvoiceOutBatch(@javax.annotation.Nonnull List<InvoiceOut> invoiceOut, @javax.annotation.Nullable String expand, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = invoiceOut;
    
    // verify the required parameter 'invoiceOut' is set
    if (invoiceOut == null) {
      throw new ApiException(400, "Missing the required parameter 'invoiceOut' when calling createInvoiceOutBatch");
    }
    
    // create path and map variables
    String localVarPath = "/entity/invoiceout/batch";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("expand", expand));
    if (accept != null)
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
if (acceptEncoding != null)
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));
if (contentType != null)
      localVarHeaderParams.put("Content-Type", apiClient.parameterToString(contentType));

    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<List<CreateInvoiceOutBatch200ResponseInner>> localVarReturnType = new TypeReference<List<CreateInvoiceOutBatch200ResponseInner>>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Создать Доп. поле InvoiceOut
   * 
   * @param attributeMetaInfo  (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @return AttributeMetaInfo
   * @throws ApiException if fails to make API call
   */
  public AttributeMetaInfo createInvoiceOutMetadataAttribute(@javax.annotation.Nonnull AttributeMetaInfo attributeMetaInfo, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType) throws ApiException {
    return this.createInvoiceOutMetadataAttribute(attributeMetaInfo, accept, acceptEncoding, contentType, Collections.emptyMap());
  }


  /**
   * Создать Доп. поле InvoiceOut
   * 
   * @param attributeMetaInfo  (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @param additionalHeaders additionalHeaders for this call
   * @return AttributeMetaInfo
   * @throws ApiException if fails to make API call
   */
  public AttributeMetaInfo createInvoiceOutMetadataAttribute(@javax.annotation.Nonnull AttributeMetaInfo attributeMetaInfo, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = attributeMetaInfo;
    
    // verify the required parameter 'attributeMetaInfo' is set
    if (attributeMetaInfo == null) {
      throw new ApiException(400, "Missing the required parameter 'attributeMetaInfo' when calling createInvoiceOutMetadataAttribute");
    }
    
    // create path and map variables
    String localVarPath = "/entity/invoiceout/metadata/attributes";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    if (accept != null)
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
if (acceptEncoding != null)
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));
if (contentType != null)
      localVarHeaderParams.put("Content-Type", apiClient.parameterToString(contentType));

    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<AttributeMetaInfo> localVarReturnType = new TypeReference<AttributeMetaInfo>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Создать позицию Счета покупателю
   * 
   * @param id ID сущности (required)
   * @param invoiceOutPosition  (required)
   * @param expand Замена ссылок объектами с помощью expand (optional)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @return InvoiceOutPosition
   * @throws ApiException if fails to make API call
   */
  public InvoiceOutPosition createInvoiceOutPositions(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull InvoiceOutPosition invoiceOutPosition, @javax.annotation.Nullable String expand, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType) throws ApiException {
    return this.createInvoiceOutPositions(id, invoiceOutPosition, expand, accept, acceptEncoding, contentType, Collections.emptyMap());
  }

  /**
   * Создать позицию Счета покупателю
   * 
   
   * @param id ID сущности (required)
   
   
   * @param invoiceOutPosition  (required)
   
   
   
   
   
   * @param options request options such as pagination, filters, expands, fields, sorting and additional headers
   * @return InvoiceOutPosition
   * @throws ApiException if fails to make API call
   */
  public InvoiceOutPosition createInvoiceOutPositions(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull InvoiceOutPosition invoiceOutPosition, RequestOptions options) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.emptyIfNull(options);
    return this.createInvoiceOutPositions(id, invoiceOutPosition, (String) effectiveOptions.get("expand"), null, null, null, effectiveOptions.getAdditionalHeaders());
  }


  /**
   * Создать позицию Счета покупателю
   * 
   * @param id ID сущности (required)
   * @param invoiceOutPosition  (required)
   * @param expand Замена ссылок объектами с помощью expand (optional)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @param additionalHeaders additionalHeaders for this call
   * @return InvoiceOutPosition
   * @throws ApiException if fails to make API call
   */
  public InvoiceOutPosition createInvoiceOutPositions(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull InvoiceOutPosition invoiceOutPosition, @javax.annotation.Nullable String expand, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = invoiceOutPosition;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling createInvoiceOutPositions");
    }
    
    // verify the required parameter 'invoiceOutPosition' is set
    if (invoiceOutPosition == null) {
      throw new ApiException(400, "Missing the required parameter 'invoiceOutPosition' when calling createInvoiceOutPositions");
    }
    
    // create path and map variables
    String localVarPath = "/entity/invoiceout/{id}/positions"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("expand", expand));
    if (accept != null)
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
if (acceptEncoding != null)
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));
if (contentType != null)
      localVarHeaderParams.put("Content-Type", apiClient.parameterToString(contentType));

    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<InvoiceOutPosition> localVarReturnType = new TypeReference<InvoiceOutPosition>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Создать позиции Счета покупателю
   * 
   * @param id ID сущности (required)
   * @param invoiceOutPosition  (required)
   * @param expand Замена ссылок объектами с помощью expand (optional)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @return List&lt;CreateInvoiceOutPositionsBatch200ResponseInner&gt;
   * @throws ApiException if fails to make API call
   */
  public List<CreateInvoiceOutPositionsBatch200ResponseInner> createInvoiceOutPositionsBatch(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull List<InvoiceOutPosition> invoiceOutPosition, @javax.annotation.Nullable String expand, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType) throws ApiException {
    return this.createInvoiceOutPositionsBatch(id, invoiceOutPosition, expand, accept, acceptEncoding, contentType, Collections.emptyMap());
  }

  /**
   * Создать позиции Счета покупателю
   * 
   
   * @param id ID сущности (required)
   
   
   * @param invoiceOutPosition  (required)
   
   
   
   
   
   * @param options request options such as pagination, filters, expands, fields, sorting and additional headers
   * @return List&lt;CreateInvoiceOutPositionsBatch200ResponseInner&gt;
   * @throws ApiException if fails to make API call
   */
  public List<CreateInvoiceOutPositionsBatch200ResponseInner> createInvoiceOutPositionsBatch(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull List<InvoiceOutPosition> invoiceOutPosition, RequestOptions options) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.emptyIfNull(options);
    return this.createInvoiceOutPositionsBatch(id, invoiceOutPosition, (String) effectiveOptions.get("expand"), null, null, null, effectiveOptions.getAdditionalHeaders());
  }


  /**
   * Создать позиции Счета покупателю
   * 
   * @param id ID сущности (required)
   * @param invoiceOutPosition  (required)
   * @param expand Замена ссылок объектами с помощью expand (optional)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @param additionalHeaders additionalHeaders for this call
   * @return List&lt;CreateInvoiceOutPositionsBatch200ResponseInner&gt;
   * @throws ApiException if fails to make API call
   */
  public List<CreateInvoiceOutPositionsBatch200ResponseInner> createInvoiceOutPositionsBatch(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull List<InvoiceOutPosition> invoiceOutPosition, @javax.annotation.Nullable String expand, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = invoiceOutPosition;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling createInvoiceOutPositionsBatch");
    }
    
    // verify the required parameter 'invoiceOutPosition' is set
    if (invoiceOutPosition == null) {
      throw new ApiException(400, "Missing the required parameter 'invoiceOutPosition' when calling createInvoiceOutPositionsBatch");
    }
    
    // create path and map variables
    String localVarPath = "/entity/invoiceout/{id}/positions/batch"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("expand", expand));
    if (accept != null)
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
if (acceptEncoding != null)
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));
if (contentType != null)
      localVarHeaderParams.put("Content-Type", apiClient.parameterToString(contentType));

    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<List<CreateInvoiceOutPositionsBatch200ResponseInner>> localVarReturnType = new TypeReference<List<CreateInvoiceOutPositionsBatch200ResponseInner>>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Удалить Счет покупателю
   * 
   * @param id ID сущности (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @throws ApiException if fails to make API call
   */
  public void deleteInvoiceOut(@javax.annotation.Nonnull UUID id, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType) throws ApiException {
    this.deleteInvoiceOut(id, accept, acceptEncoding, contentType, Collections.emptyMap());
  }


  /**
   * Удалить Счет покупателю
   * 
   * @param id ID сущности (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @param additionalHeaders additionalHeaders for this call
   * @throws ApiException if fails to make API call
   */
  public void deleteInvoiceOut(@javax.annotation.Nonnull UUID id, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling deleteInvoiceOut");
    }
    
    // create path and map variables
    String localVarPath = "/entity/invoiceout/{id}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    if (accept != null)
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
if (acceptEncoding != null)
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));
if (contentType != null)
      localVarHeaderParams.put("Content-Type", apiClient.parameterToString(contentType));

    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    apiClient.invokeAPI(
        localVarPath,
        "DELETE",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        null
    );
  }

  /**
   * Массовое удаление Счетов покупателям
   * 
   * @param invoiceOut  (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @return List&lt;DeleteContractsBatch200ResponseInner&gt;
   * @throws ApiException if fails to make API call
   */
  public List<DeleteContractsBatch200ResponseInner> deleteInvoiceOutBatch(@javax.annotation.Nonnull List<InvoiceOut> invoiceOut, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType) throws ApiException {
    return this.deleteInvoiceOutBatch(invoiceOut, accept, acceptEncoding, contentType, Collections.emptyMap());
  }


  /**
   * Массовое удаление Счетов покупателям
   * 
   * @param invoiceOut  (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @param additionalHeaders additionalHeaders for this call
   * @return List&lt;DeleteContractsBatch200ResponseInner&gt;
   * @throws ApiException if fails to make API call
   */
  public List<DeleteContractsBatch200ResponseInner> deleteInvoiceOutBatch(@javax.annotation.Nonnull List<InvoiceOut> invoiceOut, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = invoiceOut;
    
    // verify the required parameter 'invoiceOut' is set
    if (invoiceOut == null) {
      throw new ApiException(400, "Missing the required parameter 'invoiceOut' when calling deleteInvoiceOutBatch");
    }
    
    // create path and map variables
    String localVarPath = "/entity/invoiceout/delete";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    if (accept != null)
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
if (acceptEncoding != null)
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));
if (contentType != null)
      localVarHeaderParams.put("Content-Type", apiClient.parameterToString(contentType));

    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<List<DeleteContractsBatch200ResponseInner>> localVarReturnType = new TypeReference<List<DeleteContractsBatch200ResponseInner>>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Удалить файл Счета покупателю
   * Удаление Файла Счета покупателю.
   * @param id ID сущности (required)
   * @param fileId ID файла (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @throws ApiException if fails to make API call
   */
  public void deleteInvoiceOutFile(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull UUID fileId, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding) throws ApiException {
    this.deleteInvoiceOutFile(id, fileId, accept, acceptEncoding, Collections.emptyMap());
  }


  /**
   * Удалить файл Счета покупателю
   * Удаление Файла Счета покупателю.
   * @param id ID сущности (required)
   * @param fileId ID файла (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param additionalHeaders additionalHeaders for this call
   * @throws ApiException if fails to make API call
   */
  public void deleteInvoiceOutFile(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull UUID fileId, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling deleteInvoiceOutFile");
    }
    
    // verify the required parameter 'fileId' is set
    if (fileId == null) {
      throw new ApiException(400, "Missing the required parameter 'fileId' when calling deleteInvoiceOutFile");
    }
    
    // create path and map variables
    String localVarPath = "/entity/invoiceout/{id}/files/{fileId}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)))
      .replaceAll("\\{" + "fileId" + "\\}", apiClient.escapeString(apiClient.parameterToString(fileId)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    if (accept != null)
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
if (acceptEncoding != null)
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));

    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    apiClient.invokeAPI(
        localVarPath,
        "DELETE",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        null
    );
  }

  /**
   * Удалить отдельное доп. поле InvoiceOut
   * 
   * @param id ID сущности (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @throws ApiException if fails to make API call
   */
  public void deleteInvoiceOutMetadataAttributeById(@javax.annotation.Nonnull UUID id, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType) throws ApiException {
    this.deleteInvoiceOutMetadataAttributeById(id, accept, acceptEncoding, contentType, Collections.emptyMap());
  }


  /**
   * Удалить отдельное доп. поле InvoiceOut
   * 
   * @param id ID сущности (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @param additionalHeaders additionalHeaders for this call
   * @throws ApiException if fails to make API call
   */
  public void deleteInvoiceOutMetadataAttributeById(@javax.annotation.Nonnull UUID id, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling deleteInvoiceOutMetadataAttributeById");
    }
    
    // create path and map variables
    String localVarPath = "/entity/invoiceout/metadata/attributes/{id}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    if (accept != null)
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
if (acceptEncoding != null)
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));
if (contentType != null)
      localVarHeaderParams.put("Content-Type", apiClient.parameterToString(contentType));

    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    apiClient.invokeAPI(
        localVarPath,
        "DELETE",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        null
    );
  }

  /**
   * Удалить отдельный статус InvoiceOut
   * 
   * @param id ID сущности (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @throws ApiException if fails to make API call
   */
  public void deleteInvoiceOutMetadataStateById(@javax.annotation.Nonnull UUID id, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType) throws ApiException {
    this.deleteInvoiceOutMetadataStateById(id, accept, acceptEncoding, contentType, Collections.emptyMap());
  }


  /**
   * Удалить отдельный статус InvoiceOut
   * 
   * @param id ID сущности (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @param additionalHeaders additionalHeaders for this call
   * @throws ApiException if fails to make API call
   */
  public void deleteInvoiceOutMetadataStateById(@javax.annotation.Nonnull UUID id, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling deleteInvoiceOutMetadataStateById");
    }
    
    // create path and map variables
    String localVarPath = "/entity/invoiceout/metadata/states/{id}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    if (accept != null)
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
if (acceptEncoding != null)
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));
if (contentType != null)
      localVarHeaderParams.put("Content-Type", apiClient.parameterToString(contentType));

    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    apiClient.invokeAPI(
        localVarPath,
        "DELETE",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        null
    );
  }

  /**
   * Удалить позицию Счета покупателю
   * 
   * @param id ID сущности (required)
   * @param positionId ID позиции (required)
   * @param expand Замена ссылок объектами с помощью expand (optional)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @throws ApiException if fails to make API call
   */
  public void deleteInvoiceOutPosition(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull UUID positionId, @javax.annotation.Nullable String expand, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType) throws ApiException {
    this.deleteInvoiceOutPosition(id, positionId, expand, accept, acceptEncoding, contentType, Collections.emptyMap());
  }

  /**
   * Удалить позицию Счета покупателю
   * 
   
   * @param id ID сущности (required)
   
   
   * @param positionId ID позиции (required)
   
   
   
   
   
   * @param options request options such as pagination, filters, expands, fields, sorting and additional headers
   * @throws ApiException if fails to make API call
   */
  public void deleteInvoiceOutPosition(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull UUID positionId, RequestOptions options) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.emptyIfNull(options);
    this.deleteInvoiceOutPosition(id, positionId, (String) effectiveOptions.get("expand"), null, null, null, effectiveOptions.getAdditionalHeaders());
  }


  /**
   * Удалить позицию Счета покупателю
   * 
   * @param id ID сущности (required)
   * @param positionId ID позиции (required)
   * @param expand Замена ссылок объектами с помощью expand (optional)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @param additionalHeaders additionalHeaders for this call
   * @throws ApiException if fails to make API call
   */
  public void deleteInvoiceOutPosition(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull UUID positionId, @javax.annotation.Nullable String expand, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling deleteInvoiceOutPosition");
    }
    
    // verify the required parameter 'positionId' is set
    if (positionId == null) {
      throw new ApiException(400, "Missing the required parameter 'positionId' when calling deleteInvoiceOutPosition");
    }
    
    // create path and map variables
    String localVarPath = "/entity/invoiceout/{id}/positions/{positionId}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)))
      .replaceAll("\\{" + "positionId" + "\\}", apiClient.escapeString(apiClient.parameterToString(positionId)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("expand", expand));
    if (accept != null)
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
if (acceptEncoding != null)
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));
if (contentType != null)
      localVarHeaderParams.put("Content-Type", apiClient.parameterToString(contentType));

    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    apiClient.invokeAPI(
        localVarPath,
        "DELETE",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        null
    );
  }

  /**
   * Массовое удаление позиций Счета покупателю
   * 
   * @param id ID сущности (required)
   * @param invoiceOutPosition  (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @return List&lt;DeleteContractsBatch200ResponseInner&gt;
   * @throws ApiException if fails to make API call
   */
  public List<DeleteContractsBatch200ResponseInner> deleteInvoiceOutPositionsBatch(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull List<InvoiceOutPosition> invoiceOutPosition, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType) throws ApiException {
    return this.deleteInvoiceOutPositionsBatch(id, invoiceOutPosition, accept, acceptEncoding, contentType, Collections.emptyMap());
  }


  /**
   * Массовое удаление позиций Счета покупателю
   * 
   * @param id ID сущности (required)
   * @param invoiceOutPosition  (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @param additionalHeaders additionalHeaders for this call
   * @return List&lt;DeleteContractsBatch200ResponseInner&gt;
   * @throws ApiException if fails to make API call
   */
  public List<DeleteContractsBatch200ResponseInner> deleteInvoiceOutPositionsBatch(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull List<InvoiceOutPosition> invoiceOutPosition, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = invoiceOutPosition;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling deleteInvoiceOutPositionsBatch");
    }
    
    // verify the required parameter 'invoiceOutPosition' is set
    if (invoiceOutPosition == null) {
      throw new ApiException(400, "Missing the required parameter 'invoiceOutPosition' when calling deleteInvoiceOutPositionsBatch");
    }
    
    // create path and map variables
    String localVarPath = "/entity/invoiceout/{id}/positions/delete"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    if (accept != null)
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
if (acceptEncoding != null)
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));
if (contentType != null)
      localVarHeaderParams.put("Content-Type", apiClient.parameterToString(contentType));

    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<List<DeleteContractsBatch200ResponseInner>> localVarReturnType = new TypeReference<List<DeleteContractsBatch200ResponseInner>>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Получить Счет покупателю
   * 
   * @param id ID сущности (required)
   * @param expand Замена ссылок объектами с помощью expand (optional)
   * @param fields Включить в ответ скрытые поля, не выводимые по умолчанию. В одном запросе можно передать только одно значение. - &#x60;minimumStock&#x60; — неснижаемый остаток (товар, модификация) - &#x60;downloadPermanentHref&#x60; — постоянная ссылка на изображение (платный тариф) - &#x60;stock&#x60; — остатки и себестоимость в позициях документов - &#x60;declaration&#x60; — прослеживаемость импортных товаров в позициях документов  (optional)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @return InvoiceOut
   * @throws ApiException if fails to make API call
   */
  public InvoiceOut getInvoiceOutById(@javax.annotation.Nonnull UUID id, @javax.annotation.Nullable String expand, @javax.annotation.Nullable String fields, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding) throws ApiException {
    return this.getInvoiceOutById(id, expand, fields, accept, acceptEncoding, Collections.emptyMap());
  }

  /**
   * Получить Счет покупателю
   * 
   
   * @param id ID сущности (required)
   
   
   
   
   
   * @param options request options such as pagination, filters, expands, fields, sorting and additional headers
   * @return InvoiceOut
   * @throws ApiException if fails to make API call
   */
  public InvoiceOut getInvoiceOutById(@javax.annotation.Nonnull UUID id, RequestOptions options) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.emptyIfNull(options);
    return this.getInvoiceOutById(id, (String) effectiveOptions.get("expand"), (String) effectiveOptions.get("fields"), null, null, effectiveOptions.getAdditionalHeaders());
  }


  /**
   * Получить Счет покупателю
   * 
   * @param id ID сущности (required)
   * @param expand Замена ссылок объектами с помощью expand (optional)
   * @param fields Включить в ответ скрытые поля, не выводимые по умолчанию. В одном запросе можно передать только одно значение. - &#x60;minimumStock&#x60; — неснижаемый остаток (товар, модификация) - &#x60;downloadPermanentHref&#x60; — постоянная ссылка на изображение (платный тариф) - &#x60;stock&#x60; — остатки и себестоимость в позициях документов - &#x60;declaration&#x60; — прослеживаемость импортных товаров в позициях документов  (optional)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param additionalHeaders additionalHeaders for this call
   * @return InvoiceOut
   * @throws ApiException if fails to make API call
   */
  public InvoiceOut getInvoiceOutById(@javax.annotation.Nonnull UUID id, @javax.annotation.Nullable String expand, @javax.annotation.Nullable String fields, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling getInvoiceOutById");
    }
    
    // create path and map variables
    String localVarPath = "/entity/invoiceout/{id}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("expand", expand));
    localVarQueryParams.addAll(apiClient.parameterToPair("fields", fields));
    if (accept != null)
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
if (acceptEncoding != null)
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));

    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<InvoiceOut> localVarReturnType = new TypeReference<InvoiceOut>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Получить файл Счета покупателю
   * Получение Файла Счета покупателю.
   * @param id ID сущности (required)
   * @param fileId ID файла (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @return ModelFile
   * @throws ApiException if fails to make API call
   */
  public ModelFile getInvoiceOutFile(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull UUID fileId, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding) throws ApiException {
    return this.getInvoiceOutFile(id, fileId, accept, acceptEncoding, Collections.emptyMap());
  }


  /**
   * Получить файл Счета покупателю
   * Получение Файла Счета покупателю.
   * @param id ID сущности (required)
   * @param fileId ID файла (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param additionalHeaders additionalHeaders for this call
   * @return ModelFile
   * @throws ApiException if fails to make API call
   */
  public ModelFile getInvoiceOutFile(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull UUID fileId, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling getInvoiceOutFile");
    }
    
    // verify the required parameter 'fileId' is set
    if (fileId == null) {
      throw new ApiException(400, "Missing the required parameter 'fileId' when calling getInvoiceOutFile");
    }
    
    // create path and map variables
    String localVarPath = "/entity/invoiceout/{id}/files/{fileId}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)))
      .replaceAll("\\{" + "fileId" + "\\}", apiClient.escapeString(apiClient.parameterToString(fileId)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    if (accept != null)
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
if (acceptEncoding != null)
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));

    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<ModelFile> localVarReturnType = new TypeReference<ModelFile>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Получить файлы Счета покупателю
   * Запрос на получение списка всех Файлов данного Счета покупателю.
   * @param id ID сущности (required)
   * @param limit Максимальное количество элементов в выданном списке (максимум 1000) (optional, default to 1000)
   * @param offset Отступ в выданном списке (optional, default to 0)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @return GetProductFiles200Response
   * @throws ApiException if fails to make API call
   */
  public GetProductFiles200Response getInvoiceOutFiles(@javax.annotation.Nonnull UUID id, @javax.annotation.Nullable Integer limit, @javax.annotation.Nullable Integer offset, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding) throws ApiException {
    return this.getInvoiceOutFiles(id, limit, offset, accept, acceptEncoding, Collections.emptyMap());
  }

  /**
   * Получить файлы Счета покупателю
   * Запрос на получение списка всех Файлов данного Счета покупателю.
   
   * @param id ID сущности (required)
   
   
   
   
   
   * @param options request options such as pagination, filters, expands, fields, sorting and additional headers
   * @return GetProductFiles200Response
   * @throws ApiException if fails to make API call
   */
  public GetProductFiles200Response getInvoiceOutFiles(@javax.annotation.Nonnull UUID id, RequestOptions options) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.emptyIfNull(options);
    return this.getInvoiceOutFiles(id, (Integer) effectiveOptions.get("limit"), (Integer) effectiveOptions.get("offset"), null, null, effectiveOptions.getAdditionalHeaders());
  }


  /**
   * Получить файлы Счета покупателю
   * Запрос на получение списка всех Файлов данного Счета покупателю.
   * @param id ID сущности (required)
   * @param limit Максимальное количество элементов в выданном списке (максимум 1000) (optional, default to 1000)
   * @param offset Отступ в выданном списке (optional, default to 0)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param additionalHeaders additionalHeaders for this call
   * @return GetProductFiles200Response
   * @throws ApiException if fails to make API call
   */
  public GetProductFiles200Response getInvoiceOutFiles(@javax.annotation.Nonnull UUID id, @javax.annotation.Nullable Integer limit, @javax.annotation.Nullable Integer offset, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling getInvoiceOutFiles");
    }
    
    // create path and map variables
    String localVarPath = "/entity/invoiceout/{id}/files"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
    localVarQueryParams.addAll(apiClient.parameterToPair("offset", offset));
    if (accept != null)
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
if (acceptEncoding != null)
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));

    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<GetProductFiles200Response> localVarReturnType = new TypeReference<GetProductFiles200Response>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Получить список Счетов покупателям
   * 
   * @param limit Максимальное количество элементов в выданном списке (максимум 1000) (optional, default to 1000)
   * @param offset Отступ в выданном списке (optional, default to 0)
   * @param search Контекстный поиск по строковым полям сущностей (optional)
   * @param expand Замена ссылок объектами с помощью expand (optional)
   * @param fields Включить в ответ скрытые поля, не выводимые по умолчанию. В одном запросе можно передать только одно значение. - &#x60;minimumStock&#x60; — неснижаемый остаток (товар, модификация) - &#x60;downloadPermanentHref&#x60; — постоянная ссылка на изображение (платный тариф) - &#x60;stock&#x60; — остатки и себестоимость в позициях документов - &#x60;declaration&#x60; — прослеживаемость импортных товаров в позициях документов  (optional)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @return InvoiceOutList
   * @throws ApiException if fails to make API call
   */
  public InvoiceOutList getInvoiceOutList(@javax.annotation.Nullable Integer limit, @javax.annotation.Nullable Integer offset, @javax.annotation.Nullable String search, @javax.annotation.Nullable String expand, @javax.annotation.Nullable String fields, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding) throws ApiException {
    return this.getInvoiceOutList(limit, offset, search, expand, fields, accept, acceptEncoding, Collections.emptyMap());
  }

  /**
   * Получить список Счетов покупателям
   * 
   
   
   
   
   
   
   
   * @param options request options such as pagination, filters, expands, fields, sorting and additional headers
   * @return InvoiceOutList
   * @throws ApiException if fails to make API call
   */
  public InvoiceOutList getInvoiceOutList(RequestOptions options) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.emptyIfNull(options);
    return this.getInvoiceOutList((Integer) effectiveOptions.get("limit"), (Integer) effectiveOptions.get("offset"), (String) effectiveOptions.get("search"), (String) effectiveOptions.get("expand"), (String) effectiveOptions.get("fields"), null, null, effectiveOptions.getAdditionalHeaders());
  }


  /**
   * Получить список Счетов покупателям
   * 
   * @param limit Максимальное количество элементов в выданном списке (максимум 1000) (optional, default to 1000)
   * @param offset Отступ в выданном списке (optional, default to 0)
   * @param search Контекстный поиск по строковым полям сущностей (optional)
   * @param expand Замена ссылок объектами с помощью expand (optional)
   * @param fields Включить в ответ скрытые поля, не выводимые по умолчанию. В одном запросе можно передать только одно значение. - &#x60;minimumStock&#x60; — неснижаемый остаток (товар, модификация) - &#x60;downloadPermanentHref&#x60; — постоянная ссылка на изображение (платный тариф) - &#x60;stock&#x60; — остатки и себестоимость в позициях документов - &#x60;declaration&#x60; — прослеживаемость импортных товаров в позициях документов  (optional)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param additionalHeaders additionalHeaders for this call
   * @return InvoiceOutList
   * @throws ApiException if fails to make API call
   */
  public InvoiceOutList getInvoiceOutList(@javax.annotation.Nullable Integer limit, @javax.annotation.Nullable Integer offset, @javax.annotation.Nullable String search, @javax.annotation.Nullable String expand, @javax.annotation.Nullable String fields, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // create path and map variables
    String localVarPath = "/entity/invoiceout";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
    localVarQueryParams.addAll(apiClient.parameterToPair("offset", offset));
    localVarQueryParams.addAll(apiClient.parameterToPair("search", search));
    localVarQueryParams.addAll(apiClient.parameterToPair("expand", expand));
    localVarQueryParams.addAll(apiClient.parameterToPair("fields", fields));
    if (accept != null)
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
if (acceptEncoding != null)
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));

    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<InvoiceOutList> localVarReturnType = new TypeReference<InvoiceOutList>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Метаданные Счетов покупателям
   * 
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @return DocumentMetadata
   * @throws ApiException if fails to make API call
   */
  public DocumentMetadata getInvoiceOutMetadata(@javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType) throws ApiException {
    return this.getInvoiceOutMetadata(accept, acceptEncoding, contentType, Collections.emptyMap());
  }


  /**
   * Метаданные Счетов покупателям
   * 
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @param additionalHeaders additionalHeaders for this call
   * @return DocumentMetadata
   * @throws ApiException if fails to make API call
   */
  public DocumentMetadata getInvoiceOutMetadata(@javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // create path and map variables
    String localVarPath = "/entity/invoiceout/metadata";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    if (accept != null)
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
if (acceptEncoding != null)
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));
if (contentType != null)
      localVarHeaderParams.put("Content-Type", apiClient.parameterToString(contentType));

    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<DocumentMetadata> localVarReturnType = new TypeReference<DocumentMetadata>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Доп. поля InvoiceOut
   * 
   * @param offset Отступ в выданном списке (optional, default to 0)
   * @param limit Максимальное количество элементов в выданном списке (максимум 1000) (optional, default to 1000)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @return AttributeMetaInfoList
   * @throws ApiException if fails to make API call
   */
  public AttributeMetaInfoList getInvoiceOutMetadataAttribute(@javax.annotation.Nullable Integer offset, @javax.annotation.Nullable Integer limit, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType) throws ApiException {
    return this.getInvoiceOutMetadataAttribute(offset, limit, accept, acceptEncoding, contentType, Collections.emptyMap());
  }

  /**
   * Доп. поля InvoiceOut
   * 
   
   
   
   
   
   * @param options request options such as pagination, filters, expands, fields, sorting and additional headers
   * @return AttributeMetaInfoList
   * @throws ApiException if fails to make API call
   */
  public AttributeMetaInfoList getInvoiceOutMetadataAttribute(RequestOptions options) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.emptyIfNull(options);
    return this.getInvoiceOutMetadataAttribute((Integer) effectiveOptions.get("offset"), (Integer) effectiveOptions.get("limit"), null, null, null, effectiveOptions.getAdditionalHeaders());
  }


  /**
   * Доп. поля InvoiceOut
   * 
   * @param offset Отступ в выданном списке (optional, default to 0)
   * @param limit Максимальное количество элементов в выданном списке (максимум 1000) (optional, default to 1000)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @param additionalHeaders additionalHeaders for this call
   * @return AttributeMetaInfoList
   * @throws ApiException if fails to make API call
   */
  public AttributeMetaInfoList getInvoiceOutMetadataAttribute(@javax.annotation.Nullable Integer offset, @javax.annotation.Nullable Integer limit, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // create path and map variables
    String localVarPath = "/entity/invoiceout/metadata/attributes";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("offset", offset));
    localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
    if (accept != null)
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
if (acceptEncoding != null)
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));
if (contentType != null)
      localVarHeaderParams.put("Content-Type", apiClient.parameterToString(contentType));

    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<AttributeMetaInfoList> localVarReturnType = new TypeReference<AttributeMetaInfoList>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Отдельное доп. поле InvoiceOut
   * 
   * @param id ID сущности (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @return AttributeMetaInfo
   * @throws ApiException if fails to make API call
   */
  public AttributeMetaInfo getInvoiceOutMetadataAttributeById(@javax.annotation.Nonnull UUID id, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType) throws ApiException {
    return this.getInvoiceOutMetadataAttributeById(id, accept, acceptEncoding, contentType, Collections.emptyMap());
  }


  /**
   * Отдельное доп. поле InvoiceOut
   * 
   * @param id ID сущности (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @param additionalHeaders additionalHeaders for this call
   * @return AttributeMetaInfo
   * @throws ApiException if fails to make API call
   */
  public AttributeMetaInfo getInvoiceOutMetadataAttributeById(@javax.annotation.Nonnull UUID id, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling getInvoiceOutMetadataAttributeById");
    }
    
    // create path and map variables
    String localVarPath = "/entity/invoiceout/metadata/attributes/{id}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    if (accept != null)
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
if (acceptEncoding != null)
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));
if (contentType != null)
      localVarHeaderParams.put("Content-Type", apiClient.parameterToString(contentType));

    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<AttributeMetaInfo> localVarReturnType = new TypeReference<AttributeMetaInfo>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Отдельный статус InvoiceOut
   * 
   * @param id ID сущности (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @return State
   * @throws ApiException if fails to make API call
   */
  public State getInvoiceOutMetadataStateById(@javax.annotation.Nonnull UUID id, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType) throws ApiException {
    return this.getInvoiceOutMetadataStateById(id, accept, acceptEncoding, contentType, Collections.emptyMap());
  }


  /**
   * Отдельный статус InvoiceOut
   * 
   * @param id ID сущности (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @param additionalHeaders additionalHeaders for this call
   * @return State
   * @throws ApiException if fails to make API call
   */
  public State getInvoiceOutMetadataStateById(@javax.annotation.Nonnull UUID id, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling getInvoiceOutMetadataStateById");
    }
    
    // create path and map variables
    String localVarPath = "/entity/invoiceout/metadata/states/{id}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    if (accept != null)
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
if (acceptEncoding != null)
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));
if (contentType != null)
      localVarHeaderParams.put("Content-Type", apiClient.parameterToString(contentType));

    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<State> localVarReturnType = new TypeReference<State>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Получить позицию Счета покупателю
   * 
   * @param id ID сущности (required)
   * @param positionId ID позиции (required)
   * @param expand Замена ссылок объектами с помощью expand (optional)
   * @param fields Включить в ответ скрытые поля, не выводимые по умолчанию. В одном запросе можно передать только одно значение. - &#x60;minimumStock&#x60; — неснижаемый остаток (товар, модификация) - &#x60;downloadPermanentHref&#x60; — постоянная ссылка на изображение (платный тариф) - &#x60;stock&#x60; — остатки и себестоимость в позициях документов - &#x60;declaration&#x60; — прослеживаемость импортных товаров в позициях документов  (optional)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @return InvoiceOutPosition
   * @throws ApiException if fails to make API call
   */
  public InvoiceOutPosition getInvoiceOutPositionById(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull UUID positionId, @javax.annotation.Nullable String expand, @javax.annotation.Nullable String fields, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType) throws ApiException {
    return this.getInvoiceOutPositionById(id, positionId, expand, fields, accept, acceptEncoding, contentType, Collections.emptyMap());
  }

  /**
   * Получить позицию Счета покупателю
   * 
   
   * @param id ID сущности (required)
   
   
   * @param positionId ID позиции (required)
   
   
   
   
   
   
   * @param options request options such as pagination, filters, expands, fields, sorting and additional headers
   * @return InvoiceOutPosition
   * @throws ApiException if fails to make API call
   */
  public InvoiceOutPosition getInvoiceOutPositionById(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull UUID positionId, RequestOptions options) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.emptyIfNull(options);
    return this.getInvoiceOutPositionById(id, positionId, (String) effectiveOptions.get("expand"), (String) effectiveOptions.get("fields"), null, null, null, effectiveOptions.getAdditionalHeaders());
  }


  /**
   * Получить позицию Счета покупателю
   * 
   * @param id ID сущности (required)
   * @param positionId ID позиции (required)
   * @param expand Замена ссылок объектами с помощью expand (optional)
   * @param fields Включить в ответ скрытые поля, не выводимые по умолчанию. В одном запросе можно передать только одно значение. - &#x60;minimumStock&#x60; — неснижаемый остаток (товар, модификация) - &#x60;downloadPermanentHref&#x60; — постоянная ссылка на изображение (платный тариф) - &#x60;stock&#x60; — остатки и себестоимость в позициях документов - &#x60;declaration&#x60; — прослеживаемость импортных товаров в позициях документов  (optional)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @param additionalHeaders additionalHeaders for this call
   * @return InvoiceOutPosition
   * @throws ApiException if fails to make API call
   */
  public InvoiceOutPosition getInvoiceOutPositionById(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull UUID positionId, @javax.annotation.Nullable String expand, @javax.annotation.Nullable String fields, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling getInvoiceOutPositionById");
    }
    
    // verify the required parameter 'positionId' is set
    if (positionId == null) {
      throw new ApiException(400, "Missing the required parameter 'positionId' when calling getInvoiceOutPositionById");
    }
    
    // create path and map variables
    String localVarPath = "/entity/invoiceout/{id}/positions/{positionId}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)))
      .replaceAll("\\{" + "positionId" + "\\}", apiClient.escapeString(apiClient.parameterToString(positionId)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

[...]
