/*
 * МойСклад JSON API
 * API для манипуляции с сущностями и создания отчетов в онлайн-сервисе МойСклад.  ## Аутентификация  МойСклад поддерживает аутентификацию по протоколу Basic Auth и с использованием токена доступа: - Basic Auth: заголовок `Authorization` со значением пары `логин:пароль`, закодированным в Base64 - Bearer Token: заголовок `Authorization` со значением `Bearer <Access-Token>`  ## Ограничения  - Не более 45 запросов за 3 секундный период от аккаунта - Не более 5 параллельных запросов от одного пользователя   - Не более 20 параллельных запросов от аккаунта - Не более 20 Мб данных в одном запросе - Максимум 1000 элементов в массиве - Обязательное использование сжатия gzip 
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package ru.moysklad.remap_1_2.api;

import com.fasterxml.jackson.core.type.TypeReference;

import ru.moysklad.remap_1_2.ApiException;
import ru.moysklad.remap_1_2.ApiClient;
import ru.moysklad.remap_1_2.BaseApi;
import ru.moysklad.remap_1_2.Configuration;
import ru.moysklad.remap_1_2.Pair;

import ru.moysklad.remap_1_2.model.AttributeMetaInfo;
import ru.moysklad.remap_1_2.model.AttributeMetaInfoList;
import ru.moysklad.remap_1_2.model.CreateProcessingOrderBatch200ResponseInner;
import ru.moysklad.remap_1_2.model.CreateProcessingOrderPositions200ResponseInner;
import ru.moysklad.remap_1_2.model.CreateProcessingOrderPositionsRequest;
import ru.moysklad.remap_1_2.model.DeleteContractsBatch200ResponseInner;
import ru.moysklad.remap_1_2.model.DocumentMetadata;
import ru.moysklad.remap_1_2.model.ErrorOrArray;
import ru.moysklad.remap_1_2.model.FileUpload;
import ru.moysklad.remap_1_2.model.GetProductFiles200Response;
import ru.moysklad.remap_1_2.model.ModelFile;
import ru.moysklad.remap_1_2.model.ProcessingOrder;
import ru.moysklad.remap_1_2.model.ProcessingOrderList;
import ru.moysklad.remap_1_2.model.ProcessingOrderPosition;
import ru.moysklad.remap_1_2.model.State;
import java.util.UUID;


import java.util.ArrayList;
import java.util.Collections;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.StringJoiner;

@javax.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", date = "2026-06-09T13:35:37.869485882Z[GMT]", comments = "Generator version: 7.14.0")

public class ProcessingOrdersApi extends BaseApi {

  public ProcessingOrdersApi() {
    super(Configuration.getDefaultApiClient());
  }

  public ProcessingOrdersApi(ApiClient apiClient) {
    super(apiClient);
  }

  /**
   * Добавить файлы к Заказу на производство
   * Добавить новые Файлы к Заказу на производство. В одном запросе можно добавить максимум 10 Файлов. В поле &#x60;content&#x60; нужно указать файл, закодированный в Base64, в поле &#x60;filename&#x60; — имя файла с расширением. 
   * @param id ID сущности (required)
   * @param fileUpload  (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @return List&lt;ModelFile&gt;
   * @throws ApiException if fails to make API call
   */
  public List<ModelFile> addProcessingOrderFiles(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull List<FileUpload> fileUpload, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType) throws ApiException {
    return this.addProcessingOrderFiles(id, fileUpload, accept, acceptEncoding, contentType, Collections.emptyMap());
  }


  /**
   * Добавить файлы к Заказу на производство
   * Добавить новые Файлы к Заказу на производство. В одном запросе можно добавить максимум 10 Файлов. В поле &#x60;content&#x60; нужно указать файл, закодированный в Base64, в поле &#x60;filename&#x60; — имя файла с расширением. 
   * @param id ID сущности (required)
   * @param fileUpload  (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @param additionalHeaders additionalHeaders for this call
   * @return List&lt;ModelFile&gt;
   * @throws ApiException if fails to make API call
   */
  public List<ModelFile> addProcessingOrderFiles(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull List<FileUpload> fileUpload, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = fileUpload;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling addProcessingOrderFiles");
    }
    
    // verify the required parameter 'fileUpload' is set
    if (fileUpload == null) {
      throw new ApiException(400, "Missing the required parameter 'fileUpload' when calling addProcessingOrderFiles");
    }
    
    // create path and map variables
    String localVarPath = "/entity/processingorder/{id}/files"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    if (accept != null)
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
if (acceptEncoding != null)
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));
if (contentType != null)
      localVarHeaderParams.put("Content-Type", apiClient.parameterToString(contentType));

    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<List<ModelFile>> localVarReturnType = new TypeReference<List<ModelFile>>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Создать ProcessingOrder
   * 
   * @param processingOrder  (required)
   * @param expand Замена ссылок объектами с помощью expand (optional)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @return ProcessingOrder
   * @throws ApiException if fails to make API call
   */
  public ProcessingOrder createProcessingOrder(@javax.annotation.Nonnull ProcessingOrder processingOrder, @javax.annotation.Nullable String expand, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType) throws ApiException {
    return this.createProcessingOrder(processingOrder, expand, accept, acceptEncoding, contentType, Collections.emptyMap());
  }

  /**
   * Создать ProcessingOrder
   * 
   
   * @param processingOrder  (required)
   
   
   
   
   
   * @param options request options such as pagination, filters, expands, fields, sorting and additional headers
   * @return ProcessingOrder
   * @throws ApiException if fails to make API call
   */
  public ProcessingOrder createProcessingOrder(@javax.annotation.Nonnull ProcessingOrder processingOrder, RequestOptions options) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.emptyIfNull(options);
    return this.createProcessingOrder(processingOrder, (String) effectiveOptions.get("expand"), null, null, null, effectiveOptions.getAdditionalHeaders());
  }


  /**
   * Создать ProcessingOrder
   * 
   * @param processingOrder  (required)
   * @param expand Замена ссылок объектами с помощью expand (optional)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @param additionalHeaders additionalHeaders for this call
   * @return ProcessingOrder
   * @throws ApiException if fails to make API call
   */
  public ProcessingOrder createProcessingOrder(@javax.annotation.Nonnull ProcessingOrder processingOrder, @javax.annotation.Nullable String expand, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = processingOrder;
    
    // verify the required parameter 'processingOrder' is set
    if (processingOrder == null) {
      throw new ApiException(400, "Missing the required parameter 'processingOrder' when calling createProcessingOrder");
    }
    
    // create path and map variables
    String localVarPath = "/entity/processingorder";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("expand", expand));
    if (accept != null)
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
if (acceptEncoding != null)
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));
if (contentType != null)
      localVarHeaderParams.put("Content-Type", apiClient.parameterToString(contentType));

    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<ProcessingOrder> localVarReturnType = new TypeReference<ProcessingOrder>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Массовое создание и обновление ProcessingOrder
   * 
   * @param processingOrder  (required)
   * @param expand Замена ссылок объектами с помощью expand (optional)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @return List&lt;CreateProcessingOrderBatch200ResponseInner&gt;
   * @throws ApiException if fails to make API call
   */
  public List<CreateProcessingOrderBatch200ResponseInner> createProcessingOrderBatch(@javax.annotation.Nonnull List<ProcessingOrder> processingOrder, @javax.annotation.Nullable String expand, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType) throws ApiException {
    return this.createProcessingOrderBatch(processingOrder, expand, accept, acceptEncoding, contentType, Collections.emptyMap());
  }

  /**
   * Массовое создание и обновление ProcessingOrder
   * 
   
   * @param processingOrder  (required)
   
   
   
   
   
   * @param options request options such as pagination, filters, expands, fields, sorting and additional headers
   * @return List&lt;CreateProcessingOrderBatch200ResponseInner&gt;
   * @throws ApiException if fails to make API call
   */
  public List<CreateProcessingOrderBatch200ResponseInner> createProcessingOrderBatch(@javax.annotation.Nonnull List<ProcessingOrder> processingOrder, RequestOptions options) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.emptyIfNull(options);
    return this.createProcessingOrderBatch(processingOrder, (String) effectiveOptions.get("expand"), null, null, null, effectiveOptions.getAdditionalHeaders());
  }


  /**
   * Массовое создание и обновление ProcessingOrder
   * 
   * @param processingOrder  (required)
   * @param expand Замена ссылок объектами с помощью expand (optional)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @param additionalHeaders additionalHeaders for this call
   * @return List&lt;CreateProcessingOrderBatch200ResponseInner&gt;
   * @throws ApiException if fails to make API call
   */
  public List<CreateProcessingOrderBatch200ResponseInner> createProcessingOrderBatch(@javax.annotation.Nonnull List<ProcessingOrder> processingOrder, @javax.annotation.Nullable String expand, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = processingOrder;
    
    // verify the required parameter 'processingOrder' is set
    if (processingOrder == null) {
      throw new ApiException(400, "Missing the required parameter 'processingOrder' when calling createProcessingOrderBatch");
    }
    
    // create path and map variables
    String localVarPath = "/entity/processingorder/batch";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("expand", expand));
    if (accept != null)
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
if (acceptEncoding != null)
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));
if (contentType != null)
      localVarHeaderParams.put("Content-Type", apiClient.parameterToString(contentType));

    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<List<CreateProcessingOrderBatch200ResponseInner>> localVarReturnType = new TypeReference<List<CreateProcessingOrderBatch200ResponseInner>>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Создать Доп. поле ProcessingOrder
   * 
   * @param attributeMetaInfo  (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @return AttributeMetaInfo
   * @throws ApiException if fails to make API call
   */
  public AttributeMetaInfo createProcessingOrderMetadataAttribute(@javax.annotation.Nonnull AttributeMetaInfo attributeMetaInfo, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType) throws ApiException {
    return this.createProcessingOrderMetadataAttribute(attributeMetaInfo, accept, acceptEncoding, contentType, Collections.emptyMap());
  }


  /**
   * Создать Доп. поле ProcessingOrder
   * 
   * @param attributeMetaInfo  (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @param additionalHeaders additionalHeaders for this call
   * @return AttributeMetaInfo
   * @throws ApiException if fails to make API call
   */
  public AttributeMetaInfo createProcessingOrderMetadataAttribute(@javax.annotation.Nonnull AttributeMetaInfo attributeMetaInfo, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = attributeMetaInfo;
    
    // verify the required parameter 'attributeMetaInfo' is set
    if (attributeMetaInfo == null) {
      throw new ApiException(400, "Missing the required parameter 'attributeMetaInfo' when calling createProcessingOrderMetadataAttribute");
    }
    
    // create path and map variables
    String localVarPath = "/entity/processingorder/metadata/attributes";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    if (accept != null)
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
if (acceptEncoding != null)
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));
if (contentType != null)
      localVarHeaderParams.put("Content-Type", apiClient.parameterToString(contentType));

    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<AttributeMetaInfo> localVarReturnType = new TypeReference<AttributeMetaInfo>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Создать статус ProcessingOrder
   * 
   * @param state  (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @return State
   * @throws ApiException if fails to make API call
   */
  public State createProcessingOrderMetadataState(@javax.annotation.Nonnull State state, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType) throws ApiException {
    return this.createProcessingOrderMetadataState(state, accept, acceptEncoding, contentType, Collections.emptyMap());
  }


  /**
   * Создать статус ProcessingOrder
   * 
   * @param state  (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @param additionalHeaders additionalHeaders for this call
   * @return State
   * @throws ApiException if fails to make API call
   */
  public State createProcessingOrderMetadataState(@javax.annotation.Nonnull State state, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = state;
    
    // verify the required parameter 'state' is set
    if (state == null) {
      throw new ApiException(400, "Missing the required parameter 'state' when calling createProcessingOrderMetadataState");
    }
    
    // create path and map variables
    String localVarPath = "/entity/processingorder/metadata/states";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    if (accept != null)
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
if (acceptEncoding != null)
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));
if (contentType != null)
      localVarHeaderParams.put("Content-Type", apiClient.parameterToString(contentType));

    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<State> localVarReturnType = new TypeReference<State>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Создать позиции ProcessingOrder
   * 
   * @param id ID сущности (required)
   * @param createProcessingOrderPositionsRequest  (required)
   * @param expand Замена ссылок объектами с помощью expand (optional)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @return List&lt;CreateProcessingOrderPositions200ResponseInner&gt;
   * @throws ApiException if fails to make API call
   */
  public List<CreateProcessingOrderPositions200ResponseInner> createProcessingOrderPositions(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull CreateProcessingOrderPositionsRequest createProcessingOrderPositionsRequest, @javax.annotation.Nullable String expand, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType) throws ApiException {
    return this.createProcessingOrderPositions(id, createProcessingOrderPositionsRequest, expand, accept, acceptEncoding, contentType, Collections.emptyMap());
  }

  /**
   * Создать позиции ProcessingOrder
   * 
   
   * @param id ID сущности (required)
   
   
   * @param createProcessingOrderPositionsRequest  (required)
   
   
   
   
   
   * @param options request options such as pagination, filters, expands, fields, sorting and additional headers
   * @return List&lt;CreateProcessingOrderPositions200ResponseInner&gt;
   * @throws ApiException if fails to make API call
   */
  public List<CreateProcessingOrderPositions200ResponseInner> createProcessingOrderPositions(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull CreateProcessingOrderPositionsRequest createProcessingOrderPositionsRequest, RequestOptions options) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.emptyIfNull(options);
    return this.createProcessingOrderPositions(id, createProcessingOrderPositionsRequest, (String) effectiveOptions.get("expand"), null, null, null, effectiveOptions.getAdditionalHeaders());
  }


  /**
   * Создать позиции ProcessingOrder
   * 
   * @param id ID сущности (required)
   * @param createProcessingOrderPositionsRequest  (required)
   * @param expand Замена ссылок объектами с помощью expand (optional)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @param additionalHeaders additionalHeaders for this call
   * @return List&lt;CreateProcessingOrderPositions200ResponseInner&gt;
   * @throws ApiException if fails to make API call
   */
  public List<CreateProcessingOrderPositions200ResponseInner> createProcessingOrderPositions(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull CreateProcessingOrderPositionsRequest createProcessingOrderPositionsRequest, @javax.annotation.Nullable String expand, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = createProcessingOrderPositionsRequest;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling createProcessingOrderPositions");
    }
    
    // verify the required parameter 'createProcessingOrderPositionsRequest' is set
    if (createProcessingOrderPositionsRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'createProcessingOrderPositionsRequest' when calling createProcessingOrderPositions");
    }
    
    // create path and map variables
    String localVarPath = "/entity/processingorder/{id}/positions"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("expand", expand));
    if (accept != null)
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
if (acceptEncoding != null)
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));
if (contentType != null)
      localVarHeaderParams.put("Content-Type", apiClient.parameterToString(contentType));

    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<List<CreateProcessingOrderPositions200ResponseInner>> localVarReturnType = new TypeReference<List<CreateProcessingOrderPositions200ResponseInner>>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Удалить ProcessingOrder
   * 
   * @param id ID сущности (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @throws ApiException if fails to make API call
   */
  public void deleteProcessingOrder(@javax.annotation.Nonnull UUID id, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding) throws ApiException {
    this.deleteProcessingOrder(id, accept, acceptEncoding, Collections.emptyMap());
  }


  /**
   * Удалить ProcessingOrder
   * 
   * @param id ID сущности (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param additionalHeaders additionalHeaders for this call
   * @throws ApiException if fails to make API call
   */
  public void deleteProcessingOrder(@javax.annotation.Nonnull UUID id, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling deleteProcessingOrder");
    }
    
    // create path and map variables
    String localVarPath = "/entity/processingorder/{id}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    if (accept != null)
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
if (acceptEncoding != null)
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));

    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    apiClient.invokeAPI(
        localVarPath,
        "DELETE",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        null
    );
  }

  /**
   * Массовое удаление ProcessingOrder
   * 
   * @param processingOrder  (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @return List&lt;DeleteContractsBatch200ResponseInner&gt;
   * @throws ApiException if fails to make API call
   */
  public List<DeleteContractsBatch200ResponseInner> deleteProcessingOrderBatch(@javax.annotation.Nonnull List<ProcessingOrder> processingOrder, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType) throws ApiException {
    return this.deleteProcessingOrderBatch(processingOrder, accept, acceptEncoding, contentType, Collections.emptyMap());
  }


  /**
   * Массовое удаление ProcessingOrder
   * 
   * @param processingOrder  (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @param additionalHeaders additionalHeaders for this call
   * @return List&lt;DeleteContractsBatch200ResponseInner&gt;
   * @throws ApiException if fails to make API call
   */
  public List<DeleteContractsBatch200ResponseInner> deleteProcessingOrderBatch(@javax.annotation.Nonnull List<ProcessingOrder> processingOrder, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = processingOrder;
    
    // verify the required parameter 'processingOrder' is set
    if (processingOrder == null) {
      throw new ApiException(400, "Missing the required parameter 'processingOrder' when calling deleteProcessingOrderBatch");
    }
    
    // create path and map variables
    String localVarPath = "/entity/processingorder/delete";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    if (accept != null)
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
if (acceptEncoding != null)
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));
if (contentType != null)
      localVarHeaderParams.put("Content-Type", apiClient.parameterToString(contentType));

    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<List<DeleteContractsBatch200ResponseInner>> localVarReturnType = new TypeReference<List<DeleteContractsBatch200ResponseInner>>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Удалить файл Заказа на производство
   * Удаление Файла Заказа на производство.
   * @param id ID сущности (required)
   * @param fileId ID файла (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @throws ApiException if fails to make API call
   */
  public void deleteProcessingOrderFile(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull UUID fileId, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding) throws ApiException {
    this.deleteProcessingOrderFile(id, fileId, accept, acceptEncoding, Collections.emptyMap());
  }


  /**
   * Удалить файл Заказа на производство
   * Удаление Файла Заказа на производство.
   * @param id ID сущности (required)
   * @param fileId ID файла (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param additionalHeaders additionalHeaders for this call
   * @throws ApiException if fails to make API call
   */
  public void deleteProcessingOrderFile(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull UUID fileId, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling deleteProcessingOrderFile");
    }
    
    // verify the required parameter 'fileId' is set
    if (fileId == null) {
      throw new ApiException(400, "Missing the required parameter 'fileId' when calling deleteProcessingOrderFile");
    }
    
    // create path and map variables
    String localVarPath = "/entity/processingorder/{id}/files/{fileId}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)))
      .replaceAll("\\{" + "fileId" + "\\}", apiClient.escapeString(apiClient.parameterToString(fileId)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    if (accept != null)
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
if (acceptEncoding != null)
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));

    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    apiClient.invokeAPI(
        localVarPath,
        "DELETE",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        null
    );
  }

  /**
   * Удалить отдельное доп. поле ProcessingOrder
   * 
   * @param id ID сущности (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @throws ApiException if fails to make API call
   */
  public void deleteProcessingOrderMetadataAttributeById(@javax.annotation.Nonnull UUID id, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding) throws ApiException {
    this.deleteProcessingOrderMetadataAttributeById(id, accept, acceptEncoding, Collections.emptyMap());
  }


  /**
   * Удалить отдельное доп. поле ProcessingOrder
   * 
   * @param id ID сущности (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param additionalHeaders additionalHeaders for this call
   * @throws ApiException if fails to make API call
   */
  public void deleteProcessingOrderMetadataAttributeById(@javax.annotation.Nonnull UUID id, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling deleteProcessingOrderMetadataAttributeById");
    }
    
    // create path and map variables
    String localVarPath = "/entity/processingorder/metadata/attributes/{id}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    if (accept != null)
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
if (acceptEncoding != null)
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));

    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    apiClient.invokeAPI(
        localVarPath,
        "DELETE",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        null
    );
  }

  /**
   * Удалить отдельный статус ProcessingOrder
   * 
   * @param id ID сущности (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @throws ApiException if fails to make API call
   */
  public void deleteProcessingOrderMetadataStateById(@javax.annotation.Nonnull UUID id, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding) throws ApiException {
    this.deleteProcessingOrderMetadataStateById(id, accept, acceptEncoding, Collections.emptyMap());
  }


  /**
   * Удалить отдельный статус ProcessingOrder
   * 
   * @param id ID сущности (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param additionalHeaders additionalHeaders for this call
   * @throws ApiException if fails to make API call
   */
  public void deleteProcessingOrderMetadataStateById(@javax.annotation.Nonnull UUID id, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling deleteProcessingOrderMetadataStateById");
    }
    
    // create path and map variables
    String localVarPath = "/entity/processingorder/metadata/states/{id}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    if (accept != null)
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
if (acceptEncoding != null)
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));

    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    apiClient.invokeAPI(
        localVarPath,
        "DELETE",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        null
    );
  }

  /**
   * Удалить позицию ProcessingOrder
   * 
   * @param id ID сущности (required)
   * @param positionId ID позиции (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @throws ApiException if fails to make API call
   */
  public void deleteProcessingOrderPosition(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull UUID positionId, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding) throws ApiException {
    this.deleteProcessingOrderPosition(id, positionId, accept, acceptEncoding, Collections.emptyMap());
  }


  /**
   * Удалить позицию ProcessingOrder
   * 
   * @param id ID сущности (required)
   * @param positionId ID позиции (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param additionalHeaders additionalHeaders for this call
   * @throws ApiException if fails to make API call
   */
  public void deleteProcessingOrderPosition(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull UUID positionId, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling deleteProcessingOrderPosition");
    }
    
    // verify the required parameter 'positionId' is set
    if (positionId == null) {
      throw new ApiException(400, "Missing the required parameter 'positionId' when calling deleteProcessingOrderPosition");
    }
    
    // create path and map variables
    String localVarPath = "/entity/processingorder/{id}/positions/{positionId}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)))
      .replaceAll("\\{" + "positionId" + "\\}", apiClient.escapeString(apiClient.parameterToString(positionId)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    if (accept != null)
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
if (acceptEncoding != null)
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));

    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    apiClient.invokeAPI(
        localVarPath,
        "DELETE",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        null
    );
  }

  /**
   * Массовое удаление позиций ProcessingOrder
   * 
   * @param id ID сущности (required)
   * @param processingOrderPosition  (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @return List&lt;DeleteContractsBatch200ResponseInner&gt;
   * @throws ApiException if fails to make API call
   */
  public List<DeleteContractsBatch200ResponseInner> deleteProcessingOrderPositionsBatch(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull List<ProcessingOrderPosition> processingOrderPosition, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType) throws ApiException {
    return this.deleteProcessingOrderPositionsBatch(id, processingOrderPosition, accept, acceptEncoding, contentType, Collections.emptyMap());
  }


  /**
   * Массовое удаление позиций ProcessingOrder
   * 
   * @param id ID сущности (required)
   * @param processingOrderPosition  (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @param additionalHeaders additionalHeaders for this call
   * @return List&lt;DeleteContractsBatch200ResponseInner&gt;
   * @throws ApiException if fails to make API call
   */
  public List<DeleteContractsBatch200ResponseInner> deleteProcessingOrderPositionsBatch(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull List<ProcessingOrderPosition> processingOrderPosition, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = processingOrderPosition;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling deleteProcessingOrderPositionsBatch");
    }
    
    // verify the required parameter 'processingOrderPosition' is set
    if (processingOrderPosition == null) {
      throw new ApiException(400, "Missing the required parameter 'processingOrderPosition' when calling deleteProcessingOrderPositionsBatch");
    }
    
    // create path and map variables
    String localVarPath = "/entity/processingorder/{id}/positions/delete"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    if (accept != null)
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
if (acceptEncoding != null)
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));
if (contentType != null)
      localVarHeaderParams.put("Content-Type", apiClient.parameterToString(contentType));

    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<List<DeleteContractsBatch200ResponseInner>> localVarReturnType = new TypeReference<List<DeleteContractsBatch200ResponseInner>>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Получить ProcessingOrder
   * 
   * @param id ID сущности (required)
   * @param expand Замена ссылок объектами с помощью expand (optional)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @return ProcessingOrder
   * @throws ApiException if fails to make API call
   */
  public ProcessingOrder getProcessingOrderById(@javax.annotation.Nonnull UUID id, @javax.annotation.Nullable String expand, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding) throws ApiException {
    return this.getProcessingOrderById(id, expand, accept, acceptEncoding, Collections.emptyMap());
  }

  /**
   * Получить ProcessingOrder
   * 
   
   * @param id ID сущности (required)
   
   
   
   
   * @param options request options such as pagination, filters, expands, fields, sorting and additional headers
   * @return ProcessingOrder
   * @throws ApiException if fails to make API call
   */
  public ProcessingOrder getProcessingOrderById(@javax.annotation.Nonnull UUID id, RequestOptions options) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.emptyIfNull(options);
    return this.getProcessingOrderById(id, (String) effectiveOptions.get("expand"), null, null, effectiveOptions.getAdditionalHeaders());
  }


  /**
   * Получить ProcessingOrder
   * 
   * @param id ID сущности (required)
   * @param expand Замена ссылок объектами с помощью expand (optional)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param additionalHeaders additionalHeaders for this call
   * @return ProcessingOrder
   * @throws ApiException if fails to make API call
   */
  public ProcessingOrder getProcessingOrderById(@javax.annotation.Nonnull UUID id, @javax.annotation.Nullable String expand, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling getProcessingOrderById");
    }
    
    // create path and map variables
    String localVarPath = "/entity/processingorder/{id}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("expand", expand));
    if (accept != null)
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
if (acceptEncoding != null)
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));

    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<ProcessingOrder> localVarReturnType = new TypeReference<ProcessingOrder>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Получить файл Заказа на производство
   * Получение Файла Заказа на производство.
   * @param id ID сущности (required)
   * @param fileId ID файла (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @return ModelFile
   * @throws ApiException if fails to make API call
   */
  public ModelFile getProcessingOrderFile(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull UUID fileId, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding) throws ApiException {
    return this.getProcessingOrderFile(id, fileId, accept, acceptEncoding, Collections.emptyMap());
  }


  /**
   * Получить файл Заказа на производство
   * Получение Файла Заказа на производство.
   * @param id ID сущности (required)
   * @param fileId ID файла (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param additionalHeaders additionalHeaders for this call
   * @return ModelFile
   * @throws ApiException if fails to make API call
   */
  public ModelFile getProcessingOrderFile(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull UUID fileId, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling getProcessingOrderFile");
    }
    
    // verify the required parameter 'fileId' is set
    if (fileId == null) {
      throw new ApiException(400, "Missing the required parameter 'fileId' when calling getProcessingOrderFile");
    }
    
    // create path and map variables
    String localVarPath = "/entity/processingorder/{id}/files/{fileId}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)))
      .replaceAll("\\{" + "fileId" + "\\}", apiClient.escapeString(apiClient.parameterToString(fileId)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    if (accept != null)
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
if (acceptEncoding != null)
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));

    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<ModelFile> localVarReturnType = new TypeReference<ModelFile>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Получить файлы Заказа на производство
   * Запрос на получение списка всех Файлов данного Заказа на производство.
   * @param id ID сущности (required)
   * @param limit Максимальное количество элементов в выданном списке (максимум 1000) (optional, default to 1000)
   * @param offset Отступ в выданном списке (optional, default to 0)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @return GetProductFiles200Response
   * @throws ApiException if fails to make API call
   */
  public GetProductFiles200Response getProcessingOrderFiles(@javax.annotation.Nonnull UUID id, @javax.annotation.Nullable Integer limit, @javax.annotation.Nullable Integer offset, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding) throws ApiException {
    return this.getProcessingOrderFiles(id, limit, offset, accept, acceptEncoding, Collections.emptyMap());
  }

  /**
   * Получить файлы Заказа на производство
   * Запрос на получение списка всех Файлов данного Заказа на производство.
   
   * @param id ID сущности (required)
   
   
   
   
   
   * @param options request options such as pagination, filters, expands, fields, sorting and additional headers
   * @return GetProductFiles200Response
   * @throws ApiException if fails to make API call
   */
  public GetProductFiles200Response getProcessingOrderFiles(@javax.annotation.Nonnull UUID id, RequestOptions options) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.emptyIfNull(options);
    return this.getProcessingOrderFiles(id, (Integer) effectiveOptions.get("limit"), (Integer) effectiveOptions.get("offset"), null, null, effectiveOptions.getAdditionalHeaders());
  }


  /**
   * Получить файлы Заказа на производство
   * Запрос на получение списка всех Файлов данного Заказа на производство.
   * @param id ID сущности (required)
   * @param limit Максимальное количество элементов в выданном списке (максимум 1000) (optional, default to 1000)
   * @param offset Отступ в выданном списке (optional, default to 0)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param additionalHeaders additionalHeaders for this call
   * @return GetProductFiles200Response
   * @throws ApiException if fails to make API call
   */
  public GetProductFiles200Response getProcessingOrderFiles(@javax.annotation.Nonnull UUID id, @javax.annotation.Nullable Integer limit, @javax.annotation.Nullable Integer offset, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling getProcessingOrderFiles");
    }
    
    // create path and map variables
    String localVarPath = "/entity/processingorder/{id}/files"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
    localVarQueryParams.addAll(apiClient.parameterToPair("offset", offset));
    if (accept != null)
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
if (acceptEncoding != null)
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));

    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<GetProductFiles200Response> localVarReturnType = new TypeReference<GetProductFiles200Response>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Получить список ProcessingOrder
   * 
   * @param limit Максимальное количество элементов в выданном списке (максимум 1000) (optional, default to 1000)
   * @param offset Отступ в выданном списке (optional, default to 0)
   * @param search Контекстный поиск по строковым полям сущностей (optional)
   * @param expand Замена ссылок объектами с помощью expand (optional)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @return ProcessingOrderList
   * @throws ApiException if fails to make API call
   */
  public ProcessingOrderList getProcessingOrderList(@javax.annotation.Nullable Integer limit, @javax.annotation.Nullable Integer offset, @javax.annotation.Nullable String search, @javax.annotation.Nullable String expand, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding) throws ApiException {
    return this.getProcessingOrderList(limit, offset, search, expand, accept, acceptEncoding, Collections.emptyMap());
  }

  /**
   * Получить список ProcessingOrder
   * 
   
   
   
   
   
   
   * @param options request options such as pagination, filters, expands, fields, sorting and additional headers
   * @return ProcessingOrderList
   * @throws ApiException if fails to make API call
   */
  public ProcessingOrderList getProcessingOrderList(RequestOptions options) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.emptyIfNull(options);
    return this.getProcessingOrderList((Integer) effectiveOptions.get("limit"), (Integer) effectiveOptions.get("offset"), (String) effectiveOptions.get("search"), (String) effectiveOptions.get("expand"), null, null, effectiveOptions.getAdditionalHeaders());
  }


  /**
   * Получить список ProcessingOrder
   * 
   * @param limit Максимальное количество элементов в выданном списке (максимум 1000) (optional, default to 1000)
   * @param offset Отступ в выданном списке (optional, default to 0)
   * @param search Контекстный поиск по строковым полям сущностей (optional)
   * @param expand Замена ссылок объектами с помощью expand (optional)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param additionalHeaders additionalHeaders for this call
   * @return ProcessingOrderList
   * @throws ApiException if fails to make API call
   */
  public ProcessingOrderList getProcessingOrderList(@javax.annotation.Nullable Integer limit, @javax.annotation.Nullable Integer offset, @javax.annotation.Nullable String search, @javax.annotation.Nullable String expand, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // create path and map variables
    String localVarPath = "/entity/processingorder";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
    localVarQueryParams.addAll(apiClient.parameterToPair("offset", offset));
    localVarQueryParams.addAll(apiClient.parameterToPair("search", search));
    localVarQueryParams.addAll(apiClient.parameterToPair("expand", expand));
    if (accept != null)
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
if (acceptEncoding != null)
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));

    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<ProcessingOrderList> localVarReturnType = new TypeReference<ProcessingOrderList>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Метаданные ProcessingOrder
   * 
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @return DocumentMetadata
   * @throws ApiException if fails to make API call
   */
  public DocumentMetadata getProcessingOrderMetadata(@javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding) throws ApiException {
    return this.getProcessingOrderMetadata(accept, acceptEncoding, Collections.emptyMap());
  }


  /**
   * Метаданные ProcessingOrder
   * 
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param additionalHeaders additionalHeaders for this call
   * @return DocumentMetadata
   * @throws ApiException if fails to make API call
   */
  public DocumentMetadata getProcessingOrderMetadata(@javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // create path and map variables
    String localVarPath = "/entity/processingorder/metadata";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    if (accept != null)
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
if (acceptEncoding != null)
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));

    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<DocumentMetadata> localVarReturnType = new TypeReference<DocumentMetadata>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Доп. поля ProcessingOrder
   * 
   * @param offset Отступ в выданном списке (optional, default to 0)
   * @param limit Максимальное количество элементов в выданном списке (максимум 1000) (optional, default to 1000)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @return AttributeMetaInfoList
   * @throws ApiException if fails to make API call
   */
  public AttributeMetaInfoList getProcessingOrderMetadataAttribute(@javax.annotation.Nullable Integer offset, @javax.annotation.Nullable Integer limit, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding) throws ApiException {
    return this.getProcessingOrderMetadataAttribute(offset, limit, accept, acceptEncoding, Collections.emptyMap());
  }

  /**
   * Доп. поля ProcessingOrder
   * 
   
   
   
   
   * @param options request options such as pagination, filters, expands, fields, sorting and additional headers
   * @return AttributeMetaInfoList
   * @throws ApiException if fails to make API call
   */
  public AttributeMetaInfoList getProcessingOrderMetadataAttribute(RequestOptions options) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.emptyIfNull(options);
    return this.getProcessingOrderMetadataAttribute((Integer) effectiveOptions.get("offset"), (Integer) effectiveOptions.get("limit"), null, null, effectiveOptions.getAdditionalHeaders());
  }


  /**
   * Доп. поля ProcessingOrder
   * 
   * @param offset Отступ в выданном списке (optional, default to 0)
   * @param limit Максимальное количество элементов в выданном списке (максимум 1000) (optional, default to 1000)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param additionalHeaders additionalHeaders for this call
   * @return AttributeMetaInfoList
   * @throws ApiException if fails to make API call
   */
  public AttributeMetaInfoList getProcessingOrderMetadataAttribute(@javax.annotation.Nullable Integer offset, @javax.annotation.Nullable Integer limit, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // create path and map variables
    String localVarPath = "/entity/processingorder/metadata/attributes";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("offset", offset));
    localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
    if (accept != null)
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
if (acceptEncoding != null)
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));

    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<AttributeMetaInfoList> localVarReturnType = new TypeReference<AttributeMetaInfoList>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Отдельное доп. поле ProcessingOrder
   * 
   * @param id ID сущности (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @return AttributeMetaInfo
   * @throws ApiException if fails to make API call
   */
  public AttributeMetaInfo getProcessingOrderMetadataAttributeById(@javax.annotation.Nonnull UUID id, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding) throws ApiException {
    return this.getProcessingOrderMetadataAttributeById(id, accept, acceptEncoding, Collections.emptyMap());
  }


  /**
   * Отдельное доп. поле ProcessingOrder
   * 
   * @param id ID сущности (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param additionalHeaders additionalHeaders for this call
   * @return AttributeMetaInfo
   * @throws ApiException if fails to make API call
   */
  public AttributeMetaInfo getProcessingOrderMetadataAttributeById(@javax.annotation.Nonnull UUID id, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling getProcessingOrderMetadataAttributeById");
    }
    
    // create path and map variables
    String localVarPath = "/entity/processingorder/metadata/attributes/{id}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    if (accept != null)
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
if (acceptEncoding != null)
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));

    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<AttributeMetaInfo> localVarReturnType = new TypeReference<AttributeMetaInfo>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Отдельный статус ProcessingOrder
   * 
   * @param id ID сущности (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @return State
   * @throws ApiException if fails to make API call
   */
  public State getProcessingOrderMetadataStateById(@javax.annotation.Nonnull UUID id, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding) throws ApiException {
    return this.getProcessingOrderMetadataStateById(id, accept, acceptEncoding, Collections.emptyMap());
  }


  /**
   * Отдельный статус ProcessingOrder
   * 
   * @param id ID сущности (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param additionalHeaders additionalHeaders for this call
   * @return State
   * @throws ApiException if fails to make API call
   */
  public State getProcessingOrderMetadataStateById(@javax.annotation.Nonnull UUID id, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling getProcessingOrderMetadataStateById");
    }
    
    // create path and map variables
    String localVarPath = "/entity/processingorder/metadata/states/{id}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    if (accept != null)
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
if (acceptEncoding != null)
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));

    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<State> localVarReturnType = new TypeReference<State>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Получить позицию ProcessingOrder
   * 
   * @param id ID сущности (required)
   * @param positionId ID позиции (required)
   * @param expand Замена ссылок объектами с помощью expand (optional)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @return ProcessingOrderPosition
   * @throws ApiException if fails to make API call
   */
  public ProcessingOrderPosition getProcessingOrderPositionById(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull UUID positionId, @javax.annotation.Nullable String expand, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding) throws ApiException {
    return this.getProcessingOrderPositionById(id, positionId, expand, accept, acceptEncoding, Collections.emptyMap());
  }

  /**
   * Получить позицию ProcessingOrder
   * 
   
   * @param id ID сущности (required)
   
   
   * @param positionId ID позиции (required)
   
   
   
   
   * @param options request options such as pagination, filters, expands, fields, sorting and additional headers
   * @return ProcessingOrderPosition
   * @throws ApiException if fails to make API call
   */
  public ProcessingOrderPosition getProcessingOrderPositionById(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull UUID positionId, RequestOptions options) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.emptyIfNull(options);
    return this.getProcessingOrderPositionById(id, positionId, (String) effectiveOptions.get("expand"), null, null, effectiveOptions.getAdditionalHeaders());
  }


  /**
   * Получить позицию ProcessingOrder
   * 
   * @param id ID сущности (required)
   * @param positionId ID позиции (required)
   * @param expand Замена ссылок объектами с помощью expand (optional)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param additionalHeaders additionalHeaders for this call
   * @return ProcessingOrderPosition
   * @throws ApiException if fails to make API call
   */
  public ProcessingOrderPosition getProcessingOrderPositionById(@javax.annotation.Nonnull UUID id, @javax.annotation.Nonnull UUID positionId, @javax.annotation.Nullable String expand, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling getProcessingOrderPositionById");
    }
    
    // verify the required parameter 'positionId' is set
    if (positionId == null) {
      throw new ApiException(400, "Missing the required parameter 'positionId' when calling getProcessingOrderPositionById");
    }
    
    // create path and map variables
    String localVarPath = "/entity/processingorder/{id}/positions/{positionId}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)))
      .replaceAll("\\{" + "positionId" + "\\}", apiClient.escapeString(apiClient.parameterToString(positionId)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("expand", expand));
    if (accept != null)
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
if (acceptEncoding != null)
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));

    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<ProcessingOrderPosition> localVarReturnType = new TypeReference<ProcessingOrderPosition>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Получить позиции ProcessingOrder
   * 
   * @param id ID сущности (required)
   * @param limit Максимальное количество элементов в выданном списке (максимум 1000) (optional, default to 1000)
   * @param offset Отступ в выданном списке (optional, default to 0)
   * @param expand Замена ссылок объектами с помощью expand (optional)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @return List&lt;ProcessingOrderPosition&gt;
   * @throws ApiException if fails to make API call
   */
  public List<ProcessingOrderPosition> getProcessingOrderPositions(@javax.annotation.Nonnull UUID id, @javax.annotation.Nullable Integer limit, @javax.annotation.Nullable Integer offset, @javax.annotation.Nullable String expand, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding) throws ApiException {
    return this.getProcessingOrderPositions(id, limit, offset, expand, accept, acceptEncoding, Collections.emptyMap());
  }

  /**
   * Получить позиции ProcessingOrder
   * 
   
   * @param id ID сущности (required)
   
   
   
   
   
   
   * @param options request options such as pagination, filters, expands, fields, sorting and additional headers
   * @return List&lt;ProcessingOrderPosition&gt;
   * @throws ApiException if fails to make API call
   */
  public List<ProcessingOrderPosition> getProcessingOrderPositions(@javax.annotation.Nonnull UUID id, RequestOptions options) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.emptyIfNull(options);
    return this.getProcessingOrderPositions(id, (Integer) effectiveOptions.get("limit"), (Integer) effectiveOptions.get("offset"), (String) effectiveOptions.get("expand"), null, null, effectiveOptions.getAdditionalHeaders());
  }


  /**
   * Получить позиции ProcessingOrder
   * 
   * @param id ID сущности (required)
   * @param limit Максимальное количество элементов в выданном списке (максимум 1000) (optional, default to 1000)
   * @param offset Отступ в выданном списке (optional, default to 0)
   * @param expand Замена ссылок объектами с помощью expand (optional)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param additionalHeaders additionalHeaders for this call
   * @return List&lt;ProcessingOrderPosition&gt;
   * @throws ApiException if fails to make API call
   */
  public List<ProcessingOrderPosition> getProcessingOrderPositions(@javax.annotation.Nonnull UUID id, @javax.annotation.Nullable Integer limit, @javax.annotation.Nullable Integer offset, @javax.annotation.Nullable String expand, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling getProcessingOrderPositions");
    }
    
    // create path and map variables
    String localVarPath = "/entity/processingorder/{id}/positions"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
    localVarQueryParams.addAll(apiClient.parameterToPair("offset", offset));
    localVarQueryParams.addAll(apiClient.parameterToPair("expand", expand));
    if (accept != null)
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
if (acceptEncoding != null)
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));

    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<List<ProcessingOrderPosition>> localVarReturnType = new TypeReference<List<ProcessingOrderPosition>>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Шаблон ProcessingOrder
   * 
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @param body  (optional)
   * @return ProcessingOrder
   * @throws ApiException if fails to make API call
   */
  public ProcessingOrder getProcessingOrderTemplate(@javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String contentType, @javax.annotation.Nullable Object body) throws ApiException {
    return this.getProcessingOrderTemplate(accept, acceptEncoding, contentType, body, Collections.emptyMap());
  }


  /**
   * Шаблон ProcessingOrder
   * 
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param contentType  (optional, default to application/json)
   * @param body  (optional)
   * @param additionalHeaders additionalHeaders for this call
[...]
