/*
 * МойСклад JSON API
 * API для манипуляции с сущностями и создания отчетов в онлайн-сервисе МойСклад.  ## Аутентификация  МойСклад поддерживает аутентификацию по протоколу Basic Auth и с использованием токена доступа: - Basic Auth: заголовок `Authorization` со значением пары `логин:пароль`, закодированным в Base64 - Bearer Token: заголовок `Authorization` со значением `Bearer <Access-Token>`  ## Ограничения  - Не более 45 запросов за 3 секундный период от аккаунта - Не более 5 параллельных запросов от одного пользователя   - Не более 20 параллельных запросов от аккаунта - Не более 20 Мб данных в одном запросе - Максимум 1000 элементов в массиве - Обязательное использование сжатия gzip 
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package ru.moysklad.remap_1_2.api;

import com.fasterxml.jackson.core.type.TypeReference;

import ru.moysklad.remap_1_2.ApiException;
import ru.moysklad.remap_1_2.ApiClient;
import ru.moysklad.remap_1_2.BaseApi;
import ru.moysklad.remap_1_2.Configuration;
import ru.moysklad.remap_1_2.Pair;

import ru.moysklad.remap_1_2.model.ByOperationsInTransitList;
import ru.moysklad.remap_1_2.model.ByOperationsReserveList;
import ru.moysklad.remap_1_2.model.ByOperationsStockList;
import ru.moysklad.remap_1_2.model.Errors;


import java.util.ArrayList;
import java.util.Collections;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.StringJoiner;

@javax.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", date = "2026-09-01T11:48:09.280618073Z[GMT]", comments = "Generator version: 7.14.0")

public class ReportsByOperationsApi extends BaseApi {

  public ReportsByOperationsApi() {
    super(Configuration.getDefaultApiClient());
  }

  public ReportsByOperationsApi(ApiClient apiClient) {
    super(apiClient);
  }

  /**
   * Получить Отчет по документам, отображающий ожидание
   * Отчет по документам номенклатуры, формирующим ожидания. Обязательный параметр фильтрации — &#x60;filter&#x60; с полем &#x60;assortment&#x60; (ссылка на товар, модификацию или партию; только одна номенклатура). Для доступа нужны права на просмотр товаров и остатков. 
   * @return ByOperationsInTransitList
   * @throws ApiException if fails to make API call
   */
  public ByOperationsInTransitList getByOperationsInTransit() throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.empty();
    return this.getByOperationsInTransit((String) effectiveOptions.get("filter"), (Integer) effectiveOptions.get("limit"), (Integer) effectiveOptions.get("offset"), null, null, effectiveOptions.getAdditionalHeaders());
  }


  /**
   * Получить Отчет по документам, отображающий ожидание
   * Отчет по документам номенклатуры, формирующим ожидания. Обязательный параметр фильтрации — &#x60;filter&#x60; с полем &#x60;assortment&#x60; (ссылка на товар, модификацию или партию; только одна номенклатура). Для доступа нужны права на просмотр товаров и остатков. 
   
   
   
   
   
   * @param options request options such as pagination, filters, expands, fields, sorting and additional headers
   * @return ByOperationsInTransitList
   * @throws ApiException if fails to make API call
   */
  public ByOperationsInTransitList getByOperationsInTransit(RequestOptions options) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.emptyIfNull(options);
    return this.getByOperationsInTransit((String) effectiveOptions.get("filter"), (Integer) effectiveOptions.get("limit"), (Integer) effectiveOptions.get("offset"), null, null, effectiveOptions.getAdditionalHeaders());
  }

  /**
   * Получить Отчет по документам, отображающий ожидание
   * Отчет по документам номенклатуры, формирующим ожидания. Обязательный параметр фильтрации — &#x60;filter&#x60; с полем &#x60;assortment&#x60; (ссылка на товар, модификацию или партию; только одна номенклатура). Для доступа нужны права на просмотр товаров и остатков. 
   * @param filter Фильтрация выборки. Обязательно указать &#x60;assortment&#x3D;&lt;href&gt;&#x60; — ссылку на товар, модификацию или партию. Можно фильтровать только по одной номенклатуре.  (required)
   * @param limit Максимальное количество элементов в выданном списке (максимум 1000) (optional, default to 1000)
   * @param offset Отступ в выданном списке (optional, default to 0)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param additionalHeaders additionalHeaders for this call
   * @return ByOperationsInTransitList
   * @throws ApiException if fails to make API call
   */
  protected ByOperationsInTransitList getByOperationsInTransit(@javax.annotation.Nonnull String filter, @javax.annotation.Nullable Integer limit, @javax.annotation.Nullable Integer offset, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'filter' is set
    if (filter == null) {
      throw new ApiException(400, "Missing the required parameter 'filter' when calling getByOperationsInTransit");
    }
    
    // create path and map variables
    String localVarPath = "/report/byoperations/intransit";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
    localVarQueryParams.addAll(apiClient.parameterToPair("offset", offset));
    localVarQueryParams.addAll(apiClient.parameterToPair("filter", filter));
    if (accept != null) {
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
    }
if (acceptEncoding != null) {
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));
    }

    localVarHeaderParams.putAll(additionalHeaders);
        
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<ByOperationsInTransitList> localVarReturnType = new TypeReference<ByOperationsInTransitList>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Получить Отчет по документам, отображающий резервы
   * Отчет по документам номенклатуры, формирующим резервы. Обязательный параметр фильтрации — &#x60;filter&#x60; с полем &#x60;assortment&#x60; (ссылка на товар, модификацию или партию; только одна номенклатура). Для доступа нужны права на просмотр товаров и остатков. 
   * @return ByOperationsReserveList
   * @throws ApiException if fails to make API call
   */
  public ByOperationsReserveList getByOperationsReserve() throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.empty();
    return this.getByOperationsReserve((String) effectiveOptions.get("filter"), (Integer) effectiveOptions.get("limit"), (Integer) effectiveOptions.get("offset"), null, null, effectiveOptions.getAdditionalHeaders());
  }


  /**
   * Получить Отчет по документам, отображающий резервы
   * Отчет по документам номенклатуры, формирующим резервы. Обязательный параметр фильтрации — &#x60;filter&#x60; с полем &#x60;assortment&#x60; (ссылка на товар, модификацию или партию; только одна номенклатура). Для доступа нужны права на просмотр товаров и остатков. 
   
   
   
   
   
   * @param options request options such as pagination, filters, expands, fields, sorting and additional headers
   * @return ByOperationsReserveList
   * @throws ApiException if fails to make API call
   */
  public ByOperationsReserveList getByOperationsReserve(RequestOptions options) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.emptyIfNull(options);
    return this.getByOperationsReserve((String) effectiveOptions.get("filter"), (Integer) effectiveOptions.get("limit"), (Integer) effectiveOptions.get("offset"), null, null, effectiveOptions.getAdditionalHeaders());
  }

  /**
   * Получить Отчет по документам, отображающий резервы
   * Отчет по документам номенклатуры, формирующим резервы. Обязательный параметр фильтрации — &#x60;filter&#x60; с полем &#x60;assortment&#x60; (ссылка на товар, модификацию или партию; только одна номенклатура). Для доступа нужны права на просмотр товаров и остатков. 
   * @param filter Фильтрация выборки. Обязательно указать &#x60;assortment&#x3D;&lt;href&gt;&#x60; — ссылку на товар, модификацию или партию. Можно фильтровать только по одной номенклатуре.  (required)
   * @param limit Максимальное количество элементов в выданном списке (максимум 1000) (optional, default to 1000)
   * @param offset Отступ в выданном списке (optional, default to 0)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param additionalHeaders additionalHeaders for this call
   * @return ByOperationsReserveList
   * @throws ApiException if fails to make API call
   */
  protected ByOperationsReserveList getByOperationsReserve(@javax.annotation.Nonnull String filter, @javax.annotation.Nullable Integer limit, @javax.annotation.Nullable Integer offset, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'filter' is set
    if (filter == null) {
      throw new ApiException(400, "Missing the required parameter 'filter' when calling getByOperationsReserve");
    }
    
    // create path and map variables
    String localVarPath = "/report/byoperations/reserve";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
    localVarQueryParams.addAll(apiClient.parameterToPair("offset", offset));
    localVarQueryParams.addAll(apiClient.parameterToPair("filter", filter));
    if (accept != null) {
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
    }
if (acceptEncoding != null) {
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));
    }

    localVarHeaderParams.putAll(additionalHeaders);
        
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<ByOperationsReserveList> localVarReturnType = new TypeReference<ByOperationsReserveList>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Получить Отчет по документам, отображающий остатки
   * Отчет по документам номенклатуры, формирующим остатки. Обязательный параметр фильтрации — &#x60;filter&#x60; с полем &#x60;assortment&#x60; (ссылка на товар, модификацию или партию; только одна номенклатура). Для доступа нужны права на просмотр товаров и остатков. Поля себестоимости (&#x60;costPerUnit&#x60;, &#x60;sumCost&#x60;) не возвращаются без пермиссии «Видеть себестоимость, цену закупки, прибыль товаров». 
   * @return ByOperationsStockList
   * @throws ApiException if fails to make API call
   */
  public ByOperationsStockList getByOperationsStock() throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.empty();
    return this.getByOperationsStock((String) effectiveOptions.get("filter"), (Integer) effectiveOptions.get("limit"), (Integer) effectiveOptions.get("offset"), null, null, effectiveOptions.getAdditionalHeaders());
  }


  /**
   * Получить Отчет по документам, отображающий остатки
   * Отчет по документам номенклатуры, формирующим остатки. Обязательный параметр фильтрации — &#x60;filter&#x60; с полем &#x60;assortment&#x60; (ссылка на товар, модификацию или партию; только одна номенклатура). Для доступа нужны права на просмотр товаров и остатков. Поля себестоимости (&#x60;costPerUnit&#x60;, &#x60;sumCost&#x60;) не возвращаются без пермиссии «Видеть себестоимость, цену закупки, прибыль товаров». 
   
   
   
   
   
   * @param options request options such as pagination, filters, expands, fields, sorting and additional headers
   * @return ByOperationsStockList
   * @throws ApiException if fails to make API call
   */
  public ByOperationsStockList getByOperationsStock(RequestOptions options) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.emptyIfNull(options);
    return this.getByOperationsStock((String) effectiveOptions.get("filter"), (Integer) effectiveOptions.get("limit"), (Integer) effectiveOptions.get("offset"), null, null, effectiveOptions.getAdditionalHeaders());
  }

  /**
   * Получить Отчет по документам, отображающий остатки
   * Отчет по документам номенклатуры, формирующим остатки. Обязательный параметр фильтрации — &#x60;filter&#x60; с полем &#x60;assortment&#x60; (ссылка на товар, модификацию или партию; только одна номенклатура). Для доступа нужны права на просмотр товаров и остатков. Поля себестоимости (&#x60;costPerUnit&#x60;, &#x60;sumCost&#x60;) не возвращаются без пермиссии «Видеть себестоимость, цену закупки, прибыль товаров». 
   * @param filter Фильтрация выборки. Обязательно указать &#x60;assortment&#x3D;&lt;href&gt;&#x60; — ссылку на товар, модификацию или партию. Можно фильтровать только по одной номенклатуре.  (required)
   * @param limit Максимальное количество элементов в выданном списке (максимум 1000) (optional, default to 1000)
   * @param offset Отступ в выданном списке (optional, default to 0)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param additionalHeaders additionalHeaders for this call
   * @return ByOperationsStockList
   * @throws ApiException if fails to make API call
   */
  protected ByOperationsStockList getByOperationsStock(@javax.annotation.Nonnull String filter, @javax.annotation.Nullable Integer limit, @javax.annotation.Nullable Integer offset, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'filter' is set
    if (filter == null) {
      throw new ApiException(400, "Missing the required parameter 'filter' when calling getByOperationsStock");
    }
    
    // create path and map variables
    String localVarPath = "/report/byoperations/stock";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
    localVarQueryParams.addAll(apiClient.parameterToPair("offset", offset));
    localVarQueryParams.addAll(apiClient.parameterToPair("filter", filter));
    if (accept != null) {
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
    }
if (acceptEncoding != null) {
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));
    }

    localVarHeaderParams.putAll(additionalHeaders);
        
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<ByOperationsStockList> localVarReturnType = new TypeReference<ByOperationsStockList>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  @Override
  public <T> T invokeAPI(String url, String method, Object request, TypeReference<T> returnType, Map<String, String> additionalHeaders) throws ApiException {
    String localVarPath = url.replace(apiClient.getBaseURL(), "");
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarHeaderParams.putAll(additionalHeaders);

    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    return apiClient.invokeAPI(
      localVarPath,
        method,
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        request,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        returnType
    );
  }
}
