/*
 * МойСклад JSON API
 * API для манипуляции с сущностями и создания отчетов в онлайн-сервисе МойСклад.  ## Аутентификация  МойСклад поддерживает аутентификацию по протоколу Basic Auth и с использованием токена доступа: - Basic Auth: заголовок `Authorization` со значением пары `логин:пароль`, закодированным в Base64 - Bearer Token: заголовок `Authorization` со значением `Bearer <Access-Token>`  ## Ограничения  - Не более 45 запросов за 3 секундный период от аккаунта - Не более 5 параллельных запросов от одного пользователя   - Не более 20 параллельных запросов от аккаунта - Не более 20 Мб данных в одном запросе - Максимум 1000 элементов в массиве - Обязательное использование сжатия gzip 
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package ru.moysklad.remap_1_2.api;

import com.fasterxml.jackson.core.type.TypeReference;

import ru.moysklad.remap_1_2.ApiException;
import ru.moysklad.remap_1_2.ApiClient;
import ru.moysklad.remap_1_2.BaseApi;
import ru.moysklad.remap_1_2.Configuration;
import ru.moysklad.remap_1_2.Pair;

import ru.moysklad.remap_1_2.model.Errors;
import ru.moysklad.remap_1_2.model.StockByOperationList;
import java.util.UUID;


import java.util.ArrayList;
import java.util.Collections;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.StringJoiner;

@javax.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", date = "2026-09-01T11:48:09.280618073Z[GMT]", comments = "Generator version: 7.14.0")

public class ReportsStockByOperationApi extends BaseApi {

  public ReportsStockByOperationApi() {
    super(Configuration.getDefaultApiClient());
  }

  public ReportsStockByOperationApi(ApiClient apiClient) {
    super(apiClient);
  }

  /**
   * Получить Остатки по документу
   * Запрос отчета «Остатки по документам» — остатки по позициям указанного документа со склада документа, а также себестоимость позиций по FIFO с учётом количества.  Обязательный параметр — &#x60;operation.id&#x60; (ID документа).  Поддерживаемые типы документов: отгрузка, заказ покупателя, розничная продажа, счет поставщика, счет покупателю, заказ поставщику, приемка, розничный возврат, возврат поставщику, возврат покупателя.  Для отгрузки, розничной продажи, приемки, возвратов остатки рассчитываются на момент поля &#x60;moment&#x60; документа. Для заказа покупателя, счетов и заказа поставщику — на текущий момент времени. 
   * @return StockByOperationList
   * @throws ApiException if fails to make API call
   */
  public StockByOperationList getStockByOperation() throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.empty();
    return this.getStockByOperation((UUID) effectiveOptions.get("operationId"), null, null, effectiveOptions.getAdditionalHeaders());
  }


  /**
   * Получить Остатки по документу
   * Запрос отчета «Остатки по документам» — остатки по позициям указанного документа со склада документа, а также себестоимость позиций по FIFO с учётом количества.  Обязательный параметр — &#x60;operation.id&#x60; (ID документа).  Поддерживаемые типы документов: отгрузка, заказ покупателя, розничная продажа, счет поставщика, счет покупателю, заказ поставщику, приемка, розничный возврат, возврат поставщику, возврат покупателя.  Для отгрузки, розничной продажи, приемки, возвратов остатки рассчитываются на момент поля &#x60;moment&#x60; документа. Для заказа покупателя, счетов и заказа поставщику — на текущий момент времени. 
   
   
   
   * @param options request options such as pagination, filters, expands, fields, sorting and additional headers
   * @return StockByOperationList
   * @throws ApiException if fails to make API call
   */
  public StockByOperationList getStockByOperation(RequestOptions options) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.emptyIfNull(options);
    return this.getStockByOperation((UUID) effectiveOptions.get("operationId"), null, null, effectiveOptions.getAdditionalHeaders());
  }

  /**
   * Получить Остатки по документу
   * Запрос отчета «Остатки по документам» — остатки по позициям указанного документа со склада документа, а также себестоимость позиций по FIFO с учётом количества.  Обязательный параметр — &#x60;operation.id&#x60; (ID документа).  Поддерживаемые типы документов: отгрузка, заказ покупателя, розничная продажа, счет поставщика, счет покупателю, заказ поставщику, приемка, розничный возврат, возврат поставщику, возврат покупателя.  Для отгрузки, розничной продажи, приемки, возвратов остатки рассчитываются на момент поля &#x60;moment&#x60; документа. Для заказа покупателя, счетов и заказа поставщику — на текущий момент времени. 
   * @param operationId ID документа, по которому нужно получить остатки (required)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param additionalHeaders additionalHeaders for this call
   * @return StockByOperationList
   * @throws ApiException if fails to make API call
   */
  protected StockByOperationList getStockByOperation(@javax.annotation.Nonnull UUID operationId, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'operationId' is set
    if (operationId == null) {
      throw new ApiException(400, "Missing the required parameter 'operationId' when calling getStockByOperation");
    }
    
    // create path and map variables
    String localVarPath = "/report/stock/byoperation";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("operation.id", operationId));
    if (accept != null) {
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
    }
if (acceptEncoding != null) {
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));
    }

    localVarHeaderParams.putAll(additionalHeaders);
        
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<StockByOperationList> localVarReturnType = new TypeReference<StockByOperationList>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  @Override
  public <T> T invokeAPI(String url, String method, Object request, TypeReference<T> returnType, Map<String, String> additionalHeaders) throws ApiException {
    String localVarPath = url.replace(apiClient.getBaseURL(), "");
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarHeaderParams.putAll(additionalHeaders);

    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    return apiClient.invokeAPI(
      localVarPath,
        method,
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        request,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        returnType
    );
  }
}
