/*
 * МойСклад JSON API
 * API для манипуляции с сущностями и создания отчетов в онлайн-сервисе МойСклад.  ## Аутентификация  МойСклад поддерживает аутентификацию по протоколу Basic Auth и с использованием токена доступа: - Basic Auth: заголовок `Authorization` со значением пары `логин:пароль`, закодированным в Base64 - Bearer Token: заголовок `Authorization` со значением `Bearer <Access-Token>`  ## Ограничения  - Не более 45 запросов за 3 секундный период от аккаунта - Не более 5 параллельных запросов от одного пользователя   - Не более 20 параллельных запросов от аккаунта - Не более 20 Мб данных в одном запросе - Максимум 1000 элементов в массиве - Обязательное использование сжатия gzip 
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package ru.moysklad.remap_1_2.api;

import com.fasterxml.jackson.core.type.TypeReference;

import ru.moysklad.remap_1_2.ApiException;
import ru.moysklad.remap_1_2.ApiClient;
import ru.moysklad.remap_1_2.BaseApi;
import ru.moysklad.remap_1_2.Configuration;
import ru.moysklad.remap_1_2.Pair;

import ru.moysklad.remap_1_2.model.ErrorOrArray;
import ru.moysklad.remap_1_2.model.ReportDashboard;
import ru.moysklad.remap_1_2.model.ReportOrdersPlotSeriesList;
import ru.moysklad.remap_1_2.model.ReportSalesPlotSeriesList;


import java.util.ArrayList;
import java.util.Collections;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.StringJoiner;

import javax.validation.constraints.*;
import javax.validation.Valid;

@javax.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", date = "2026-08-19T09:44:38.687219894Z[GMT]", comments = "Generator version: 7.14.0")

public class ReportsApi extends BaseApi {

  public ReportsApi() {
    super(Configuration.getDefaultApiClient());
  }

  public ReportsApi(ApiClient apiClient) {
    super(apiClient);
  }

  /**
   * Получить показатели за день
   * Запрос показателей за день. Для доступа к отчету требуется право на просмотр показателей &#x60;viewDashboard&#x60;. 
   * @return ReportDashboard
   * @throws ApiException if fails to make API call
   */
  public ReportDashboard getReportDashboardDay() throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.empty();
    return this.getReportDashboardDay(null, null, effectiveOptions.getAdditionalHeaders());
  }


  /**
   * Получить показатели за день
   * Запрос показателей за день. Для доступа к отчету требуется право на просмотр показателей &#x60;viewDashboard&#x60;. 
   
   
   * @param options request options such as pagination, filters, expands, fields, sorting and additional headers
   * @return ReportDashboard
   * @throws ApiException if fails to make API call
   */
  public ReportDashboard getReportDashboardDay(RequestOptions options) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.emptyIfNull(options);
    return this.getReportDashboardDay(null, null, effectiveOptions.getAdditionalHeaders());
  }

  /**
   * Получить показатели за день
   * Запрос показателей за день. Для доступа к отчету требуется право на просмотр показателей &#x60;viewDashboard&#x60;. 
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param additionalHeaders additionalHeaders for this call
   * @return ReportDashboard
   * @throws ApiException if fails to make API call
   */
  protected ReportDashboard getReportDashboardDay(@javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // create path and map variables
    String localVarPath = "/report/dashboard/day";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    if (accept != null)
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
if (acceptEncoding != null)
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));

    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<ReportDashboard> localVarReturnType = new TypeReference<ReportDashboard>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Получить показатели за месяц
   * Запрос показателей за месяц. Для доступа к отчету требуется право на просмотр показателей &#x60;viewDashboard&#x60;. 
   * @return ReportDashboard
   * @throws ApiException if fails to make API call
   */
  public ReportDashboard getReportDashboardMonth() throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.empty();
    return this.getReportDashboardMonth(null, null, effectiveOptions.getAdditionalHeaders());
  }


  /**
   * Получить показатели за месяц
   * Запрос показателей за месяц. Для доступа к отчету требуется право на просмотр показателей &#x60;viewDashboard&#x60;. 
   
   
   * @param options request options such as pagination, filters, expands, fields, sorting and additional headers
   * @return ReportDashboard
   * @throws ApiException if fails to make API call
   */
  public ReportDashboard getReportDashboardMonth(RequestOptions options) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.emptyIfNull(options);
    return this.getReportDashboardMonth(null, null, effectiveOptions.getAdditionalHeaders());
  }

  /**
   * Получить показатели за месяц
   * Запрос показателей за месяц. Для доступа к отчету требуется право на просмотр показателей &#x60;viewDashboard&#x60;. 
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param additionalHeaders additionalHeaders for this call
   * @return ReportDashboard
   * @throws ApiException if fails to make API call
   */
  protected ReportDashboard getReportDashboardMonth(@javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // create path and map variables
    String localVarPath = "/report/dashboard/month";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    if (accept != null)
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
if (acceptEncoding != null)
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));

    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<ReportDashboard> localVarReturnType = new TypeReference<ReportDashboard>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Получить показатели за неделю
   * Запрос показателей за неделю. Для доступа к отчету требуется право на просмотр показателей &#x60;viewDashboard&#x60;. 
   * @return ReportDashboard
   * @throws ApiException if fails to make API call
   */
  public ReportDashboard getReportDashboardWeek() throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.empty();
    return this.getReportDashboardWeek(null, null, effectiveOptions.getAdditionalHeaders());
  }


  /**
   * Получить показатели за неделю
   * Запрос показателей за неделю. Для доступа к отчету требуется право на просмотр показателей &#x60;viewDashboard&#x60;. 
   
   
   * @param options request options such as pagination, filters, expands, fields, sorting and additional headers
   * @return ReportDashboard
   * @throws ApiException if fails to make API call
   */
  public ReportDashboard getReportDashboardWeek(RequestOptions options) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.emptyIfNull(options);
    return this.getReportDashboardWeek(null, null, effectiveOptions.getAdditionalHeaders());
  }

  /**
   * Получить показатели за неделю
   * Запрос показателей за неделю. Для доступа к отчету требуется право на просмотр показателей &#x60;viewDashboard&#x60;. 
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param additionalHeaders additionalHeaders for this call
   * @return ReportDashboard
   * @throws ApiException if fails to make API call
   */
  protected ReportDashboard getReportDashboardWeek(@javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // create path and map variables
    String localVarPath = "/report/dashboard/week";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    if (accept != null)
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
if (acceptEncoding != null)
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));

    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<ReportDashboard> localVarReturnType = new TypeReference<ReportDashboard>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Получить показатели заказов
   * Запрос показателей заказов покупателей за период с разбивкой по часам, дням или месяцам. Для доступа к отчету требуется право на просмотр показателей &#x60;viewDashboard&#x60;. 
   * @return ReportOrdersPlotSeriesList
   * @throws ApiException if fails to make API call
   */
  public ReportOrdersPlotSeriesList getReportOrdersPlotSeries() throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.empty();
    return this.getReportOrdersPlotSeries((String) effectiveOptions.get("momentFrom"), (String) effectiveOptions.get("momentTo"), (String) effectiveOptions.get("interval"), (String) effectiveOptions.get("filter"), null, null, null, effectiveOptions.getAdditionalHeaders());
  }


  /**
   * Получить показатели заказов
   * Запрос показателей заказов покупателей за период с разбивкой по часам, дням или месяцам. Для доступа к отчету требуется право на просмотр показателей &#x60;viewDashboard&#x60;. 
   
   
   
   
   
   
   
   * @param options request options such as pagination, filters, expands, fields, sorting and additional headers
   * @return ReportOrdersPlotSeriesList
   * @throws ApiException if fails to make API call
   */
  public ReportOrdersPlotSeriesList getReportOrdersPlotSeries(RequestOptions options) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.emptyIfNull(options);
    return this.getReportOrdersPlotSeries((String) effectiveOptions.get("momentFrom"), (String) effectiveOptions.get("momentTo"), (String) effectiveOptions.get("interval"), (String) effectiveOptions.get("filter"), null, null, null, effectiveOptions.getAdditionalHeaders());
  }

  /**
   * Получить показатели заказов
   * Запрос показателей заказов покупателей за период с разбивкой по часам, дням или месяцам. Для доступа к отчету требуется право на просмотр показателей &#x60;viewDashboard&#x60;. 
   * @param momentFrom Начало периода отчета в формате YYYY-MM-DD HH:MM:SS (required)
   * @param momentTo Конец периода отчета в формате YYYY-MM-DD HH:MM:SS (required)
   * @param interval Интервал построения отчета (required)
   * @param filter Фильтрация показателей заказов. Доступные поля: &#x60;organization&#x60;, &#x60;store&#x60;, &#x60;project&#x60;. Можно указать несколько значений; пустые значения недопустимы.  (optional)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param xLognexAcceptTimezone Опциональный заголовок, в котором указана текущая дата на клиенте в RFC 3522. Таймзону обязательно указывать в формате знак и 4 символа. Пример: &#x60;Wed, 16 Aug 2017 23:07:01 +0700&#x60;. При подсчете показателей даты операций смещаются в таймзону клиента.  (optional)
   * @param additionalHeaders additionalHeaders for this call
   * @return ReportOrdersPlotSeriesList
   * @throws ApiException if fails to make API call
   */
  protected ReportOrdersPlotSeriesList getReportOrdersPlotSeries(@javax.annotation.Nonnull String momentFrom, @javax.annotation.Nonnull String momentTo, @javax.annotation.Nonnull String interval, @javax.annotation.Nullable String filter, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String xLognexAcceptTimezone, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'momentFrom' is set
    if (momentFrom == null) {
      throw new ApiException(400, "Missing the required parameter 'momentFrom' when calling getReportOrdersPlotSeries");
    }
    
    // verify the required parameter 'momentTo' is set
    if (momentTo == null) {
      throw new ApiException(400, "Missing the required parameter 'momentTo' when calling getReportOrdersPlotSeries");
    }
    
    // verify the required parameter 'interval' is set
    if (interval == null) {
      throw new ApiException(400, "Missing the required parameter 'interval' when calling getReportOrdersPlotSeries");
    }
    
    // create path and map variables
    String localVarPath = "/report/orders/plotseries";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("momentFrom", momentFrom));
    localVarQueryParams.addAll(apiClient.parameterToPair("momentTo", momentTo));
    localVarQueryParams.addAll(apiClient.parameterToPair("interval", interval));
    localVarQueryParams.addAll(apiClient.parameterToPair("filter", filter));
    if (accept != null)
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
if (acceptEncoding != null)
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));
if (xLognexAcceptTimezone != null)
      localVarHeaderParams.put("X-Lognex-Accept-Timezone", apiClient.parameterToString(xLognexAcceptTimezone));

    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<ReportOrdersPlotSeriesList> localVarReturnType = new TypeReference<ReportOrdersPlotSeriesList>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Получить показатели продаж
   * Запрос показателей продаж за период с разбивкой по часам, дням или месяцам. В показателях продаж учитываются отгрузки, розничные продажи и полученные отчеты комиссионера. Для доступа к отчету требуется право на просмотр показателей &#x60;viewDashboard&#x60;. 
   * @return ReportSalesPlotSeriesList
   * @throws ApiException if fails to make API call
   */
  public ReportSalesPlotSeriesList getReportSalesPlotSeries() throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.empty();
    return this.getReportSalesPlotSeries((String) effectiveOptions.get("momentFrom"), (String) effectiveOptions.get("momentTo"), (String) effectiveOptions.get("interval"), (String) effectiveOptions.get("filter"), null, null, null, effectiveOptions.getAdditionalHeaders());
  }


  /**
   * Получить показатели продаж
   * Запрос показателей продаж за период с разбивкой по часам, дням или месяцам. В показателях продаж учитываются отгрузки, розничные продажи и полученные отчеты комиссионера. Для доступа к отчету требуется право на просмотр показателей &#x60;viewDashboard&#x60;. 
   
   
   
   
   
   
   
   * @param options request options such as pagination, filters, expands, fields, sorting and additional headers
   * @return ReportSalesPlotSeriesList
   * @throws ApiException if fails to make API call
   */
  public ReportSalesPlotSeriesList getReportSalesPlotSeries(RequestOptions options) throws ApiException {
    RequestOptions effectiveOptions = RequestOptions.emptyIfNull(options);
    return this.getReportSalesPlotSeries((String) effectiveOptions.get("momentFrom"), (String) effectiveOptions.get("momentTo"), (String) effectiveOptions.get("interval"), (String) effectiveOptions.get("filter"), null, null, null, effectiveOptions.getAdditionalHeaders());
  }

  /**
   * Получить показатели продаж
   * Запрос показателей продаж за период с разбивкой по часам, дням или месяцам. В показателях продаж учитываются отгрузки, розничные продажи и полученные отчеты комиссионера. Для доступа к отчету требуется право на просмотр показателей &#x60;viewDashboard&#x60;. 
   * @param momentFrom Начало периода отчета в формате YYYY-MM-DD HH:MM:SS (required)
   * @param momentTo Конец периода отчета в формате YYYY-MM-DD HH:MM:SS (required)
   * @param interval Интервал построения отчета (required)
   * @param filter Фильтрация показателей продаж. Доступные поля: &#x60;organization&#x60;, &#x60;store&#x60;, &#x60;project&#x60;, &#x60;retailStore&#x60;. Можно указать несколько значений; пустые значения недопустимы.  (optional)
   * @param accept  (optional, default to application/json;charset&#x3D;utf-8)
   * @param acceptEncoding  (optional, default to gzip, deflate, br)
   * @param xLognexAcceptTimezone Опциональный заголовок, в котором указана текущая дата на клиенте в RFC 3522. Таймзону обязательно указывать в формате знак и 4 символа. Пример: &#x60;Wed, 16 Aug 2017 23:07:01 +0700&#x60;. При подсчете показателей даты операций смещаются в таймзону клиента.  (optional)
   * @param additionalHeaders additionalHeaders for this call
   * @return ReportSalesPlotSeriesList
   * @throws ApiException if fails to make API call
   */
  protected ReportSalesPlotSeriesList getReportSalesPlotSeries(@javax.annotation.Nonnull String momentFrom, @javax.annotation.Nonnull String momentTo, @javax.annotation.Nonnull String interval, @javax.annotation.Nullable String filter, @javax.annotation.Nullable String accept, @javax.annotation.Nullable String acceptEncoding, @javax.annotation.Nullable String xLognexAcceptTimezone, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'momentFrom' is set
    if (momentFrom == null) {
      throw new ApiException(400, "Missing the required parameter 'momentFrom' when calling getReportSalesPlotSeries");
    }
    
    // verify the required parameter 'momentTo' is set
    if (momentTo == null) {
      throw new ApiException(400, "Missing the required parameter 'momentTo' when calling getReportSalesPlotSeries");
    }
    
    // verify the required parameter 'interval' is set
    if (interval == null) {
      throw new ApiException(400, "Missing the required parameter 'interval' when calling getReportSalesPlotSeries");
    }
    
    // create path and map variables
    String localVarPath = "/report/sales/plotseries";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("momentFrom", momentFrom));
    localVarQueryParams.addAll(apiClient.parameterToPair("momentTo", momentTo));
    localVarQueryParams.addAll(apiClient.parameterToPair("interval", interval));
    localVarQueryParams.addAll(apiClient.parameterToPair("filter", filter));
    if (accept != null)
      localVarHeaderParams.put("accept", apiClient.parameterToString(accept));
if (acceptEncoding != null)
      localVarHeaderParams.put("Accept-Encoding", apiClient.parameterToString(acceptEncoding));
if (xLognexAcceptTimezone != null)
      localVarHeaderParams.put("X-Lognex-Accept-Timezone", apiClient.parameterToString(xLognexAcceptTimezone));

    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<ReportSalesPlotSeriesList> localVarReturnType = new TypeReference<ReportSalesPlotSeriesList>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  @Override
  public <T> T invokeAPI(String url, String method, Object request, TypeReference<T> returnType, Map<String, String> additionalHeaders) throws ApiException {
    String localVarPath = url.replace(apiClient.getBaseURL(), "");
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarHeaderParams.putAll(additionalHeaders);

    final String[] localVarAccepts = {
          "application/json;charset=utf-8"
        };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    return apiClient.invokeAPI(
      localVarPath,
        method,
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        request,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        returnType
    );
  }
}
