openapi: 3.0.3
info:
  description: "API для манипуляции с сущностями и создания отчетов в онлайн-серви\
    се МойСклад.\n\n## Аутентификация\n\nМойСклад поддерживает аутентификацию по п\
    ротоколу Basic Auth и с использованием токена доступа:\n- Basic Auth: заголово\
    к `Authorization` со значением пары `логин:пароль`, закодированным в Base64\n\
    - Bearer Token: заголовок `Authorization` со значением `Bearer <Access-Token>`\n\
    \n## Ограничения\n\n- Не более 45 запросов за 3 секундный период от аккаунта\n\
    - Не более 5 параллельных запросов от одного пользователя  \n- Не более 20 пар\
    аллельных запросов от аккаунта\n- Не более 20 Мб данных в одном запросе\n- Мак\
    симум 1000 элементов в массиве\n- Обязательное использование сжатия gzip\n"
  license:
    name: Apache 2.0
    url: https://www.apache.org
  title: МойСклад JSON API
  version: 1.0.0
servers:
- description: Production server
  url: https://api.moysklad.ru/api/remap/1.2
security:
- basicAuth: []
- bearerAuth: []
tags:
- description: Операции с товарами
  name: Products
- description: Операции с группами
  name: Groups
- description: Операции со странами
  name: Countries
- description: Операции с регионами
  name: Regions
- description: Операции с группами техкарт
  name: ProcessingPlanFolders
- description: Операции с группами товаров
  name: ProductFolders
- description: Операции с единицами измерений
  name: Uoms
- description: Операции с Этапами производства
  name: ProcessingStages
- description: Операции с Техпроцессами
  name: ProcessingProcesses
- description: Операции с Техкартами
  name: ProcessingPlans
- description: Операции с валютами
  name: Currencies
- description: Операции со ставками НДС
  name: TaxRates
- description: Операции с сотрудниками
  name: Employees
- description: Операции с договорами
  name: Contracts
- description: Операции с задачами
  name: Tasks
- description: Операции с каналами продаж
  name: SalesChannels
- description: Операции с проектами
  name: Projects
- description: Операции с партиями
  name: Consignments
- description: Операции со статьями расходов
  name: ExpenseItems
- description: Операции с контрагентами
  name: Counterparties
- description: Операции с юрлицами
  name: Organizations
- description: Операции с услугами
  name: Services
- description: Операции с типами цен
  name: PriceTypes
- description: Операции с площадками для продаж
  name: SalePlatforms
- description: Операции с точками продаж
  name: RetailStores
- description: Операции с кассирами
  name: Cashiers
- description: Операции c Внутренними заказами
  name: InternalOrders
- description: Операции с заказами на производство
  name: ProcessingOrders
- description: Операции с техоперациями
  name: Processings
- description: Операции с комплектами
  name: Bundles
- description: Операции с модификациями
  name: Variants
- description: Операции с печатью этикеток и ценников
  name: Labels
- description: Операции с вебхуками
  name: Webhooks
- description: Операции с вебхуками на изменение остатков
  name: WebhookStocks
- description: Операции с серийными номерами
  name: Things
- description: Операции со складами
  name: Stores
- description: Операции с заказами покупателя
  name: CustomerOrders
- description: Операции со счетами поставщику
  name: InvoiceIns
- description: Операции со счетами покупателю
  name: InvoiceOuts
- description: Операции с отгрузками
  name: Demands
- description: Операции с перемещениями
  name: Moves
- description: Операции с розничными продажами
  name: RetailDemands
- description: Операции с оприходованиями
  name: Enters
- description: Операции с возвратами покупателей
  name: SalesReturns
- description: Операции со списаниями
  name: Losses
- description: Операции с инвентаризациями
  name: Inventories
- description: Операции с возвратами поставщикам
  name: PurchaseReturns
- description: Операции с приемками
  name: Supplies
- description: Операции с предоплатами
  name: Prepayments
- description: Операции с возвратами предоплаты
  name: PrepaymentReturns
- description: Операции с заказами поставщика
  name: PurchaseOrders
- description: Операции с заказами кодов маркировки
  name: EmissionOrders
- description: Операции с приходными ордерами
  name: CashIns
- description: Операции с входящими платежами
  name: PaymentIns
- description: Операции со Счетами-фактурами полученными
  name: FactureIns
- description: Операции со Счетами-фактурами выданными
  name: FactureOuts
- description: Операции с исходящими платежами
  name: PaymentOuts
- description: Операции с внесениями денег
  name: RetailDrawerCashIns
- description: Операции с выплатами денег
  name: RetailDrawerCashOuts
- description: Операции с расходными ордерами
  name: CashOuts
- description: Операции с полученными отчетами комиссионера
  name: CommissionReportIns
- description: Операции с выданными отчетами комиссионера
  name: CommissionReportOuts
- description: Операции с настройками компании
  name: CompanySettings
- description: Операции с настройками пользователя
  name: UserSettings
- description: Операции с подпиской компании
  name: Subscriptions
- description: Операции со скидками
  name: Discounts
- description: Операции с ассортиментом
  name: Assortment
- description: Операции с бонусными программами
  name: BonusPrograms
- description: Операции с бонусными операциями
  name: BonusTransactions
- description: Операции с пользовательскими справочниками
  name: CustomEntities
paths:
  /entity/contract:
    get:
      description: Запрос всех договоров на данной учетной записи
      operationId: getContracts
      parameters:
      - description: Максимальное количество элементов в выданном списке (максимум
          1000)
        in: query
        name: limit
        schema:
          default: 1000
          maximum: 1000
          minimum: 1
          type: integer
      - description: Отступ в выданном списке
        in: query
        name: offset
        schema:
          default: 0
          minimum: 0
          type: integer
      - description: Контекстный поиск по строковым полям сущностей
        in: query
        name: search
        schema:
          example: name=123
          type: string
      - description: Фильтрация выборки
        example: archived=false
        in: query
        name: filter
        schema:
          type: string
      - description: Замена ссылок объектами с помощью expand
        example: "agent,organization"
        in: query
        name: expand
        schema:
          type: string
      - description: Сортировка
        example: name
        in: query
        name: order
        schema:
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractList"
          description: Успешный запрос
        default:
          $ref: "#/components/responses/CommonError"
      summary: Получить список договоров
      tags:
      - Contracts
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
    post:
      description: Создание нового договора
      operationId: createContract
      parameters:
      - description: Замена ссылок объектами с помощью expand
        example: "agent,organization"
        in: query
        name: expand
        schema:
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Contract"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Contract"
          description: Договор успешно создан
        default:
          $ref: "#/components/responses/CommonError"
      summary: Создать договор
      tags:
      - Contracts
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/contract/{id}:
    delete:
      description: Удаление договора с указанным id
      operationId: deleteContract
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      responses:
        "200":
          description: Договор успешно удален
        default:
          $ref: "#/components/responses/CommonError"
      summary: Удалить договор
      tags:
      - Contracts
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
    get:
      description: Запрос на получение договора с указанным id
      operationId: getContractById
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - description: Замена ссылок объектами с помощью expand
        example: "agent,organization"
        in: query
        name: expand
        schema:
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Contract"
          description: Успешный запрос
        default:
          $ref: "#/components/responses/CommonError"
      summary: Получить договор по ID
      tags:
      - Contracts
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
    put:
      description: Обновление договора с указанным id
      operationId: updateContract
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - description: Замена ссылок объектами с помощью expand
        example: "agent,organization"
        in: query
        name: expand
        schema:
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Contract"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Contract"
          description: Договор успешно обновлен
        default:
          $ref: "#/components/responses/CommonError"
      summary: Обновить договор
      tags:
      - Contracts
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/contract/delete:
    post:
      description: Массовое удаление договоров по их мета-объектам.
      operationId: deleteContractsBatch
      parameters:
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: "#/components/schemas/Contract"
              maxItems: 1000
              minItems: 1
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/deleteContractsBatch_200_response_inner"
                type: array
          description: Результат по каждому элементу (успех или объект ошибки)
        default:
          $ref: "#/components/responses/CommonError"
      summary: Удалить договоры
      tags:
      - Contracts
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/contract/batch:
    post:
      description: Создание или изменение нескольких договоров.
      operationId: createContractsBatch
      parameters:
      - description: Замена ссылок объектами с помощью expand
        example: "agent,organization"
        in: query
        name: expand
        schema:
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: "#/components/schemas/Contract"
              maxItems: 1000
              minItems: 1
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/createContractsBatch_200_response_inner"
                type: array
          description: Договоры успешно созданы или изменены
        default:
          $ref: "#/components/responses/CommonError"
      summary: Создать или изменить договоры
      tags:
      - Contracts
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/contract/metadata:
    get:
      description: Запрос на получение метаданных договоров
      operationId: getContractMetadata
      parameters:
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocumentMetadata"
          description: Успешный запрос
        default:
          $ref: "#/components/responses/CommonError"
      summary: Получить метаданные договоров
      tags:
      - Contracts
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/contract/metadata/attributes:
    get:
      description: Запрос на получение всех доп. полей для договоров
      operationId: getContractMetadataAttributes
      parameters:
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttributeMetaInfoList"
          description: Успешный запрос
        default:
          $ref: "#/components/responses/CommonError"
      summary: Получить доп. поля договоров
      tags:
      - Contracts
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
    post:
      description: Создание нового доп. поля для договоров
      operationId: createContractMetadataAttribute
      parameters:
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AttributeMetaInfo"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttributeMetaInfo"
          description: Доп. поле успешно создано
        default:
          $ref: "#/components/responses/CommonError"
      summary: Создать доп. поле договора
      tags:
      - Contracts
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/contract/metadata/attributes/{id}:
    delete:
      description: Удаление доп. поля
      operationId: deleteContractMetadataAttribute
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      responses:
        "200":
          description: Доп. поле успешно удалено
        default:
          $ref: "#/components/responses/CommonError"
      summary: Удалить доп. поле договора
      tags:
      - Contracts
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
    get:
      description: Запрос на получение отдельного доп. поля
      operationId: getContractMetadataAttributeById
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttributeMetaInfo"
          description: Успешный запрос
        default:
          $ref: "#/components/responses/CommonError"
      summary: Получить доп. поле договора по ID
      tags:
      - Contracts
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
    put:
      description: Обновление доп. поля для договоров
      operationId: updateContractMetadataAttribute
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AttributeMetaInfo"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttributeMetaInfo"
          description: Доп. поле успешно обновлено
        default:
          $ref: "#/components/responses/CommonError"
      summary: Обновить доп. поле договора
      tags:
      - Contracts
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/contract/metadata/states/{id}:
    delete:
      operationId: deleteContractMetadataStateById
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      responses:
        "200":
          description: Успешный запрос
        "404":
          $ref: "#/components/responses/NotFoundEmpty"
        default:
          $ref: "#/components/responses/CommonError"
      summary: Удалить отдельный статус Contract
      tags:
      - Contracts
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
    get:
      operationId: getContractMetadataStateById
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/State"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/State"
          description: Успешный запрос
        default:
          $ref: "#/components/responses/CommonError"
      summary: Отдельный статус Contracts
      tags:
      - Contracts
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
    put:
      operationId: updateContractMetadataStateById
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/State"
          description: Успешный запрос
        default:
          $ref: "#/components/responses/CommonError"
      summary: Обновить отдельный статус Contract
      tags:
      - Contracts
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/task:
    get:
      description: Запрос всех задач на данной учетной записи
      operationId: getTasks
      parameters:
      - description: Максимальное количество элементов в выданном списке (максимум
          1000)
        in: query
        name: limit
        schema:
          default: 1000
          maximum: 1000
          minimum: 1
          type: integer
      - description: Отступ в выданном списке
        in: query
        name: offset
        schema:
          default: 0
          minimum: 0
          type: integer
      - description: Фильтрация выборки
        example: archived=false
        in: query
        name: filter
        schema:
          type: string
      - description: Замена ссылок объектами с помощью expand
        example: "agent,organization"
        in: query
        name: expand
        schema:
          type: string
      - description: Сортировка
        example: name
        in: query
        name: order
        schema:
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TaskList"
          description: Успешный запрос
        default:
          $ref: "#/components/responses/CommonError"
      summary: Получить список задач
      tags:
      - Tasks
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
    post:
      description: Создание новой задачи
      operationId: createTask
      parameters:
      - description: Замена ссылок объектами с помощью expand
        example: "agent,organization"
        in: query
        name: expand
        schema:
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Task"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Task"
          description: Задача успешно создана
        default:
          $ref: "#/components/responses/CommonError"
      summary: Создать задачу
      tags:
      - Tasks
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/task/{id}:
    delete:
      description: Удаление задачи с указанным id
      operationId: deleteTask
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      responses:
        "200":
          description: Задача успешно удалена
        default:
          $ref: "#/components/responses/CommonError"
      summary: Удалить задачу
      tags:
      - Tasks
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
    get:
      description: Запрос задачи с указанным id
      operationId: getTaskById
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - description: Замена ссылок объектами с помощью expand
        example: "agent,organization"
        in: query
        name: expand
        schema:
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Task"
          description: Успешный запрос
        default:
          $ref: "#/components/responses/CommonError"
      summary: Получить задачу по ID
      tags:
      - Tasks
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
    put:
      description: Обновление задачи с указанным id
      operationId: updateTask
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - description: Замена ссылок объектами с помощью expand
        example: "agent,organization"
        in: query
        name: expand
        schema:
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Task"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Task"
          description: Задача успешно обновлена
        default:
          $ref: "#/components/responses/CommonError"
      summary: Обновить задачу
      tags:
      - Tasks
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/task/delete:
    post:
      description: Массовое удаление задач по их мета-объектам
      operationId: deleteTasksBatch
      parameters:
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: "#/components/schemas/Task"
              maxItems: 1000
              minItems: 1
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/deleteContractsBatch_200_response_inner"
                type: array
          description: Результат по каждому элементу (успех или объект ошибки)
        default:
          $ref: "#/components/responses/CommonError"
      summary: Удалить задачи
      tags:
      - Tasks
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/task/batch:
    post:
      description: Создание или изменение нескольких задач.
      operationId: createTasksBatch
      parameters:
      - description: Замена ссылок объектами с помощью expand
        example: "agent,organization"
        in: query
        name: expand
        schema:
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: "#/components/schemas/Task"
              maxItems: 1000
              minItems: 1
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/createTasksBatch_200_response_inner"
                type: array
          description: Задачи созданы или изменены (элемент — сущность или объект
            ошибки)
        default:
          $ref: "#/components/responses/CommonError"
      summary: Создать или изменить задачи
      tags:
      - Tasks
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/task/{id}/notes:
    get:
      description: Запрос на получение списка всех комментариев данной Задачи
      operationId: getTaskNotes
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - description: Максимальное количество элементов в выданном списке (максимум
          1000)
        in: query
        name: limit
        schema:
          default: 1000
          maximum: 1000
          minimum: 1
          type: integer
      - description: Отступ в выданном списке
        in: query
        name: offset
        schema:
          default: 0
          minimum: 0
          type: integer
      - description: "Автор последнего обновления (uid, используется для фильтраци\
          и)"
        in: query
        name: updatedBy
        required: false
        schema:
          type: string
      - description: "Нижняя граница даты обновления в формате YYYY-MM-DD HH:MM:SS[.mmm]"
        in: query
        name: updatedFrom
        required: false
        schema:
          type: string
      - description: "Верхняя граница даты обновления в формате YYYY-MM-DD HH:MM:SS[.mmm]"
        in: query
        name: updatedTo
        required: false
        schema:
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TaskNoteList"
          description: Успешный запрос
        default:
          $ref: "#/components/responses/CommonError"
      summary: Получить комментарии Задачи
      tags:
      - Tasks
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
    post:
      description: Создание комментария к Задаче
      operationId: createTaskNote
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TaskNote"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TaskNote"
          description: Комментарий успешно создан
        default:
          $ref: "#/components/responses/CommonError"
      summary: Создать комментарий Задачи
      tags:
      - Tasks
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/task/{id}/notes/batch:
    post:
      description: Создание нескольких комментариев к Задаче.
      operationId: createTaskNotesBatch
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: "#/components/schemas/TaskNote"
              maxItems: 1000
              minItems: 1
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/createTaskNotesBatch_200_response_inner"
                type: array
          description: Комментарии успешно созданы
        default:
          $ref: "#/components/responses/CommonError"
      summary: Создать комментарии Задачи
      tags:
      - Tasks
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/task/{id}/notes/{noteId}:
    delete:
      description: Удаление комментария к Задаче с указанным id
      operationId: deleteTaskNote
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - description: ID комментария к Задаче
        in: path
        name: noteId
        required: true
        schema:
          format: uuid
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      responses:
        "200":
          description: Комментарий успешно удален
        default:
          $ref: "#/components/responses/CommonError"
      summary: Удалить комментарий к Задаче
      tags:
      - Tasks
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
    get:
      description: Запрос на получение отдельного комментария к Задаче с указанным
        id
      operationId: getTaskNoteById
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - description: ID комментария к Задаче
        in: path
        name: noteId
        required: true
        schema:
          format: uuid
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TaskNote"
          description: Успешный запрос
        default:
          $ref: "#/components/responses/CommonError"
      summary: Получить комментарий к Задаче по ID
      tags:
      - Tasks
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
    put:
      description: Обновление комментария к Задаче с указанным id
      operationId: updateTaskNote
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - description: ID комментария к Задаче
        in: path
        name: noteId
        required: true
        schema:
          format: uuid
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TaskNote"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TaskNote"
          description: Комментарий успешно обновлен
        default:
          $ref: "#/components/responses/CommonError"
      summary: Обновить комментарий к Задаче
      tags:
      - Tasks
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/task/{id}/notes/delete:
    post:
      description: Массовое удаление комментариев к Задаче по их мета-объектам
      operationId: deleteTaskNotesBatch
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: "#/components/schemas/TaskNote"
              maxItems: 1000
              minItems: 1
              type: array
        required: true
      responses:
        "200":
          description: Комментарии к Задаче успешно удалены
        default:
          $ref: "#/components/responses/CommonError"
      summary: Удалить комментарии к Задаче
      tags:
      - Tasks
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/task/metadata:
    get:
      description: Запрос на получение метаданных задач
      operationId: getTaskMetadata
      parameters:
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocumentMetadata"
          description: Успешный запрос
        default:
          $ref: "#/components/responses/CommonError"
      summary: Получить метаданные задач
      tags:
      - Tasks
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/task/metadata/states:
    post:
      description: Создание одного или нескольких типов задач
      operationId: createTaskMetadataStates
      parameters:
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createTaskMetadataStates_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createTaskMetadataStates_200_response"
          description: Тип задачи или список типов задач успешно обработаны
        default:
          $ref: "#/components/responses/CommonError"
      summary: Создать или изменить типы задач
      tags:
      - Tasks
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/task/metadata/states/{id}:
    delete:
      description: Удаление типа задачи с указанным id
      operationId: deleteTaskMetadataStateById
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      responses:
        "200":
          description: Тип задачи успешно удален
        "404":
          $ref: "#/components/responses/NotFoundEmpty"
        default:
          $ref: "#/components/responses/CommonError"
      summary: Удалить тип задачи
      tags:
      - Tasks
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
    put:
      description: Обновление типа задачи с указанным id
      operationId: updateTaskMetadataStateById
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/State"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/State"
          description: Тип задачи успешно обновлен
        default:
          $ref: "#/components/responses/CommonError"
      summary: Обновить тип задачи
      tags:
      - Tasks
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/saleschannel:
    get:
      description: Запрос на получение списка всех каналов продаж на данной учетной
        записи
      operationId: getSalesChannels
      parameters:
      - description: Максимальное количество элементов в выданном списке (максимум
          1000)
        in: query
        name: limit
        schema:
          default: 1000
          maximum: 1000
          minimum: 1
          type: integer
      - description: Отступ в выданном списке
        in: query
        name: offset
        schema:
          default: 0
          minimum: 0
          type: integer
      - description: Контекстный поиск по строковым полям сущностей
        in: query
        name: search
        schema:
          example: name=123
          type: string
      - description: Фильтрация выборки
        example: archived=false
        in: query
        name: filter
        schema:
          type: string
      - description: Замена ссылок объектами с помощью expand
        example: "agent,organization"
        in: query
        name: expand
        schema:
          type: string
      - description: Сортировка
        example: name
        in: query
        name: order
        schema:
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SalesChannelList"
          description: Успешный запрос
        default:
          $ref: "#/components/responses/CommonError"
      summary: Получить Каналы продаж
      tags:
      - SalesChannels
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
    post:
      description: Создание нового Канала продаж
      operationId: createSalesChannel
      parameters:
      - description: Замена ссылок объектами с помощью expand
        example: "agent,organization"
        in: query
        name: expand
        schema:
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SalesChannel"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SalesChannel"
          description: Канал продаж успешно создан
        default:
          $ref: "#/components/responses/CommonError"
      summary: Создать Канал продаж
      tags:
      - SalesChannels
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/saleschannel/{id}:
    delete:
      description: Удаление Канала продаж с указанным id
      operationId: deleteSalesChannel
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      responses:
        "200":
          description: Канал продаж успешно удален
        default:
          $ref: "#/components/responses/CommonError"
      summary: Удалить Канал продаж
      tags:
      - SalesChannels
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
    get:
      description: Запрос на получение отдельного Канала продаж с указанным id
      operationId: getSalesChannelById
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - description: Замена ссылок объектами с помощью expand
        example: "agent,organization"
        in: query
        name: expand
        schema:
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SalesChannel"
          description: Успешный запрос
        default:
          $ref: "#/components/responses/CommonError"
      summary: Получить Канал продаж по ID
      tags:
      - SalesChannels
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
    put:
      description: Обновление Канала продаж с указанным id
      operationId: updateSalesChannel
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - description: Замена ссылок объектами с помощью expand
        example: "agent,organization"
        in: query
        name: expand
        schema:
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SalesChannel"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SalesChannel"
          description: Канал продаж успешно обновлен
        default:
          $ref: "#/components/responses/CommonError"
      summary: Обновить Канал продаж
      tags:
      - SalesChannels
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/saleschannel/delete:
    post:
      description: Массовое удаление Каналов продаж по их мета-объектам
      operationId: deleteSalesChannelsBatch
      parameters:
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: "#/components/schemas/SalesChannel"
              maxItems: 1000
              minItems: 1
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/deleteContractsBatch_200_response_inner"
                type: array
          description: Результат по каждому элементу (успех или объект ошибки)
        default:
          $ref: "#/components/responses/CommonError"
      summary: Удалить Каналы продаж
      tags:
      - SalesChannels
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/saleschannel/batch:
    post:
      description: Создание или изменение нескольких Каналов продаж.
      operationId: createSalesChannelsBatch
      parameters:
      - description: Замена ссылок объектами с помощью expand
        example: "agent,organization"
        in: query
        name: expand
        schema:
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: "#/components/schemas/SalesChannel"
              maxItems: 1000
              minItems: 1
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/createSalesChannelsBatch_200_response_inner"
                type: array
          description: Каналы продаж созданы или изменены (элемент — сущность или
            объект ошибки)
        default:
          $ref: "#/components/responses/CommonError"
      summary: Создать или изменить Каналы продаж
      tags:
      - SalesChannels
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/project:
    get:
      description: Запрос всех проектов на данной учетной записи
      operationId: getProjects
      parameters:
      - description: Максимальное количество элементов в выданном списке (максимум
          1000)
        in: query
        name: limit
        schema:
          default: 1000
          maximum: 1000
          minimum: 1
          type: integer
      - description: Отступ в выданном списке
        in: query
        name: offset
        schema:
          default: 0
          minimum: 0
          type: integer
      - description: Контекстный поиск по строковым полям сущностей
        in: query
        name: search
        schema:
          example: name=123
          type: string
      - description: Фильтрация выборки
        example: archived=false
        in: query
        name: filter
        schema:
          type: string
      - description: Замена ссылок объектами с помощью expand
        example: "agent,organization"
        in: query
        name: expand
        schema:
          type: string
      - description: Сортировка
        example: name
        in: query
        name: order
        schema:
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectList"
          description: Успешный запрос
        default:
          $ref: "#/components/responses/CommonError"
      summary: Получить список проектов
      tags:
      - Projects
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
    post:
      description: Создание нового проекта
      operationId: createProject
      parameters:
      - description: Замена ссылок объектами с помощью expand
        example: "agent,organization"
        in: query
        name: expand
        schema:
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Project"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
          description: Проект успешно создан
        default:
          $ref: "#/components/responses/CommonError"
      summary: Создать проект
      tags:
      - Projects
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/project/{id}:
    delete:
      description: Удаление проекта с указанным id
      operationId: deleteProject
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      responses:
        "200":
          description: Проект успешно удален
        default:
          $ref: "#/components/responses/CommonError"
      summary: Удалить проект
      tags:
      - Projects
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
    get:
      description: Запрос на получение отдельного проекта с указанным id
      operationId: getProjectById
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - description: Замена ссылок объектами с помощью expand
        example: "agent,organization"
        in: query
        name: expand
        schema:
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
          description: Успешный запрос
        default:
          $ref: "#/components/responses/CommonError"
      summary: Получить проект по ID
      tags:
      - Projects
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
    put:
      description: Обновление проекта с указанным id
      operationId: updateProject
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - description: Замена ссылок объектами с помощью expand
        example: "agent,organization"
        in: query
        name: expand
        schema:
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Project"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
          description: Проект успешно обновлен
        default:
          $ref: "#/components/responses/CommonError"
      summary: Обновить проект
      tags:
      - Projects
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/project/delete:
    post:
      description: Массовое удаление проектов по их мета-объектам.
      operationId: deleteProjectsBatch
      parameters:
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: "#/components/schemas/Project"
              maxItems: 1000
              minItems: 1
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/deleteContractsBatch_200_response_inner"
                type: array
          description: Результат по каждому элементу (успех или объект ошибки)
        default:
          $ref: "#/components/responses/CommonError"
      summary: Удалить проекты
      tags:
      - Projects
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/project/batch:
    post:
      description: Создание или изменение нескольких проектов.
      operationId: createProjectsBatch
      parameters:
      - description: Замена ссылок объектами с помощью expand
        example: "agent,organization"
        in: query
        name: expand
        schema:
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: "#/components/schemas/Project"
              maxItems: 1000
              minItems: 1
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/createProjectsBatch_200_response_inner"
                type: array
          description: Проекты успешно созданы или изменены
        default:
          $ref: "#/components/responses/CommonError"
      summary: Создать или изменить проекты
      tags:
      - Projects
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/project/metadata:
    get:
      description: Запрос на получение метаданных проектов
      operationId: getProjectMetadata
      parameters:
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Metadata"
          description: Успешный запрос
        default:
          $ref: "#/components/responses/CommonError"
      summary: Получить метаданные проектов
      tags:
      - Projects
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/project/metadata/attributes:
    get:
      description: Запрос на получение всех доп. полей для проектов
      operationId: getProjectMetadataAttributes
      parameters:
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttributeMetaInfoList"
          description: Успешный запрос
        default:
          $ref: "#/components/responses/CommonError"
      summary: Получить доп. поля проектов
      tags:
      - Projects
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
    post:
      description: Создание нового доп. поля для проектов
      operationId: createProjectMetadataAttribute
      parameters:
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AttributeMetaInfo"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttributeMetaInfo"
          description: Доп. поле успешно создано
        default:
          $ref: "#/components/responses/CommonError"
      summary: Создать доп. поле проекта
      tags:
      - Projects
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/project/metadata/attributes/{id}:
    delete:
      description: Удаление доп. поля
      operationId: deleteProjectMetadataAttribute
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      responses:
        "200":
          description: Доп. поле успешно удалено
        default:
          $ref: "#/components/responses/CommonError"
      summary: Удалить доп. поле проекта
      tags:
      - Projects
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
    get:
      description: Запрос на получение отдельного доп. поля
      operationId: getProjectMetadataAttributeById
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttributeMetaInfo"
          description: Успешный запрос
        default:
          $ref: "#/components/responses/CommonError"
      summary: Получить доп. поле проекта по ID
      tags:
      - Projects
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
    put:
      description: Обновление доп. поля для проектов
      operationId: updateProjectMetadataAttribute
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AttributeMetaInfo"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttributeMetaInfo"
          description: Доп. поле успешно обновлено
        default:
          $ref: "#/components/responses/CommonError"
      summary: Обновить доп. поле проекта
      tags:
      - Projects
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/consignment:
    get:
      description: Запрос всех партий на данной учетной записи
      operationId: getConsignments
      parameters:
      - description: Максимальное количество элементов в выданном списке (максимум
          1000)
        in: query
        name: limit
        schema:
          default: 1000
          maximum: 1000
          minimum: 1
          type: integer
      - description: Отступ в выданном списке
        in: query
        name: offset
        schema:
          default: 0
          minimum: 0
          type: integer
      - description: Контекстный поиск по строковым полям сущностей
        in: query
        name: search
        schema:
          example: name=123
          type: string
      - description: Фильтрация выборки
        example: archived=false
        in: query
        name: filter
        schema:
          type: string
      - description: Замена ссылок объектами с помощью expand
        example: "agent,organization"
        in: query
        name: expand
        schema:
          type: string
      - description: Сортировка
        example: name
        in: query
        name: order
        schema:
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConsignmentList"
          description: Успешный запрос
        default:
          $ref: "#/components/responses/CommonError"
      summary: Получить список партий
      tags:
      - Consignments
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
    post:
      description: Создание новой партии
      operationId: createConsignment
      parameters:
      - description: Замена ссылок объектами с помощью expand
        example: "agent,organization"
        in: query
        name: expand
        schema:
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Consignment"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Consignment"
          description: Партия успешно создана
        default:
          $ref: "#/components/responses/CommonError"
      summary: Создать партию
      tags:
      - Consignments
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/consignment/{id}:
    delete:
      description: Удаление Партии с указанным id
      operationId: deleteConsignment
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      responses:
        "200":
          description: Партия успешно удалена
        default:
          $ref: "#/components/responses/CommonError"
      summary: Удалить партию
      tags:
      - Consignments
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
    get:
      description: Запрос на получение Партии с указанным id
      operationId: getConsignmentById
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - description: Замена ссылок объектами с помощью expand
        example: "agent,organization"
        in: query
        name: expand
        schema:
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Consignment"
          description: Успешный запрос
        default:
          $ref: "#/components/responses/CommonError"
      summary: Получить партию по ID
      tags:
      - Consignments
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
    put:
      description: Обновление Партии с указанным id
      operationId: updateConsignment
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - description: Замена ссылок объектами с помощью expand
        example: "agent,organization"
        in: query
        name: expand
        schema:
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Consignment"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Consignment"
          description: Партия успешно обновлена
        default:
          $ref: "#/components/responses/CommonError"
      summary: Обновить партию
      tags:
      - Consignments
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/consignment/delete:
    post:
      description: Массовое удаление партий по их мета-объектам.
      operationId: deleteConsignmentsBatch
      parameters:
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: "#/components/schemas/Consignment"
              maxItems: 1000
              minItems: 1
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/deleteContractsBatch_200_response_inner"
                type: array
          description: Результат по каждому элементу (успех или объект ошибки)
        default:
          $ref: "#/components/responses/CommonError"
      summary: Удалить партии
      tags:
      - Consignments
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/consignment/batch:
    post:
      description: Создание или изменение нескольких партий.
      operationId: createConsignmentsBatch
      parameters:
      - description: Замена ссылок объектами с помощью expand
        example: "agent,organization"
        in: query
        name: expand
        schema:
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: "#/components/schemas/Consignment"
              maxItems: 1000
              minItems: 1
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/createConsignmentsBatch_200_response_inner"
                type: array
          description: Партии успешно созданы или изменены
        default:
          $ref: "#/components/responses/CommonError"
      summary: Создать или изменить партии
      tags:
      - Consignments
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/consignment/metadata:
    get:
      description: Запрос на получение метаданных партий
      operationId: getConsignmentMetadata
      parameters:
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Metadata"
          description: Успешный запрос
        default:
          $ref: "#/components/responses/CommonError"
      summary: Получить метаданные партий
      tags:
      - Consignments
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/consignment/metadata/attributes:
    get:
      description: Запрос на получение всех доп. полей для партий
      operationId: getConsignmentMetadataAttributes
      parameters:
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttributeMetaInfoList"
          description: Успешный запрос
        default:
          $ref: "#/components/responses/CommonError"
      summary: Получить доп. поля партий
      tags:
      - Consignments
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
    post:
      description: Создание нового доп. поля для партий
      operationId: createConsignmentMetadataAttribute
      parameters:
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AttributeMetaInfo"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttributeMetaInfo"
          description: Доп. поле успешно создано
        default:
          $ref: "#/components/responses/CommonError"
[...]
