openapi: 3.0.3
info:
  description: "API для манипуляции с сущностями и создания отчетов в онлайн-серви\
    се МойСклад.\n\n## Аутентификация\n\nМойСклад поддерживает аутентификацию по п\
    ротоколу Basic Auth и с использованием токена доступа:\n- Basic Auth: заголово\
    к `Authorization` со значением пары `логин:пароль`, закодированным в Base64\n\
    - Bearer Token: заголовок `Authorization` со значением `Bearer <Access-Token>`\n\
    \n## Ограничения\n\n- Не более 45 запросов за 3 секундный период от аккаунта\n\
    - Не более 5 параллельных запросов от одного пользователя  \n- Не более 20 пар\
    аллельных запросов от аккаунта\n- Не более 20 Мб данных в одном запросе\n- Мак\
    симум 1000 элементов в массиве\n- Обязательное использование сжатия gzip\n"
  license:
    name: Apache 2.0
    url: https://www.apache.org
  title: МойСклад JSON API
  version: 1.0.0
servers:
- description: Production server
  url: https://api.moysklad.ru/api/remap/1.2
security:
- basicAuth: []
- bearerAuth: []
tags:
- description: Операции с товарами
  name: Products
- description: Операции с группами
  name: Groups
- description: Операции со странами
  name: Countries
- description: Операции с группами товаров
  name: ProductFolders
- description: Операции с единицами измерений
  name: Uoms
- description: Операции с валютами
  name: Currencies
- description: Операции с сотрудниками
  name: Employees
- description: Операции с договорами
  name: Contracts
- description: Операции с контрагентами
  name: Counterparties
- description: Операции с услугами
  name: Services
- description: Операции с типами цен
  name: PriceTypes
- description: Операции с точками продаж
  name: RetailStores
- description: Операции с кассирами
  name: Cashiers
- description: Операции c Внутренними заказами
  name: InternalOrders
- description: Операции с комплектами
  name: Bundles
- description: Операции с модификациями
  name: Variants
- description: Операции с серийными номерами
  name: Things
- description: Операции со складами
  name: Stores
- description: Операции с заказами покупателя
  name: CustomerOrders
- description: Операции с заказами поставщика
  name: PurchaseOrders
- description: Операции с приходными ордерами
  name: CashIns
- description: Операции с расходными ордерами
  name: CashOuts
- description: Операции с полученными отчетами комиссионера
  name: CommissionReportIns
- description: Операции с настройками компании
  name: CompanySettings
- description: Операции со скидками
  name: Discounts
- description: Операции с ассортиментом
  name: Assortment
- description: Операции с бонусными программами
  name: BonusPrograms
- description: Операции с бонусными операциями
  name: BonusTransactions
- description: Операции с пользовательскими справочниками
  name: CustomEntities
paths:
  /entity/contract:
    get:
      description: Запрос всех договоров на данной учетной записи
      operationId: getContracts
      parameters:
      - description: Максимальное количество элементов в выданном списке (максимум
          1000)
        in: query
        name: limit
        schema:
          default: 1000
          maximum: 1000
          minimum: 1
          type: integer
      - description: Отступ в выданном списке
        in: query
        name: offset
        schema:
          default: 0
          minimum: 0
          type: integer
      - description: Контекстный поиск по строковым полям сущностей
        in: query
        name: search
        schema:
          example: name=123
          type: string
      - description: Фильтрация выборки
        example: archived=false
        in: query
        name: filter
        schema:
          type: string
      - description: Замена ссылок объектами с помощью expand
        example: "agent,organization"
        in: query
        name: expand
        schema:
          type: string
      - description: Сортировка
        example: name
        in: query
        name: order
        schema:
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractList"
          description: Успешный запрос
        default:
          $ref: "#/components/responses/CommonError"
      summary: Получить список договоров
      tags:
      - Contracts
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
    post:
      description: Создание нового договора
      operationId: createContract
      parameters:
      - description: Замена ссылок объектами с помощью expand
        example: "agent,organization"
        in: query
        name: expand
        schema:
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Contract"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Contract"
          description: Договор успешно создан
        default:
          $ref: "#/components/responses/CommonError"
      summary: Создать договор
      tags:
      - Contracts
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/contract/{id}:
    delete:
      description: Удаление договора с указанным id
      operationId: deleteContract
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      responses:
        "200":
          description: Договор успешно удален
        default:
          $ref: "#/components/responses/CommonError"
      summary: Удалить договор
      tags:
      - Contracts
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
    get:
      description: Запрос на получение договора с указанным id
      operationId: getContractById
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - description: Замена ссылок объектами с помощью expand
        example: "agent,organization"
        in: query
        name: expand
        schema:
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Contract"
          description: Успешный запрос
        default:
          $ref: "#/components/responses/CommonError"
      summary: Получить договор по ID
      tags:
      - Contracts
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
    put:
      description: Обновление договора с указанным id
      operationId: updateContract
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - description: Замена ссылок объектами с помощью expand
        example: "agent,organization"
        in: query
        name: expand
        schema:
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Contract"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Contract"
          description: Договор успешно обновлен
        default:
          $ref: "#/components/responses/CommonError"
      summary: Обновить договор
      tags:
      - Contracts
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/contract/delete:
    post:
      description: Массовое удаление договоров по их мета-объектам.
      operationId: deleteContractsBatch
      parameters:
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: "#/components/schemas/Contract"
              maxItems: 1000
              minItems: 1
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/deleteContractsBatch_200_response_inner"
                maxItems: 1000
                minItems: 1
                type: array
          description: Результат по каждому элементу (успех или объект ошибки)
        default:
          $ref: "#/components/responses/CommonError"
      summary: Удалить договоры
      tags:
      - Contracts
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/contract/batch:
    post:
      description: Создание или изменение нескольких договоров.
      operationId: createContractsBatch
      parameters:
      - description: Замена ссылок объектами с помощью expand
        example: "agent,organization"
        in: query
        name: expand
        schema:
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: "#/components/schemas/Contract"
              maxItems: 1000
              minItems: 1
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/createContractsBatch_200_response_inner"
                maxItems: 1000
                minItems: 1
                type: array
          description: Договоры успешно созданы или изменены
        default:
          $ref: "#/components/responses/CommonError"
      summary: Создать или изменить договоры
      tags:
      - Contracts
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/contract/metadata:
    get:
      description: Запрос на получение метаданных договоров
      operationId: getContractMetadata
      parameters:
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocumentMetadata"
          description: Успешный запрос
        default:
          $ref: "#/components/responses/CommonError"
      summary: Получить метаданные договоров
      tags:
      - Contracts
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/contract/metadata/attributes:
    get:
      description: Запрос на получение всех доп. полей для договоров
      operationId: getContractMetadataAttributes
      parameters:
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttributeMetaInfoList"
          description: Успешный запрос
        default:
          $ref: "#/components/responses/CommonError"
      summary: Получить доп. поля договоров
      tags:
      - Contracts
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
    post:
      description: Создание нового доп. поля для договоров
      operationId: createContractMetadataAttribute
      parameters:
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AttributeMetaInfo"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttributeMetaInfo"
          description: Доп. поле успешно создано
        default:
          $ref: "#/components/responses/CommonError"
      summary: Создать доп. поле договора
      tags:
      - Contracts
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/contract/metadata/attributes/{id}:
    delete:
      description: Удаление доп. поля
      operationId: deleteContractMetadataAttribute
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      responses:
        "200":
          description: Доп. поле успешно удалено
        default:
          $ref: "#/components/responses/CommonError"
      summary: Удалить доп. поле договора
      tags:
      - Contracts
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
    get:
      description: Запрос на получение отдельного доп. поля
      operationId: getContractMetadataAttributeById
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttributeMetaInfo"
          description: Успешный запрос
        default:
          $ref: "#/components/responses/CommonError"
      summary: Получить доп. поле договора по ID
      tags:
      - Contracts
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
    put:
      description: Обновление доп. поля для договоров
      operationId: updateContractMetadataAttribute
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AttributeMetaInfo"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttributeMetaInfo"
          description: Доп. поле успешно обновлено
        default:
          $ref: "#/components/responses/CommonError"
      summary: Обновить доп. поле договора
      tags:
      - Contracts
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/contract/metadata/states/{id}:
    delete:
      operationId: deleteContractMetadataStateById
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      responses:
        "200":
          description: Успешный запрос
        "404":
          $ref: "#/components/responses/NotFoundEmpty"
        default:
          $ref: "#/components/responses/CommonError"
      summary: Удалить отдельный статус Contract
      tags:
      - Contracts
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
    get:
      operationId: getContractMetadataStateById
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/State"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/State"
          description: Успешный запрос
        default:
          $ref: "#/components/responses/CommonError"
      summary: Отдельный статус Contracts
      tags:
      - Contracts
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
    put:
      operationId: updateContractMetadataStateById
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/State"
          description: Успешный запрос
        default:
          $ref: "#/components/responses/CommonError"
      summary: Обновить отдельный статус Contract
      tags:
      - Contracts
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/product:
    get:
      description: Запрос всех товаров на данной учетной записи
      operationId: getProducts
      parameters:
      - description: Максимальное количество элементов в выданном списке (максимум
          1000)
        in: query
        name: limit
        schema:
          default: 1000
          maximum: 1000
          minimum: 1
          type: integer
      - description: Отступ в выданном списке
        in: query
        name: offset
        schema:
          default: 0
          minimum: 0
          type: integer
      - description: Контекстный поиск по строковым полям сущностей
        in: query
        name: search
        schema:
          example: name=123
          type: string
      - description: Фильтрация выборки
        example: archived=false
        in: query
        name: filter
        schema:
          type: string
      - description: Замена ссылок объектами с помощью expand
        example: "agent,organization"
        in: query
        name: expand
        schema:
          type: string
      - description: Сортировка
        example: name
        in: query
        name: order
        schema:
          type: string
      - description: |
          Включить в ответ скрытые поля, не выводимые по умолчанию.
          В одном запросе можно передать только одно значение.
          - `minimumStock` — неснижаемый остаток (товар, модификация)
          - `downloadPermanentHref` — постоянная ссылка на изображение (платный тариф)
          - `stock` — остатки и себестоимость в позициях документов
          - `declaration` — прослеживаемость импортных товаров в позициях документов
        example: minimumStock
        in: query
        name: fields
        schema:
          enum:
          - minimumStock
          - downloadPermanentHref
          - stock
          - declaration
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductList"
          description: Успешный запрос
        default:
          $ref: "#/components/responses/CommonError"
      summary: Получить список товаров
      tags:
      - Products
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
    post:
      description: Создание нового товара
      operationId: createProduct
      parameters:
      - description: Замена ссылок объектами с помощью expand
        example: "agent,organization"
        in: query
        name: expand
        schema:
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Product"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Product"
          description: Товар успешно создан
        default:
          $ref: "#/components/responses/CommonError"
      summary: Создать товар
      tags:
      - Products
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/product/{id}:
    delete:
      description: Удаление товара с указанным id
      operationId: deleteProduct
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      responses:
        "200":
          description: Товар успешно удален
        default:
          $ref: "#/components/responses/CommonError"
      summary: Удалить товар
      tags:
      - Products
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
    get:
      description: Запрос на получение отдельного товара с указанным id
      operationId: getProductById
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - description: Замена ссылок объектами с помощью expand
        example: "agent,organization"
        in: query
        name: expand
        schema:
          type: string
      - description: |
          Включить в ответ скрытые поля, не выводимые по умолчанию.
          В одном запросе можно передать только одно значение.
          - `minimumStock` — неснижаемый остаток (товар, модификация)
          - `downloadPermanentHref` — постоянная ссылка на изображение (платный тариф)
          - `stock` — остатки и себестоимость в позициях документов
          - `declaration` — прослеживаемость импортных товаров в позициях документов
        example: minimumStock
        in: query
        name: fields
        schema:
          enum:
          - minimumStock
          - downloadPermanentHref
          - stock
          - declaration
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Product"
          description: Успешный запрос
        default:
          $ref: "#/components/responses/CommonError"
      summary: Получить товар по ID
      tags:
      - Products
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
    put:
      description: Обновление товара с указанным id
      operationId: updateProduct
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - description: Замена ссылок объектами с помощью expand
        example: "agent,organization"
        in: query
        name: expand
        schema:
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Product"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Product"
          description: Товар успешно обновлен
        default:
          $ref: "#/components/responses/CommonError"
      summary: Обновить товар
      tags:
      - Products
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/product/delete:
    post:
      description: Массовое удаление товаров по их мета-объектам.
      operationId: deleteProductsBatch
      parameters:
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: "#/components/schemas/Product"
              maxItems: 1000
              minItems: 1
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/deleteContractsBatch_200_response_inner"
                maxItems: 1000
                minItems: 1
                type: array
          description: Результат по каждому элементу (успех или объект ошибки)
        default:
          $ref: "#/components/responses/CommonError"
      summary: Удалить товары
      tags:
      - Products
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/product/batch:
    post:
      description: Создание или изменение нескольких товаров.
      operationId: createProductsBatch
      parameters:
      - description: Замена ссылок объектами с помощью expand
        example: "agent,organization"
        in: query
        name: expand
        schema:
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: "#/components/schemas/Product"
              maxItems: 1000
              minItems: 1
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/createProductsBatch_200_response_inner"
                maxItems: 1000
                minItems: 1
                type: array
          description: Товары успешно созданы или изменены (элемент массива — сущность
            или объект ошибки)
        default:
          $ref: "#/components/responses/CommonError"
      summary: Создать или изменить товары
      tags:
      - Products
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/product/metadata:
    get:
      description: Запрос на получение метаданных товаров
      operationId: getMetadata
      parameters:
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Metadata"
          description: Успешный запрос
        default:
          $ref: "#/components/responses/CommonError"
      summary: Получить метаданные товаров
      tags:
      - Products
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/product/{id}/images:
    get:
      description: Запрос на получение всех Изображений Товара.
      operationId: getProductImages
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - description: Максимальное количество элементов в выданном списке (максимум
          1000)
        in: query
        name: limit
        schema:
          default: 1000
          maximum: 1000
          minimum: 1
          type: integer
      - description: Отступ в выданном списке
        in: query
        name: offset
        schema:
          default: 0
          minimum: 0
          type: integer
      - description: |
          Включить в ответ скрытые поля, не выводимые по умолчанию.
          В одном запросе можно передать только одно значение.
          - `minimumStock` — неснижаемый остаток (товар, модификация)
          - `downloadPermanentHref` — постоянная ссылка на изображение (платный тариф)
          - `stock` — остатки и себестоимость в позициях документов
          - `declaration` — прослеживаемость импортных товаров в позициях документов
        example: minimumStock
        in: query
        name: fields
        schema:
          enum:
          - minimumStock
          - downloadPermanentHref
          - stock
          - declaration
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                meta:
                  href: https://api.moysklad.ru/api/remap/1.2/entity/product/7944ef04-f831-11e5-7a69-971500188b19/images
                  type: image
                  mediaType: application/json
                  size: 1
                  limit: 1000
                  offset: 0
                rows:
                - meta:
                    href: https://api.moysklad.ru/api/remap/1.2/entity/product/7944ef04-f831-11e5-7a69-971500188b19/images/f2728180-6afd-4d37-8a13-f3b48069bbb6
                    type: image
                    mediaType: application/json
                    downloadHref: https://api.moysklad.ru/api/remap/1.2/download/f2728180-6afd-4d37-8a13-f3b48069bbb6
                  title: birdimage
                  filename: birdimage.png
                  size: 14052
                  updated: 2019-01-24 16:55:24.567
              schema:
                $ref: "#/components/schemas/getProductImages_200_response"
          description: Успешный запрос
        default:
          $ref: "#/components/responses/CommonError"
      summary: Получить изображения товара
      tags:
      - Products
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
    post:
      description: |
        Добавить новые Изображения к Товару или изменить список Изображений.
        В поле `content` нужно указать изображение, закодированное в Base64, в поле `filename` — имя файла с расширением.
        У Товара может быть не более 10 Изображений.
      operationId: addProductImages
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            example:
              filename: birdimage.png
              content: iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAA3NCSVQICAjb4U/gAAAAEHRFWHRTb2Z0d2FyZQBTaHV0dGVyY4LQCQAAAAxJREFUCNdj+PePAQAE+gH90KA5ZAAAAABJRU5ErkJggg==
            schema:
              $ref: "#/components/schemas/addProductImages_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Image"
                type: array
          description: Изображения успешно добавлены. Результат — массив всех Изображений
            Товара.
        default:
          $ref: "#/components/responses/CommonError"
      summary: Добавить изображения к товару
      tags:
      - Products
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/product/{id}/images/{imageId}:
    delete:
      description: Удаление Изображения Товара
      operationId: deleteProductImage
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - description: ID изображения
        in: path
        name: imageId
        required: true
        schema:
          format: uuid
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      responses:
        "200":
          description: Изображение успешно удалено
        default:
          $ref: "#/components/responses/CommonError"
      summary: Удалить изображение товара
      tags:
      - Products
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/product/{id}/images/delete:
    post:
      description: Массовое удаление Изображений Товара
      operationId: deleteProductImages
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            example:
            - meta:
                href: https://api.moysklad.ru/api/remap/1.2/entity/product/7944ef04-f831-11e5-7a69-971500188b19/images/f2728180-6afd-4d37-8a13-f3b48069bbb6
                type: image
                mediaType: application/json
            schema:
              items:
                $ref: "#/components/schemas/deleteProductImages_request_inner"
              type: array
        required: true
      responses:
        "200":
          description: Изображения успешно удалены
        default:
          $ref: "#/components/responses/CommonError"
      summary: Массовое удаление изображений товара
      tags:
      - Products
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/product/{id}/files:
    get:
      description: Запрос на получение списка всех Файлов данного Товара.
      operationId: getProductFiles
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - description: Максимальное количество элементов в выданном списке (максимум
          1000)
        in: query
        name: limit
        schema:
          default: 1000
          maximum: 1000
          minimum: 1
          type: integer
      - description: Отступ в выданном списке
        in: query
        name: offset
        schema:
          default: 0
          minimum: 0
          type: integer
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                meta:
                  href: https://api.moysklad.ru/api/remap/1.2/entity/product/7944ef04-f831-11e5-7a69-971500188b19/files
                  type: files
                  mediaType: application/json
                  size: 1
                  limit: 1000
                  offset: 0
                rows:
                - meta:
                    href: https://api.moysklad.ru/api/remap/1.2/entity/product/7944ef04-f831-11e5-7a69-971500188b19/files/f2728180-6afd-4d37-8a13-f3b48069bbb6
                    type: files
                    mediaType: application/json
                    downloadHref: https://api.moysklad.ru/api/remap/1.2/download/f2728180-6afd-4d37-8a13-f3b48069bbb6
                  title: doc
                  filename: doc.pdf
                  size: 25000
                  created: 2019-01-25 17:30:25.021
              schema:
                $ref: "#/components/schemas/getProductFiles_200_response"
          description: Успешный запрос
        default:
          $ref: "#/components/responses/CommonError"
      summary: Получить файлы товара
      tags:
      - Products
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
    post:
      description: |
        Добавить новые Файлы к Товару. В одном запросе можно добавить максимум 10 Файлов.
        В поле `content` нужно указать файл, закодированный в Base64, в поле `filename` — имя файла с расширением.
      operationId: addProductFiles
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            example:
            - filename: doc.pdf
              content: SGVsbG8gV29ybGQ=
            schema:
              items:
                $ref: "#/components/schemas/FileUpload"
              maxItems: 10
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/File"
                type: array
          description: Файлы успешно добавлены. Результат — массив всех Файлов Товара.
        default:
          $ref: "#/components/responses/CommonError"
      summary: Добавить файлы к товару
      tags:
      - Products
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/product/{id}/files/{fileId}:
    delete:
      description: Удаление Файла Товара
      operationId: deleteProductFile
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - description: ID файла
        in: path
        name: fileId
        required: true
        schema:
          format: uuid
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      responses:
        "200":
          description: Файл успешно удалён
        default:
          $ref: "#/components/responses/CommonError"
      summary: Удалить файл товара
      tags:
      - Products
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/product/{id}/storebalances:
    get:
      description: Запрос на получение списка Неснижаемых остатков Товара по складам.
      operationId: getProductStoreBalances
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - description: Максимальное количество элементов в выданном списке (максимум
          1000)
        in: query
        name: limit
        schema:
          default: 1000
          maximum: 1000
          minimum: 1
          type: integer
      - description: Отступ в выданном списке
        in: query
        name: offset
        schema:
          default: 0
          minimum: 0
          type: integer
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                meta:
                  href: https://api.moysklad.ru/api/remap/1.2/entity/product/88df2fc1-1065-11f0-ac15-000700000012/storebalances
                  type: minimumstock
                  mediaType: application/json
                  size: 1
                  limit: 1000
                  offset: 0
                rows:
                - meta:
                    href: https://api.moysklad.ru/api/remap/1.2/entity/product/88df2fc1-1065-11f0-ac15-000700000012/storebalances/de922f92-113b-11f0-ac15-001000000009
                    type: minimumstock
                    mediaType: application/json
                  id: de922f92-113b-11f0-ac15-001000000009
                  accountId: 762af84a-0ec6-11f0-ac15-001000000001
                  quantity: 2.5
              schema:
                $ref: "#/components/schemas/StoreBalanceList"
          description: Успешный запрос
        default:
          $ref: "#/components/responses/CommonError"
      summary: Получить НСО товара по складам
      tags:
      - Products
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
    post:
      description: Создание нового Неснижаемого остатка Товара для склада.
      operationId: createProductStoreBalance
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            example:
              store:
                meta:
                  href: https://api.moysklad.ru/api/remap/1.2/entity/store/da1c5548-0ecf-11f0-ac15-001200000125
                  type: store
                  mediaType: application/json
              quantity: 5.0
            schema:
              $ref: "#/components/schemas/StoreBalance"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StoreBalance"
          description: НСО успешно создан
        default:
          $ref: "#/components/responses/CommonError"
      summary: Создать НСО товара для склада
      tags:
      - Products
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/product/{id}/storebalances/{storeBalanceId}:
    delete:
      description: Удаление Неснижаемого остатка Товара для склада.
      operationId: deleteProductStoreBalance
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - description: ID неснижаемого остатка
        in: path
        name: storeBalanceId
        required: true
        schema:
          format: uuid
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      responses:
        "200":
          description: НСО успешно удалён
        default:
          $ref: "#/components/responses/CommonError"
      summary: Удалить НСО товара по складу
      tags:
      - Products
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
    get:
      description: Запрос на получение отдельного Неснижаемого остатка Товара по складу.
      operationId: getProductStoreBalanceById
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - description: ID неснижаемого остатка
        in: path
        name: storeBalanceId
        required: true
        schema:
          format: uuid
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StoreBalance"
          description: Успешный запрос
        default:
          $ref: "#/components/responses/CommonError"
      summary: Получить НСО товара по складу
      tags:
      - Products
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
    put:
      description: Обновление Неснижаемого остатка Товара для склада.
      operationId: updateProductStoreBalance
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - description: ID неснижаемого остатка
        in: path
        name: storeBalanceId
        required: true
        schema:
          format: uuid
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StoreBalance"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StoreBalance"
          description: НСО успешно обновлён
        default:
          $ref: "#/components/responses/CommonError"
      summary: Изменить НСО товара по складу
      tags:
      - Products
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/product/{id}/storebalances/delete:
    post:
      description: Массовое удаление Неснижаемых остатков Товара по складам.
      operationId: deleteProductStoreBalances
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            example:
            - meta:
                href: https://api.moysklad.ru/api/remap/1.2/entity/product/3e1c03bb-684f-11ee-ac12-000c000000b0/storebalances/7fce2da5-684d-11ee-ac12-000c000000a2
                type: minimumstock
                mediaType: application/json
            schema:
              items:
                $ref: "#/components/schemas/deleteProductImages_request_inner"
              type: array
        required: true
      responses:
        "200":
          description: НСО успешно удалены
        default:
          $ref: "#/components/responses/CommonError"
      summary: Массовое удаление НСО товара по складам
      tags:
      - Products
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/group:
    get:
      description: Запрос всех групп на данной учетной записи
      operationId: getGroups
      parameters:
      - description: Максимальное количество элементов в выданном списке (максимум
          1000)
        in: query
        name: limit
        schema:
          default: 1000
          maximum: 1000
          minimum: 1
          type: integer
      - description: Отступ в выданном списке
        in: query
        name: offset
        schema:
          default: 0
          minimum: 0
          type: integer
      - description: Контекстный поиск по строковым полям сущностей
        in: query
        name: search
        schema:
          example: name=123
          type: string
      - description: Фильтрация выборки
        example: archived=false
        in: query
        name: filter
        schema:
          type: string
      - description: Замена ссылок объектами с помощью expand
        example: "agent,organization"
        in: query
        name: expand
        schema:
          type: string
      - description: Сортировка
        example: name
        in: query
        name: order
        schema:
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupList"
          description: Успешный запрос
        default:
          $ref: "#/components/responses/CommonError"
      summary: Получить список групп
      tags:
      - Groups
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
    post:
      description: Создание новой группы
      operationId: createGroup
      parameters:
      - description: Замена ссылок объектами с помощью expand
        example: "agent,organization"
        in: query
        name: expand
        schema:
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Group"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Group"
          description: Группа успешно создана
        default:
          $ref: "#/components/responses/CommonError"
      summary: Создать группу
      tags:
      - Groups
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/group/{id}:
    delete:
      description: Удаление группы с указанным id
      operationId: deleteGroup
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      responses:
        "200":
          description: Группа успешно удалена
        default:
          $ref: "#/components/responses/CommonError"
      summary: Удалить группу
      tags:
      - Groups
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
    get:
      description: Запрос на получение отдельной группы с указанным id
      operationId: getGroupById
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - description: Замена ссылок объектами с помощью expand
        example: "agent,organization"
        in: query
        name: expand
        schema:
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Group"
          description: Успешный запрос
        default:
          $ref: "#/components/responses/CommonError"
      summary: Получить группу по ID
      tags:
      - Groups
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
    put:
      description: Обновление группы с указанным id
      operationId: updateGroup
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - description: Замена ссылок объектами с помощью expand
        example: "agent,organization"
        in: query
        name: expand
        schema:
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Group"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Group"
          description: Группа успешно обновлена
        default:
          $ref: "#/components/responses/CommonError"
      summary: Обновить группу
      tags:
      - Groups
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/country:
    get:
      description: Запрос всех стран на данной учетной записи
      operationId: getCountries
      parameters:
      - description: Максимальное количество элементов в выданном списке (максимум
          1000)
        in: query
        name: limit
        schema:
          default: 1000
          maximum: 1000
          minimum: 1
          type: integer
      - description: Отступ в выданном списке
        in: query
        name: offset
        schema:
          default: 0
          minimum: 0
          type: integer
      - description: Контекстный поиск по строковым полям сущностей
        in: query
        name: search
        schema:
          example: name=123
          type: string
      - description: Фильтрация выборки
        example: archived=false
        in: query
        name: filter
        schema:
          type: string
      - description: Замена ссылок объектами с помощью expand
        example: "agent,organization"
        in: query
        name: expand
        schema:
          type: string
      - description: Сортировка
        example: name
        in: query
        name: order
        schema:
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CountryList"
          description: Успешный запрос
        default:
          $ref: "#/components/responses/CommonError"
      summary: Получить список стран
      tags:
      - Countries
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
    post:
      description: Создание новой страны
      operationId: createCountry
      parameters:
      - description: Замена ссылок объектами с помощью expand
        example: "agent,organization"
        in: query
        name: expand
        schema:
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Country"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Country"
          description: Страна успешно создана
        default:
          $ref: "#/components/responses/CommonError"
      summary: Создать страну
      tags:
      - Countries
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/country/{id}:
    delete:
      description: Удаление страны с указанным id
      operationId: deleteCountry
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      responses:
        "200":
          description: Страна успешно удалена
        default:
          $ref: "#/components/responses/CommonError"
      summary: Удалить страну
      tags:
      - Countries
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
    get:
      description: Запрос на получение отдельной страны с указанным id
      operationId: getCountryById
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - description: Замена ссылок объектами с помощью expand
        example: "agent,organization"
        in: query
        name: expand
        schema:
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Country"
          description: Успешный запрос
        default:
          $ref: "#/components/responses/CommonError"
      summary: Получить страну по id
      tags:
      - Countries
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
    put:
      description: Обновление страны с указанным id
      operationId: updateCountry
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - description: Замена ссылок объектами с помощью expand
        example: "agent,organization"
        in: query
        name: expand
        schema:
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Country"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Country"
          description: Страна успешно обновлена
        default:
          $ref: "#/components/responses/CommonError"
      summary: Обновить страну
      tags:
      - Countries
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/country/delete:
    post:
      description: Массовое удаление стран по их мета-объектам.
      operationId: deleteCountriesBatch
      parameters:
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: "#/components/schemas/Country"
              maxItems: 1000
              minItems: 1
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/deleteContractsBatch_200_response_inner"
                maxItems: 1000
                minItems: 1
                type: array
          description: Результат по каждому элементу (успех или объект ошибки)
        default:
          $ref: "#/components/responses/CommonError"
      summary: Удалить страны
      tags:
      - Countries
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/country/batch:
    post:
      description: Создание или изменение нескольких стран.
      operationId: createCountriesBatch
      parameters:
      - description: Замена ссылок объектами с помощью expand
        example: "agent,organization"
        in: query
        name: expand
        schema:
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: "#/components/schemas/Country"
              maxItems: 1000
              minItems: 1
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/createCountriesBatch_200_response_inner"
                maxItems: 1000
                minItems: 1
                type: array
          description: Страны созданы или изменены (элемент — сущность или объект
            ошибки)
        default:
          $ref: "#/components/responses/CommonError"
      summary: Создать или изменить страны
      tags:
      - Countries
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/productfolder:
    get:
      description: Запрос всех групп товаров на данной учетной записи
      operationId: getProductFolders
      parameters:
      - description: Максимальное количество элементов в выданном списке (максимум
          1000)
        in: query
        name: limit
        schema:
          default: 1000
          maximum: 1000
          minimum: 1
          type: integer
      - description: Отступ в выданном списке
        in: query
        name: offset
        schema:
          default: 0
          minimum: 0
          type: integer
      - description: Контекстный поиск по строковым полям сущностей
        in: query
        name: search
        schema:
          example: name=123
          type: string
      - description: Фильтрация выборки
        example: archived=false
        in: query
        name: filter
        schema:
          type: string
      - description: Замена ссылок объектами с помощью expand
        example: "agent,organization"
        in: query
        name: expand
        schema:
          type: string
      - description: Сортировка
        example: name
        in: query
        name: order
        schema:
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductFolderList"
          description: Успешный запрос
        default:
          $ref: "#/components/responses/CommonError"
      summary: Получить список групп товаров
      tags:
      - ProductFolders
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
    post:
      description: Создание новой группы товаров
      operationId: createProductFolder
      parameters:
      - description: Замена ссылок объектами с помощью expand
        example: "agent,organization"
        in: query
        name: expand
        schema:
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProductFolder"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductFolder"
          description: Группа товаров успешно создана
        default:
          $ref: "#/components/responses/CommonError"
      summary: Создать группу товаров
      tags:
      - ProductFolders
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/productfolder/{id}:
    delete:
      description: Удаление группы товаров с указанным id
      operationId: deleteProductFolder
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      responses:
        "200":
          description: Группа товаров успешно удалена
        default:
          $ref: "#/components/responses/CommonError"
      summary: Удалить группу товаров
      tags:
      - ProductFolders
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
    get:
      description: Запрос на получение отдельной группы товаров с указанным id
      operationId: getProductFolderById
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - description: Замена ссылок объектами с помощью expand
        example: "agent,organization"
        in: query
        name: expand
        schema:
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductFolder"
          description: Успешный запрос
        default:
          $ref: "#/components/responses/CommonError"
      summary: Получить группу товаров по ID
      tags:
      - ProductFolders
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
    put:
      description: Обновление группы товаров с указанным id
      operationId: updateProductFolder
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - description: Замена ссылок объектами с помощью expand
        example: "agent,organization"
        in: query
        name: expand
        schema:
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProductFolder"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductFolder"
          description: Группа товаров успешно обновлена
        default:
          $ref: "#/components/responses/CommonError"
      summary: Обновить группу товаров
      tags:
      - ProductFolders
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/productfolder/delete:
    post:
      description: Массовое удаление групп товаров по их мета-объектам.
      operationId: deleteProductFoldersBatch
      parameters:
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: "#/components/schemas/ProductFolder"
              maxItems: 1000
              minItems: 1
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/deleteContractsBatch_200_response_inner"
                maxItems: 1000
                minItems: 1
                type: array
          description: Результат по каждому элементу (успех или объект ошибки)
        default:
          $ref: "#/components/responses/CommonError"
      summary: Удалить группы товаров
      tags:
      - ProductFolders
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/productfolder/batch:
    post:
      description: Создание или изменение нескольких групп товаров.
      operationId: createProductFoldersBatch
      parameters:
      - description: Замена ссылок объектами с помощью expand
        example: "agent,organization"
        in: query
        name: expand
        schema:
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: "#/components/schemas/ProductFolder"
              maxItems: 1000
              minItems: 1
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/createProductFoldersBatch_200_response_inner"
                maxItems: 1000
                minItems: 1
                type: array
          description: Группы товаров созданы или изменены (элемент — сущность или
            объект ошибки)
        default:
          $ref: "#/components/responses/CommonError"
      summary: Создать или изменить группы товаров
      tags:
      - ProductFolders
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/uom:
    get:
      description: Запрос всех единиц измерения на данной учетной записи
      operationId: getUoms
      parameters:
      - description: Максимальное количество элементов в выданном списке (максимум
          1000)
        in: query
        name: limit
        schema:
          default: 1000
          maximum: 1000
          minimum: 1
          type: integer
      - description: Отступ в выданном списке
        in: query
        name: offset
        schema:
          default: 0
          minimum: 0
          type: integer
      - description: Контекстный поиск по строковым полям сущностей
        in: query
        name: search
        schema:
          example: name=123
          type: string
      - description: Фильтрация выборки
        example: archived=false
        in: query
        name: filter
        schema:
          type: string
      - description: Замена ссылок объектами с помощью expand
        example: "agent,organization"
        in: query
        name: expand
        schema:
          type: string
      - description: Сортировка
        example: name
        in: query
        name: order
        schema:
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UomList"
          description: Успешный запрос
        default:
          $ref: "#/components/responses/CommonError"
      summary: Получить список единиц измерения
      tags:
      - Uoms
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
    post:
      description: Создание новой единицы измерения
      operationId: createUom
      parameters:
      - description: Замена ссылок объектами с помощью expand
        example: "agent,organization"
        in: query
        name: expand
        schema:
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      - in: header
        name: Content-Type
        required: false
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Uom"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Uom"
          description: Единица измерения успешно создана
        default:
          $ref: "#/components/responses/CommonError"
      summary: Создать единицу измерения
      tags:
      - Uoms
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
  /entity/uom/{id}:
    delete:
      description: Удаление единицы измерения с указанным id
      operationId: deleteUom
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      responses:
        "200":
          description: Единица измерения успешно удалена
        default:
          $ref: "#/components/responses/CommonError"
      summary: Удалить единицу измерения
      tags:
      - Uoms
      x-accepts:
      - application/json
      - text/html;charset=UTF-8
    get:
      description: Запрос на получение отдельной единицы измерения с указанным id
      operationId: getUomById
      parameters:
      - description: ID сущности
        in: path
        name: id
        required: true
        schema:
          example: 12a8b923-692c-11e6-8a84-bae500000053
          format: uuid
          type: string
      - description: Замена ссылок объектами с помощью expand
        example: "agent,organization"
        in: query
        name: expand
        schema:
          type: string
      - in: header
        name: accept
        required: false
        schema:
          default: application/json;charset=utf-8
          enum:
          - application/json
          - application/json;charset=utf-8
          type: string
      - in: header
        name: Accept-Encoding
        required: false
        schema:
          default: "gzip, deflate, br"
          example: "gzip, deflate, br"
          type: string
      responses:
        "200":
          content:
            application/json:
[...]
